extends ../example.pug

block example_title
  h1.font-weight-normal Colors

block example_result
  each text, variant in extraColors
    if variant != 'white'
      +text_variant(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in extraColors
      if variant != 'white'
        div(class='text-' + variant)= text
