extends ../example.pug

block example_title
  h4.fw-400 Hover opacity

block example_body
  .card-body.bg-black.bg-striped
    each text, variant in colors
      +text_hover_alpha(text, variant, 50)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      div(class='text-hover-' + variant + '-50')= text
