extends ../example.pug

block example_title
  h3.fw-400 Alpha

block example_body
  .card-body.bg-black.bg-striped
    each text, variant in colors
      +text_alpha(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      div(class='text-' + variant + '-50')= text
