extends ../example.pug

block example_title
  h1.font-weight-normal Ribbon

block example_body
  .card-body
    each text, variant in colors
      if variant != 'black' && variant != 'white'
        +text_ribbon(text, variant)
  .card-body.bg-dark.bg-striped
    +text_ribbon('White', 'white')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      if variant != 'black'
        div(class='text-ribbon-' + variant)= text
