extends ../example-html.pug

block example_title
  h4.fw-400 Spacing responsive

block example_code
  :encode-pug
    | <!-- Source -->
    each size in ['0', 'auto']
      each breakpoint in ['sm', 'md', 'lg', 'xl']
        div(class='top-' + breakpoint + '-' + size)
        div(class='right-' + breakpoint + '-' + size)
        div(class='bottom-' + breakpoint + '-' + size)
        div(class='left-' + breakpoint + '-' + size)
        ="\n"
