h3.font-weight-normal Spacing

.card.card-body.bg-light.mb-3
  pre
    code.language-markup
      :encode-pug
        | <!-- Source -->
        .top-0
        .right-0
        .bottom-0
        .left-0
        ="\n"
        .top-auto
        .right-auto
        .bottom-auto
        .left-auto
