extends ../example.pug

block example_description
  +example_description('sidebar', 'color')

block example_result
  .row
    .col-12.col-lg-4.col-sm.mb-gutter
      .sidebar.sidebar-dark.bg-dark.sidebar-expand
        a.sidebar-brand(href="#") Brand
        ul.sidebar-nav
          - for(var i = 1; i <= 5; i++)
            li.nav-item
              a.nav-link(href="#")= 'Nav item ' + i
    .col-12.col-lg-4.col-sm-6.mb-gutter
      .sidebar.sidebar-light.bg-light.sidebar-expand
        a.sidebar-brand(href="#") Brand
        ul.sidebar-nav
          - for(var i = 1; i <= 5; i++)
            li.nav-item
              a.nav-link(href="#")= 'Nav item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    .sidebar.sidebar-dark.bg-dark.sidebar-expand
      ="\n  "
      a.sidebar-brand(href="#") Brand
      ul.sidebar-nav
        - for(var i = 1; i <= 5; i++)
          li.nav-item
            a.nav-link(href="#")= 'Nav item ' + i
    .sidebar.sidebar-light.bg-light.sidebar-expand
      ="\n  "
      a.sidebar-brand(href="#") Brand
      ul.sidebar-nav
        - for(var i = 1; i <= 5; i++)
          li.nav-item
            a.nav-link(href="#")= 'Nav item ' + i
