extends ../example.pug

block head_title
  +example_head_title('sidebar', 'nav_size')

block meta_description
  +example_meta_description('sidebar', 'nav_size')

block breadcrumb
  +example_breadcrumb('sidebar')

block example_description
  +example_description('sidebar', 'nav_size')

block example_result
  .row
    .col-12.col-sm-7.col-md-6.col-xl-5
      .sidebar.sidebar-dark.bg-dark.sidebar-expand
        a.sidebar-brand(href="#") Brand
        - for(var size = 5; size > 0; size--)
          ul.sidebar-nav.sidebar-nav-x-3.sidebar-nav-y-5(class='fs-' + size)
            li.nav-item
              a.nav-link(href="#")= 'Nav item ' + size

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 0; size <= 5; size++)
      if size != 0
        ul.sidebar-nav(class='sidebar-nav-' + size)
      ul.sidebar-nav(class='sidebar-nav-x-' + size)
      ul.sidebar-nav(class='sidebar-nav-y-' + size)
      ="\n"

block example_after
  #responsive.pt-3
    h2.h4.fw-400.mb-3 Responsive
    .card.card-body.bg-card-cap
      +example_code
        :encode-pug
          | <!-- Source -->
          each breakpoint in ['sm', 'md', 'lg', 'xl']
            - for(var size = 0; size <= 5; size++)
              if size != 0
                ul.sidebar-nav(class='sidebar-nav-' + breakpoint + '-' + size)
              ul.sidebar-nav(class='sidebar-nav-x-' + breakpoint + '-' + size)
              ul.sidebar-nav(class='sidebar-nav-y-' + breakpoint + '-' + size)
              ="\n"
            ="\n"
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
