extends ../example.pug

block head_title
  +example_head_title('sidebar', 'size')

block meta_description
  +example_meta_description('sidebar', 'size')

block breadcrumb
  +example_breadcrumb('sidebar')

block example_description
  +example_description('sidebar', 'size')

block example_result
  .row
    - for(var size = 1; size <= 5; size++)
      .col-12.col-sm-6.mb-gutter(class=size >= 4 ? ['col-xl-5', 'col-md-6'] : 'col-md-4')
        .sidebar.sidebar-dark.bg-dark.sidebar-expand(class='sidebar-' + size)
          a.sidebar-brand(href="#") Brand
          ul.sidebar-nav
            - for(var i = 1; i <= 5; i++)
              li.nav-item
                a.nav-link(href="#")= 'Nav item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 5; size++)
      .sidebar.sidebar-dark.bg-dark.sidebar-expand(class='sidebar-' + size)

block example_after
  #responsive.pt-3
    h2.h4.fw-400.mb-3 Responsive
  .card.card-body.bg-card-cap
    +example_code
      :encode-pug
        | <!-- Source -->
        each breakpoint in ['sm', 'md', 'lg', 'xl']
          - for(var size = 1; size <= 5; size++)
            .sidebar(class='sidebar-' + breakpoint + '-' + size)
          ="\n"
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
