// Border width
.border-2        { border: 2px !important; }
.border-top-2    { border-top: 2px !important; }
.border-right-2  { border-right: 2px !important; }
.border-bottom-2 { border-bottom: 2px !important; }
.border-left-2   { border-left: 2px !important; }
