// Colors
.breadcrumb-inverse {
  .breadcrumb-item {
    color: $breadcrumb-inverse-color;

    @include hover-focus {
      color: $breadcrumb-inverse-hover-color;
    }

    &.active {
      color: $breadcrumb-inverse-active-color;
    }

    + .breadcrumb-item::before {
      color: $breadcrumb-inverse-divider-color;
    }
  }

  .breadcrumb-link {
    color: $breadcrumb-inverse-color;

    @include hover-focus {
      color: -hover-color;
    }

    .active > &,
    .show > &,
    &.active {
      color: $breadcrumb-inverse-active-color;
    }
  }
}

// Arrows
.breadcrumb-rang {
  @include breadcrumb-divider($breadcrumb-divider-rang);
}
.breadcrumb-raquo {
  @include breadcrumb-divider($breadcrumb-divider-raquo);
}
.breadcrumb-rarr {
  @include breadcrumb-divider($breadcrumb-divider-rarr);
}
.breadcrumb-rsaquo {
  @include breadcrumb-divider($breadcrumb-divider-rsaquo);
}

// Transparent
.breadcrumb-transparent {
  background-color: transparent;
  padding: 0;
}
