// Image overlay
.card-img-overlay-bottom {
  top: auto;
}

// Image directions
.card-img-left {
  @include border-left-radius($card-inner-border-radius);
}
.card-img-right {
  @include border-right-radius($card-inner-border-radius);
}

// Background variations
.card-white {
  @include card-variant($white, $white);
}
.card-black {
  @include card-variant($black, $black);
}
.card-purple {
  @include card-variant($purple, $purple);
}
.card-pink {
  @include card-variant($pink, $pink);
}
.card-yellow {
  @include card-variant($yellow, $yellow);
}

// Outline
.card-outline-white {
  @include card-outline-variant($btn-white-bg);
}
.card-outline-black {
  @include card-outline-variant($btn-black-bg);
}
.card-outline-purple {
  @include card-outline-variant($btn-purple-bg);
}
.card-outline-pink {
  @include card-outline-variant($btn-pink-bg);
}
.card-outline-yellow {
  @include card-outline-variant($btn-yellow-bg);
}

// Hover
.card-hover-primary {
  @include card-hover-variant($brand-primary, $brand-primary);
}
.card-hover-success {
  @include card-hover-variant($brand-success, $brand-success);
}
.card-hover-info {
  @include card-hover-variant($brand-info, $brand-info);
}
.card-hover-warning {
  @include card-hover-variant($brand-warning, $brand-warning);
}
.card-hover-danger {
  @include card-hover-variant($brand-danger, $brand-danger);
}
.card-hover-white {
  @include hover-focus {
    @include card-variant($white, $white);

    color: $body-color;

    .card-header,
    .card-footer {
      background-color: transparent;
      border-color: $body-color;
    }

    .card-header,
    .card-footer,
    .card-title,
    .card-blockquote {
      color: $body-color;
    }

    .card-text,
    .card-subtitle,
    .card-blockquote .blockquote-footer {
      color: $body-color;
    }

    .card-link {
      color: $link-color;

      @include hover-focus {
        color: $link-hover-color;
      }
    }
  }
}
.card-hover-black {
  @include card-hover-variant($black, $black);
}
.card-hover-purple {
  @include card-hover-variant($purple, $purple);
}
.card-hover-pink {
  @include card-hover-variant($pink, $pink);
}
.card-hover-yellow {
  @include card-hover-variant($yellow, $yellow);
}

// Glass
.card-glass-primary {
  @include card-glass-variant($brand-primary, $brand-primary, $opacity-glass);
}
.card-glass-success {
  @include card-glass-variant($brand-success, $brand-success, $opacity-glass);
}
.card-glass-info {
  @include card-glass-variant($brand-info, $brand-info, $opacity-glass);
}
.card-glass-warning {
  @include card-glass-variant($brand-warning, $brand-warning, $opacity-glass);
}
.card-glass-danger {
  @include card-glass-variant($brand-danger, $brand-danger, $opacity-glass);
}
.card-glass-white {
  @include card-glass-variant($white, $white, $opacity-glass);
}
.card-glass-black {
  @include card-glass-variant($black, $black, $opacity-glass);
}
.card-glass-purple {
  @include card-glass-variant($purple, $purple, $opacity-glass);
}
.card-glass-pink {
  @include card-glass-variant($pink, $pink, $opacity-glass);
}
.card-glass-yellow {
  @include card-glass-variant($yellow, $yellow, $opacity-glass);
}
