// Dropdown directions
.dropup,
.dropright,
.dropdown,
.dropleft {
  .dropdown-menu {
    margin: 0;
  }
}

.dropup {
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
  }
}

.dropright,
.dropleft {
  position: relative;

  .dropdown-menu {
    top: 0;
  }

  .dropdown-menu & .dropdown-menu {
    top: calc(-#{$dropdown-padding-y} - #{$dropdown-border-width});
  }
}

.dropright {
  .dropdown-menu {
    left: 100%;
  }

  .dropdown-toggle {
    &::after {
      vertical-align: middle;
      border-top: $caret-width solid transparent;
      border-right: 0;
      border-bottom: $caret-width solid transparent;
      border-left: $caret-width solid;
    }
  }
}

.dropleft {
  .dropdown-menu {
    left: auto;
    right: 100%;
  }

  .dropdown-toggle {
    &::after {
      margin: 0;
      border: none;
    }

    &::before {
      display: inline-block;
      width: 0;
      height: 0;
      margin-right: $caret-width * .85;
      vertical-align: middle;
      content: "";
      border-top: $caret-width solid transparent;
      border-right: $caret-width solid;
      border-bottom: $caret-width solid transparent;
    }
  }
}

// Active
.show {
  // Show the menu
  > .dropdown-menu {
    display: block;
  }
}

// Menu position
.dropdown-menu-right {
  right: 0;
  left: auto; // Reset the default from `.dropdown-menu`
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

// Scrolled
.dropdown-menu-scrolled {
  max-height: 300px;
  overflow-y: scroll;
}

// Mega menu
.dropdown-fluid {
  position: static !important;
}

.dropdown-menu-auto {
  left: auto;
}

.dropdown-menu-fluid {
  left: 0;
  right: 0;
}

.dropdown-menu-content {
  padding: $dropdown-menu-content-padding;
}
