// Font sizes
.font-size-xs  { font-size: $font-size-xs; }
.font-size-sm  { font-size: $font-size-sm; }
.font-size-lg  { font-size: $font-size-lg; }
.font-size-xl  { font-size: $font-size-xl; }
.font-size-xxl { font-size: $font-size-xxl; }
.font-size-3xl { font-size: $font-size-3xl; }
.font-size-4xl { font-size: $font-size-4xl; }

// Font weights - https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#Common_weight_name_mapping
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .font-weight#{$infix}-thin        { font-weight: 100; }
    .font-weight#{$infix}-extra-light { font-weight: 200; }
    .font-weight#{$infix}-light       { font-weight: 300; }
    .font-weight#{$infix}-medium      { font-weight: 500; }
    .font-weight#{$infix}-semi-bold   { font-weight: 600; }
    .font-weight#{$infix}-extra-bold  { font-weight: 800; }
    .font-weight#{$infix}-black       { font-weight: 900; }
  }
}
