// Font sizes
.font-size-xs  { font-size: $font-size-xs; }
.font-size-sm  { font-size: $font-size-sm; }
.font-size-lg  { font-size: $font-size-lg; }

// Font weights - https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#Common_weight_name_mapping
.font-weight-thin        { font-weight: 100; }
.font-weight-extra-light { font-weight: 200; }
.font-weight-light       { font-weight: 300; }
.font-weight-medium      { font-weight: 500; }
.font-weight-semi-bold   { font-weight: 600; }
.font-weight-extra-bold  { font-weight: 800; }
.font-weight-black       { font-weight: 900; }
