// Colors
$brand-premium: $purple !default;
$brand-pretty:  $pink !default;
$brand-star:    $yellow !default;

// Fonts
$font-size-xl:  1.5rem !default;
$font-size-xxl: 1.75rem !default;
$font-size-3xl: 2rem !default;
$font-size-4xl: 2.5rem !default;

// Grid containers
$container-sm-max-widths: (
  sm: map-get($container-max-widths, sm),
  md: map-get($container-max-widths, sm),
  lg: map-get($container-max-widths, sm),
  xl: map-get($container-max-widths, sm)
) !default;

$container-md-max-widths: (
  sm: map-get($container-max-widths, sm),
  md: map-get($container-max-widths, md),
  lg: map-get($container-max-widths, md),
  xl: map-get($container-max-widths, md)
) !default;

$container-lg-max-widths: (
  sm: map-get($container-max-widths, sm),
  md: map-get($container-max-widths, md),
  lg: map-get($container-max-widths, lg),
  xl: map-get($container-max-widths, lg)
) !default;

// Components
$border-radius-xs: .1rem !default;
$line-height-xs: 1.5 !default;
$opacity-glass: .5 !default;

// Buttons
$input-btn-padding-y-xs: .1rem !default;
$input-btn-padding-x-xs: .25rem !default;

$btn-border-radius-xs: $border-radius-xs !default;

$btn-glass-opacity: $opacity-glass !default;

$btn-default-color:  $gray-dark !default;
$btn-default-bg:     $white !default;
$btn-default-border: $btn-default-bg !default;

$btn-inverse-color:  $white !default;
$btn-inverse-bg:     $brand-inverse !default;
$btn-inverse-border: $btn-inverse-bg !default;

$btn-premium-color:  $white !default;
$btn-premium-bg:     $brand-premium !default;
$btn-premium-border: $btn-premium-bg !default;

$btn-pretty-color:   $white !default;
$btn-pretty-bg:      $brand-pretty !default;
$btn-pretty-border:  $btn-pretty-bg !default;

$btn-star-color:     $white !default;
$btn-star-bg:        $brand-star !default;
$btn-star-border:    $btn-star-bg !default;

// Dropdown
$dropdown-menu-content-padding: 1.5rem !default;

// Navbar
$navbar-padding-y-sm:       ($spacer * .25) !default;
$navbar-brand-padding-y-sm: .1rem;
$navbar-nav-padding-y-sm:   .25rem;
$navbar-text-padding-y-sm:  .25rem;

$navbar-padding-y-lg:       ($spacer * .75) !default;
$navbar-brand-padding-y-lg: .5rem;
$navbar-nav-padding-y-lg:   .675rem;
$navbar-text-padding-y-lg:  .675rem;

$navbar-height:    3.5rem !default;
$navbar-height-sm: 2.2rem !default;
$navbar-height-lg: 4.75rem !default;

// Navs
$nav-link-padding-x-xs: .25em !default;
$nav-link-padding-y-xs: .1em !default;

$nav-link-padding-x-sm: .5em !default;
$nav-link-padding-y-sm: .25em !default;

$nav-link-padding-x-lg: 1.5em !default;
$nav-link-padding-y-lg: .75em !default;

// Badges
$badge-inverse-bg: $brand-inverse !default;
$badge-premium-bg: $brand-premium !default;
$badge-pretty-bg:  $brand-pretty !default;
$badge-star-bg:    $brand-star !default;

// Progress
$progress-height-xs:    .75rem !default;
$progress-font-size-xs: .65rem !default;

$progress-height-sm:    .875rem !default;
$progress-font-size-sm: .75rem !default;

$progress-height-lg:    1.25rem !default;
$progress-font-size-lg: 1rem !default;

$progress-height-xl:    1.5rem !default;
$progress-font-size-xl: 1.25rem !default;

// List group
$list-group-item-padding-x-xs: .75rem !default;
$list-group-item-padding-y-xs: .25rem !default;

$list-group-item-padding-x-sm: 1rem !default;
$list-group-item-padding-y-sm: .5rem !default;

$list-group-item-padding-x-lg: 1.5rem !default;
$list-group-item-padding-y-lg: 1rem !default;

// Breadcrumb
$breadcrumb-divider-rang:   "〉" !default;
$breadcrumb-divider-raquo:  "»" !default;
$breadcrumb-divider-rarr:   "→" !default;
$breadcrumb-divider-rsaquo: "›" !default;

$breadcrumb-inverse-color:         rgba($white,1) !default;
$breadcrumb-inverse-hover-color:   rgba($white,.75) !default;
$breadcrumb-inverse-active-color:  rgba($white,.5) !default;
$breadcrumb-inverse-divider-color: rgba($white,.5) !default;
