// Large spcing
$large-spacers: (
  6:  ($spacer * 6),
  7:  ($spacer * 7),
  8:  ($spacer * 8),
  9:  ($spacer * 9),
  10: ($spacer * 10),
  11: ($spacer * 11),
  12: ($spacer * 12)
) !default;

// Fonts
$font-size-xl:  1.5rem !default;
$font-size-xxl: 1.75rem !default;
$font-size-3xl: 2rem !default;
$font-size-4xl: 2.5rem !default;

// Grid containers
$container-sm-max-widths: (
  sm: map-get($container-max-widths, sm),
  md: map-get($container-max-widths, sm),
  lg: map-get($container-max-widths, sm),
  xl: map-get($container-max-widths, sm)
) !default;

$container-md-max-widths: (
  sm: map-get($container-max-widths, sm),
  md: map-get($container-max-widths, md),
  lg: map-get($container-max-widths, md),
  xl: map-get($container-max-widths, md)
) !default;

$container-lg-max-widths: (
  sm: map-get($container-max-widths, sm),
  md: map-get($container-max-widths, md),
  lg: map-get($container-max-widths, lg),
  xl: map-get($container-max-widths, lg)
) !default;

// Components
$border-radius-xs: .1rem !default;
$line-height-xs: 1.5 !default;
$opacity-glass: .5 !default;

// Buttons
$input-btn-padding-y-xs: .1rem !default;
$input-btn-padding-x-xs: .25rem !default;

$btn-border-radius-xs: $border-radius-xs !default;

$btn-glass-opacity: $opacity-glass !default;

$btn-white-color:  $gray-dark !default;
$btn-white-bg:     $white !default;
$btn-white-border: $btn-white-bg !default;

$btn-black-color:  $white !default;
$btn-black-bg:     $black !default;
$btn-black-border: $btn-black-bg !default;

$btn-purple-color:  $white !default;
$btn-purple-bg:     $purple !default;
$btn-purple-border: $btn-purple-bg !default;

$btn-pink-color:   $white !default;
$btn-pink-bg:      $pink !default;
$btn-pink-border:  $btn-pink-bg !default;

$btn-yellow-color:     $white !default;
$btn-yellow-bg:        $yellow !default;
$btn-yellow-border:    $btn-yellow-bg !default;

// Dropdown
$dropdown-menu-content-padding: 1.5rem !default;

// Navbar
$navbar-padding-y-sm:       ($spacer * .25) !default;
$navbar-brand-padding-y-sm: .1rem;
$navbar-nav-padding-y-sm:   .25rem;
$navbar-text-padding-y-sm:  .25rem;

$navbar-padding-y-lg:       ($spacer * .75) !default;
$navbar-brand-padding-y-lg: .5rem;
$navbar-nav-padding-y-lg:   .675rem;
$navbar-text-padding-y-lg:  .675rem;

$navbar-height:    3.5rem !default;
$navbar-height-sm: 2.2rem !default;
$navbar-height-lg: 4.75rem !default;

// Navs
$nav-link-active-color: $gray !default;

$nav-link-padding-x-xs: .25em !default;
$nav-link-padding-y-xs: .1em !default;

$nav-link-padding-x-sm: .5em !default;
$nav-link-padding-y-sm: .25em !default;

$nav-link-padding-x-lg: 1.5em !default;
$nav-link-padding-y-lg: .75em !default;

// Badges
$badge-black-bg:  $black !default;
$badge-purple-bg: $purple !default;
$badge-pink-bg:   $pink !default;
$badge-yellow-bg: $yellow !default;

// Progress
$progress-height-xs:    .75rem !default;
$progress-font-size-xs: .65rem !default;

$progress-height-sm:    .875rem !default;
$progress-font-size-sm: .75rem !default;

$progress-height-lg:    1.25rem !default;
$progress-font-size-lg: 1rem !default;

$progress-height-xl:    1.5rem !default;
$progress-font-size-xl: 1.25rem !default;

// List group
$list-group-item-padding-x-xs: .75rem !default;
$list-group-item-padding-y-xs: .25rem !default;

$list-group-item-padding-x-sm: 1rem !default;
$list-group-item-padding-y-sm: .5rem !default;

$list-group-item-padding-x-lg: 1.5rem !default;
$list-group-item-padding-y-lg: 1rem !default;

// Breadcrumb
$breadcrumb-divider-rang:   "〉" !default;
$breadcrumb-divider-raquo:  "»" !default;
$breadcrumb-divider-rarr:   "→" !default;
$breadcrumb-divider-rsaquo: "›" !default;

$breadcrumb-inverse-color:         rgba($white,1) !default;
$breadcrumb-inverse-hover-color:   rgba($white,.75) !default;
$breadcrumb-inverse-active-color:  rgba($white,.5) !default;
$breadcrumb-inverse-divider-color: rgba($white,.5) !default;
