extends ../example.pug

block example_title
  h4.fw-400 Column size
  span.badge.badge-success.text-uppercase.mb-3 New

block example_result
  .row
    - for(var i = 1; i <= 5; i++)
      .col-2-5
        .w-100.bg-secondary(style="height: 40px;")

block example_code
  :encode-pug
    | <!-- Source -->
    .col-2-5
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      div(class='col-' + breakpoint + '-2-5')
