extends ../example.pug

block example_title
  h3.font-weight-normal Container sizes

block example_result
  .row
    .col-sm-4.offset-sm-4
      .bg-dark.text-white.p-2.mb-3.text-center 540px
  .row
    .col-sm-6.offset-sm-3
      .bg-dark.text-white.p-2.mb-3.text-center 720px
  .row
    .col-sm-8.offset-sm-2
      .bg-dark.text-white.p-2.text-center 960px

block example_code
  :encode-pug
    | <!-- Source -->
    .container.container-sm
    .container.container-md
    .container.container-lg
