extends ../example-html.pug

block example_title
  h3.fw-400 Container

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['md', 'lg', 'xl']
      div(class='container-' + breakpoint)
