h3.font-weight-normal Gutter spacing

.card.card-body.bg-light.mb-3
  pre
    code.language-markup
      :encode-pug
        | <!-- Source -->
        .m-gutter
        .mx-gutter
        .my-gutter
        .mt-gutter
        .mr-gutter
        .mb-gutter
        .ml-gutter
        ="\n"
        .p-gutter
        .px-gutter
        .py-gutter
        .pt-gutter
        .pr-gutter
        .pb-gutter
        .pl-gutter
