extends ../example-html.pug

block example_title
  h4.fw-400 Gutter spacing responsive

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      div(class='m-gutter-' + breakpoint)
      div(class='mx-gutter-' + breakpoint)
      div(class='my-gutter-' + breakpoint)
      div(class='mt-gutter-' + breakpoint)
      div(class='mr-gutter-' + breakpoint)
      div(class='mb-gutter-' + breakpoint)
      div(class='ml-gutter-' + breakpoint)
      ="\n"
      div(class='p-' + breakpoint + '-gutter-' + breakpoint)
      div(class='px-' + breakpoint + '-gutter-' + breakpoint)
      div(class='py-' + breakpoint + '-gutter-' + breakpoint)
      div(class='pt-' + breakpoint + '-gutter-' + breakpoint)
      div(class='pr-' + breakpoint + '-gutter-' + breakpoint)
      div(class='pb-' + breakpoint + '-gutter-' + breakpoint)
      div(class='pl-gutter-' + breakpoint)
      ="\n"
      - for(var size = 1; size <= 3; size++)
        div(class='m-gutter-' + breakpoint + '-' + size)
        div(class='mx-gutter-' + breakpoint + '-' + size)
        div(class='my-gutter-' + breakpoint + '-' + size)
        div(class='mt-gutter-' + breakpoint + '-' + size)
        div(class='mr-gutter-' + breakpoint + '-' + size)
        div(class='mb-gutter-' + breakpoint + '-' + size)
        div(class='ml-gutter-' + breakpoint + '-' + size)
        ="\n"
        div(class='p-gutter-' + breakpoint + '-' + size)
        div(class='px-gutter-' + breakpoint + '-' + size)
        div(class='py-gutter-' + breakpoint + '-' + size)
        div(class='pt-gutter-' + breakpoint + '-' + size)
        div(class='pr-gutter-' + breakpoint + '-' + size)
        div(class='pb-gutter-' + breakpoint + '-' + size)
        div(class='pl-gutter-' + breakpoint + '-' + size)
        ="\n"
