extends ../example.pug

block example_title
  h4.fw-400 Row size
  span.badge.badge-success.text-uppercase.mb-3 New

block example_result
  - for(var size = 1; size <= 3; size++)
    .mb-3(class="row-" + size)
      - for(var i = 1; i <= 4; i++)
        .col-3
          .w-100.bg-secondary(style="height: 40px;")

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 3; size++)
      div(class="row-" + size)
