mixin border(text, classes)
  .d-inline-block.mr-1.mb-2.p-2(class=classes)= text

mixin border_variant(text, variant)
  +border(text, ['border', 'border-1', 'border-' + variant, 'text-' + variant])

mixin border_opacity(text, variant)
  +border(text, ['border', 'border-3', 'border-' + variant, 'text-white'])

mixin border_width(width)
  .mb-3.border-top.border-primary(class="border-top-" + width)
