mixin border(text, classes)
  .d-inline-block.mr-1.mb-2.p-2(class=classes)= text

mixin border_variant(text, variant)
  +border(text, ['border-solid', 'border-1', 'border-' + variant, 'text-' + variant])

mixin border_alpha(text, variant)
  +border(text, ['border-solid', 'border-3', 'border-' + variant, 'text-white'])

mixin border_hover(text, variant)
  +border(text, ['border-hover-' + variant, 'text-' + variant, 'card'])

mixin border_hover_inverse(text, variant)
  +border(text, ['border-hover-' + variant, 'text-' + variant, 'card', 'bg-transparent', 'border-black'])

mixin border_hover_alpha(text, variant, alpha)
  +border(text, ['border-hover-' + variant + '-' + alpha, 'border-' + variant, 'card', 'bg-transparent', 'border-3'])

mixin border_style(text, style)
  +border(text, ['border-3', 'border-' + style, 'border-primary', 'text-primary'])

mixin border_width(width)
  .mb-3.border-top-solid.border-primary(class="border-top-" + width)

mixin border_radius(text, position, radius)
  +border(text, ['border', 'border-primary', 'text-primary', 'rounded', 'rounded-' + position + '-' + radius])
