mixin button(text, classes)
  button.btn.mr-1.mb-2(type='button' class=classes)!= text

mixin button_variant(text, variant)
  +button(text, 'btn-'+variant)

mixin button_outline(text, variant)
  +button(text, 'btn-outline-' + variant)

mixin button_3d(text, variant)
  +button(text, 'btn-3d-' + variant)

mixin button_state(text, variant)
  +button(text, 'btn-state-' + variant)

mixin button_size(text, size)
  +button(text, ['btn-secondary', 'btn-' + size])

mixin button_active(text, variant)
  +button(text, ['active', 'btn-secondary', 'btn-active-' + variant])

mixin button_hover(text, variant)
  +button(text, ['btn-secondary', 'btn-hover-' + variant])
