mixin form_control(placeholder, classes)
  input.form-control(type='text', placeholder=placeholder, class=classes)

mixin form_control_variant(placeholder, variant)
  +form_control(placeholder, 'input-' + variant)
