mixin list_group_item(text, classes)
  a.list-group-item.list-group-item-action(href="#" class=classes)= text

mixin list_group_item_variant(text, variant)
  +list_group_item(text, 'list-group-item-' + variant)

mixin list_group(classes)
  .list-group(class=classes)
    - for(var i = 1; i <= 5; i++)
      +list_group_item_variant('List item ' + i, 'action')

mixin list_group_variant(variant)
  +list_group('list-group-' + variant)
