mixin navbar_nav(classes)
  ul.navbar-nav(class=classes)
    - for(var i = 1; i <= 3; i++)
      li.nav-item: a.nav-link(href='#')= 'Nav item ' + i

mixin navbar(classes)
  nav.navbar(class=classes)
    button.navbar-toggler.mr-3(type="button")
      span.tribar.navbar-toggler-tribar
    = "\n\t"
    a.navbar-brand(href="#") Navbar
    .collapse.navbar-collapse
      ul.navbar-nav
        - for(var i = 1; i <= 3; i++)
          li.nav-item: a.nav-link(href='#')= 'Nav item ' + i

mixin navbar_nav_size(size)
  nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.mb-3
    button.navbar-toggler.mr-3(type="button")
      span.tribar.navbar-toggler-tribar
    = "\n\t"
    a.navbar-brand(href="#") Navbar
    .collapse.navbar-collapse
      +navbar_nav('navbar-nav-' + size)

mixin navbar_size(size)
  +navbar(['navbar-expand-sm', 'navbar-dark', 'bg-dark', 'navbar-' + size, 'mb-3'])
