mixin pagination(classes)
  nav
    ul.pagination(class=classes)
      li.page-item
        a.page-link(href='#') #[span(aria-hidden="true") &laquo;]
      - for(var i = 1; i <= 3; i++)
        li.page-item(class={active: i === 1})
          a.page-link(href='#')= i
      li.page-item
        a.page-link(href='#') #[span(aria-hidden="true") &raquo;]

mixin pagination_variant(variant)
  +pagination('pagination-' + variant)
