extends ../example.pug

block example_title
  h3.font-weight-normal Color

block example_result
  .row
    each text, variant in colors
      if variant != 'black' && variant != 'white'
        .col-3
          .card.card-body.mb-3(class='card-' + variant)
            h4.card-title= text
            p.card-text Example text

block example_code
  :encode-pug
    | <!-- Source -->
    .card
      .card-body
        h4.card-title Directions
        p.card-text Example text
