extends ../example.pug

block example_title
  h3.font-weight-normal Footer tabs

block example_result
  .card
    .card-body
      h4.card-title Directions
      p.card-text Example text
    .card-footer
      ul.nav.nav-tabs.nav-tabs-bottom.card-footer-tabs
        li.nav-item: a.nav-link.active(href="#") Active
        li.nav-item: a.nav-link(href="#") Link
        li.nav-item: a.nav-link.disabled(href="#") Disabled

block example_code
  :encode-pug
    | <!-- Source -->
    .card
      .card-body
        h4.card-title Directions
        p.card-text Example text
      .card-footer
        ul.nav.nav-tabs.nav-tabs-bottom.card-footer-tabs
          li.nav-item: a.nav-link.active(href="#") Active
          li.nav-item: a.nav-link(href="#") Link
          li.nav-item: a.nav-link.disabled(href="#") Disabled
