extends ../example.pug

block example_title
  h3.font-weight-normal Image overlay position

block example_result
  .card.bg-dark.text-white
    img.card-img(src="" width="100%" height="200px")
    .card-img-overlay.card-img-overlay-bottom
      h4.card-title Directions
      p.card-text Example text

block example_code
  :encode-pug
    | <!-- Source -->
    .card.bg-dark.text-white
      img.card-img(src="" width="100%" height="200px")
      .card-img-overlay.card-img-overlay-bottom
        h4.card-title Directions
        p.card-text Example text
