extends ../example.pug

block example_title
  h3.font-weight-normal Image position

block example_result
  .card
    .row
      .col-sm.col-sm-auto.pr-0
        img.card-img-left(src="/assets/img/example.jpg" height="200px")
      .col-sm.px-0
        .card-body
          h4.card-title Directions
          p.card-text Example text
      .col-sm.col-sm-auto.pl-0
        img.card-img-right(src="/assets/img/example.jpg" height="200px")

block example_code
  :encode-pug
    | <!-- Source -->
    .card
      .row
        .col-sm.col-sm-auto
          img.card-img-left(src="" width="100px" height="100%")
        .col-sm
          .card-body
            h4.card-title Directions
            p.card-text Example text
        .col-sm.col-sm-auto
          img.card-img-right(src="" width="100px" height="100%")
