extends ../example.pug

block example_title
  h3.fw-400 Size

block example_result
  .row
    .col-md-4
      .card.card-xs
        .card-header
          ul.nav.nav-tabs.card-header-tabs
            li.nav-item: a.nav-link.active(href="#") Active
            li.nav-item: a.nav-link(href="#") Link
            li.nav-item: a.nav-link.disabled(href="#") Disabled
        .card-body
          h4.h6.card-title Extra small
          p.card-text Example text
        .card-footer
          ul.nav.nav-pills.card-footer-pills
            li.nav-item: a.nav-link.active(href="#") Active
            li.nav-item: a.nav-link(href="#") Link
            li.nav-item: a.nav-link.disabled(href="#") Disabled
    .col-md-4
      .card.card-sm
        .card-header
          ul.nav.nav-tabs.card-header-tabs
            li.nav-item: a.nav-link.active(href="#") Active
            li.nav-item: a.nav-link(href="#") Link
            li.nav-item: a.nav-link.disabled(href="#") Disabled
        .card-body
          h4.h5.card-title Small
          p.card-text Example text
        .card-footer
          ul.nav.nav-pills.card-footer-pills
            li.nav-item: a.nav-link.active(href="#") Active
            li.nav-item: a.nav-link(href="#") Link
            li.nav-item: a.nav-link.disabled(href="#") Disabled

block example_code
  :encode-pug
    | <!-- Source -->
    .card.card-xs
    .card.card-sm
