extends ../example.pug

block head_title
  +example_head_title('progress', 'vertical')

block meta_description
  +example_meta_description('progress', 'vertical')

block breadcrumb
  +example_breadcrumb('progress')

block example_description
  +example_description('progress', 'vertical')

block example_result
  .d-flex
    - for(var size = 1; size <= 4; size++)
      .progress.progress-vertical.mr-gutter(style={ height: '300px' })
        - var percent = size * 25
        .progress-bar(style={ height: percent + '%' })
          .progress-value!= percent + '%'

block example_code
  :encode-pug
    | <!-- Source -->
    .d-flex
      - for(var size = 1; size <= 4; size++)
        .progress.progress-vertical.mr-gutter(style={ height: '300px' })
          - var percent = size * 25
          .progress-bar(style={ height: percent + '%' })
            .progress-value!= percent + '%'
