extends ../example.pug

block head_title
  +example_head_title('progress', 'vertical')

block meta_description
  +example_meta_description('progress', 'vertical')

block breadcrumb
  +example_breadcrumb('progress')

block example_description
  +example_description('progress', 'vertical')

block example_result
  .d-flex
    - for(var size = 1; size <= 4; size++)
      .progress.progress-vertical.mr-gutter(style={ height: '300px' })
        - var percent = size * 25
        .progress-bar(style={ height: percent + '%' })
          .progress-value!= percent + '%'

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 4; size++)
      .progress.progress-vertical.mr-gutter(style={ height: '300px' })
        - var percent = size * 25
        .progress-bar(style={ height: percent + '%' })
          .progress-value!= percent + '%'

block example_after
  #sizes.pt-3
    h2.h4.font-400.mb-3 Sizes
    .card.mb-3
      .card-body
        .d-flex
          - for(var size = 1; size <= 5; size++)
            .progress.progress-vertical.mr-gutter(class='progress-' + size style={ height: '300px' })
              .progress-bar.h-50
                .progress-value 50%
      +example_footer
        :encode-pug
          | <!-- Source -->
          - for(var size = 1; size <= 5; size++)
            .progress.progress-vertical.mr-gutter(class='progress-' + size style={ height: '300px' })
              .progress-bar.h-50
                .progress-value 50%
  .clearfix

  #responsive.pt-3
    h2.h4.font-400.mb-3 Responsive
    .card.card-body.bg-card-cap
      +example_code
        :encode-pug
          | <!-- Source -->
          each breakpoint in ['sm', 'md', 'lg', 'xl']
            - for(var size = 1; size <= 5; size++)
              .progress.progress-vertical(class='progress-' + breakpoint + '-' + size)
            ="\n"
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#sizes") Sizes
  li.nav-item
    a.nav-link(href="#responsize") Responsive
