extends ../example.pug

block example_title
  h3.fw-400 Font sizes

block example_result
  - for(var size = 1; size <= 12; size++)
    +font_size('Font size ' + size, size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 12; size++)
      p(class='fs-' + size)= 'Font size ' + size
