extends ../example-html.pug

block example_title
  h4.fw-400 Responsive font sizes

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      - for(var size = 1; size <= 12; size++)
        p(class='fs-' + breakpoint + '-' + size)
      ="\n"
