extends ../example-html.pug

block example_title
  h4.font-weight-normal Responsive font sizes

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      - for(var size = 1; size <= 8; size++)
        p(class='font-size-' + breakpoint + '-' + size)
      ="\n"
