extends ../example.pug

block example_title
  h3.fw-400 Font weights

block example_result
  each text, weight in {'100': 'Thin', '200': 'Extra light', '300': 'Light', '400': 'Normal', '500': 'Medium', '600': 'Semi bold', '700': 'Bold', '800': 'Extra bold', '900': 'Black'}
    +font_weight(text, weight)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, weight in {'100': 'Thin', '200': 'Extra light', '300': 'Light', '400': 'Normal', '500': 'Medium', '600': 'Semi bold', '700': 'Bold', '800': 'Extra bold', '900': 'Black'}
      p(class='fw-' + weight)= text
