extends ../example.pug

block example_link
  a#grid-containers.text-gray-dark(href="#grid-containers") Containers

block example_result
  +container_example()

block example_code
  include ../sources/grid/containers.html
