extends ../example.pug

block example_link
  a#grid-gutter-spacing.text-gray-dark(href="#grid-gutter-spacing") Gutter spacing

block example_result
  .row.mb-gutter
    .col-sm-4.offset-sm-4
      .bg-inverse.pt-gutter
        .bg-faded.p-2.text-center 30px &uarr;
  .row.mb-gutter
    .col-sm-4.offset-sm-4
      .bg-inverse.py-gutter
        .bg-faded.p-2.text-center &darr; 30px &uarr;
  .row.mb-gutter
    .col-sm-4
      .bg-inverse.pr-gutter
        .bg-faded.p-2 30px &rarr;
    .col-sm-4
      .bg-inverse.px-gutter
        .bg-faded.p-2.text-center &larr; 30px &rarr;
    .col-sm-4
      .bg-inverse.pl-gutter
        .bg-faded.p-2.text-right &larr; 30px
  .row.mb-gutter
    .col-sm-4.offset-sm-4
      .bg-inverse.p-gutter
        .bg-faded.p-2.text-center 30px
  .row
    .col-sm-4.offset-sm-4
      .bg-inverse.pb-gutter
        .bg-faded.p-2.text-center 30px &darr;

block example_code
  :encode-pug
    | <!-- Source -->
    .m-gutter.p-gutter
    .mx-gutter.px-gutter
    .my-gutter.py-gutter
    .mt-gutter.pt-gutter
    .mr-gutter.pr-gutter
    .mb-gutter.pb-gutter
    .ml-gutter.pl-gutter
