| <!-- CSS -->
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
link(rel="stylesheet" href="https://cdn.rawgit.com/alextarkhov/postboot/v" + pkg.version + "/dist/css/" + pkg.name + ".min.css")
= "\n"
= "\n"
| <!-- JS -->
script(src="https://cdn.rawgit.com/alextarkhov/postboot/v" + pkg.version + "/dist/js/" + pkg.name + ".min.js")
