| <!-- CSS -->
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css")
link(rel="stylesheet" href="https://cdn.rawgit.com/alextarkhov/postboot/master/dist/css/" + pkg.name + ".min.css")
= "\n"
= "\n"
| <!-- JS -->
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js")
script(src="https://cdn.rawgit.com/alextarkhov/postboot/master/dist/js/" + pkg.name + ".min.js")
