extends ../example.pug

block example_link
  a.text-default(href="#text-colors") Colors

block example_result
  each text, variant in {'default': 'Default', 'inverse': 'Inverse', 'premium': 'Premium', 'pretty': 'Pretty', 'star': 'Star'}
    +text_variant(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in {'default': 'Default', 'inverse': 'Inverse', 'premium': 'Premium', 'pretty': 'Pretty', 'star': 'Star'}
      div(class='text-' + variant)= text
