extends ../example.pug

block example_title
  h3.font-weight-normal Alpha

block example_body
  .card-body.bg-dark.bg-striped.text-white
    each text, variant in colors
      +background_variant(text, variant + '-50')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      div(class='bg-' + variant + '-50')
