extends ../example.pug

block example_title
  h3.fw-400 Contain

block example_result
  .row
    .col-10.col-sm-8.col-md-6
      .bg-contain.w-100(style="background-image: url(/" + pkg.name + "/assets/img/home.jpg);background-repeat: no-repeat;height: 100px;")

block example_code
  :encode-pug
    | <!-- Source -->
    .bg-contain
