extends ../example.pug

block example_title
  h3.fw-400 Cover

block example_result
  .bg-cover.w-100(style="background-image: url(/" + pkg.name + "/assets/img/home.jpg);background-repeat: no-repeat;background-position: top left;height: 200px;")

block example_code
  :encode-pug
    | <!-- Source -->
    .bg-cover
