extends ../example.pug

block example_title
  h3.font-weight-normal Gradient

block example_body
  .card-body
    each text, variant in extraColors
      if variant != 'black' && variant != 'white'
        +background_gradient(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in extraColors
      if variant != 'black' && variant != 'white'
        p(class='bg-gradient-' + variant)= text
