extends ../example.pug

block example_title
  h3.fw-400 Hover opacity

block example_body
  .card-body.bg-dark.bg-striped.text-white
    each text, variant in colors
      +background_hover(text, variant + '-50', 'white')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      div(class='bg-hover-' + variant + '-50')
