extends ../example.pug

block example_title
  h3.fw-400 State

block example_result
  each text, variant in colors
    if variant != 'black' && variant != 'white'
      +background_state(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      if variant != 'black' && variant != 'white'
        div(class='bg-state-' + variant)
