extends ../example.pug

block example_title
  h3.fw-400 Striped

block example_result
  +background('Striped', ['bg-primary', 'bg-striped', 'text-white'])

block example_code
  :encode-pug
    | <!-- Source -->
    .bg-striped.bg-primary
