extends ../example.pug

block example_link
  a.text-default(href="#progress-sizes") Sizes

block example_result
  each size in ['xs', 'sm', 'lg', 'xl']
    +progress_variant(size)

block example_code
  :encode-pug
    | <!-- Source -->
    each size in ['xs', 'sm', 'lg', 'xl']
      .progress(class='progress-' + size)
