pre,
code {
  font-size: 100%;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}

#navbar-top {
  background-color: #f4f5f9;
}

#sidebar-left {
  max-height: calc(100vh - (#{$navbar-height} + (#{$grid-gutter-width} * 2)));
  overflow-y: scroll;
}
