extends ../example.pug

block example_link
  a.text-default(href="#dropdown-hover") Hover

block example_result
  .row
    .col-md-3
      +dropdown_hover('Dropright', 'dropright')
    .col-md-6.text-center
      +dropdown_hover('Dropdown', 'dropdown')
      +dropdown_hover('Dropup', 'dropup')
    .col-md-3
      .float-right
        +dropdown_hover('Dropleft', 'dropleft')

block example_code
  :encode-pug
    | <!-- Source -->
    .btn-group.dropdown.dropdown-hover
      button.btn.btn-secondary.dropdown-toggle(type="button" data-hover="dropdown") Dropdown
      .dropdown-menu
