extends ../example.pug

block example_link
  a#position-methods.text-gray-dark(href="#position-methods") Methods

block example_result

block example_code
  :encode-pug
    | <!-- Source -->
    .fixed
