extends ../example.pug

block example_title
  h3.font-weight-normal Colors

block example_body
  .card-body
    each text, variant in extraColors
      if variant != 'black' && variant != 'white'
        +badge_variant(text, variant)
  .card-body.bg-dark.bg-striped
    +badge_variant('White', 'white')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in extraColors
      if variant != 'black'
        .badge(class='badge-' + variant)= text
