extends ../example.pug

block example_title
  h3.fw-400 Custom

block example_body
  .card-body.bg-dark.bg-striped
    +badge_variant('White', 'white')

block example_code
  :encode-pug
    | <!-- Source -->
    .badge.badge-white
