extends ../example.pug

block example_title
  h3.font-weight-normal Glass

block example_body
  .card-body.bg-dark.bg-striped
    each text, variant in colors
      +badge_glass(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      .badge(class='badge-glass-' + variant)= text
