extends ../example.pug

block example_title
  h3.font-weight-normal Checkbox API

block example_result
  .list-group
    a.list-group-item.list-group-item-action.active(href="#" data-toggle="checkbox-area") Active
    - for(var i = 1; i <= 5; i++)
      a.list-group-item.list-group-item-action(href="#" data-toggle="checkbox-area")= "Checkbox area " + i

block example_code
  :encode-pug
    | <!-- Source -->
    .list-group
      = "\n\t"
      a.list-group-item.list-group-item-action.active(href="#" data-toggle="checkbox-area") Active
      - for(var i = 1; i <= 5; i++)
        = "\n\t"
        a.list-group-item.list-group-item-action(href="#" data-toggle="checkbox-area")= "Checkbox area " + i
