extends ../example-js.pug

block example_title
  h4.font-weight-normal Javascript

block example_code
  :encode-pug
    | /* Source */
    script.
      document.addEventListener('DOMContentLoaded', function () {
        var areas = document.querySelectorAll(RadioArea.Selector.DATA_TOGGLE);
        if (areas.length) {
          areas.forEach(function (element) {
            radioArea(element).addEventListeners();
          });
        }
      });
