extends ../example.pug

block example_link
  a#progress-shapes.text-gray-dark(href="#progress-shapes") Shapes

block example_result
  +progress_shapes()

block example_code
  include ../sources/progress/shapes.html
