extends ../example.pug

block head_title
  +example_head_title('grid', 'row_size')

block meta_description
  +example_meta_description('grid', 'row_size')

block breadcrumb
  +example_breadcrumb('grid')

block example_description
  +example_description('grid', 'row_size')

block example_result
  - for(var size = 1; size <= 5; size++)
    .mb-3(class="row-" + size)
      - for(var i = 1; i <= 4; i++)
        .col-3
          .w-100.bg-secondary(style="height: 40px;")

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 5; size++)
      div(class="row-" + size)

block example_after
  #responsive.pt-3
    h2.h4.fw-400.mb-3 Responsive
  .card.card-body.bg-card-cap
    +example_code
      :encode-pug
        | <!-- Source -->
        each breakpoint in ['sm', 'md', 'lg', 'xl']
          - for(var size = 1; size <= 5; size++)
            div(class="row-" + breakpoint + '-' + size)
          ="\n"
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
