extends ../example.pug

block head_title
  +example_head_title('nav', 'size')

block meta_description
  +example_meta_description('nav', 'size')

block breadcrumb
  +example_breadcrumb('nav')

block example_description
  +example_description('nav', 'size')

block example_result
  - for(var size = 1; size <= 5; size++)
    if size < 4
      +nav_size(size)
    else
      +responsive_nav_size(size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 0; size <= 5; size++)
      if size != 0
        ul.nav(class='nav-' + size)
      ul.nav(class='nav-x-' + size)
      ul.nav(class='nav-y-' + size)
      ="\n"

block example_after
  #responsive.pt-3
    h2.h4.font-400.mb-3 Responsive
    .card.card-body.bg-card-cap
      +example_code
        :encode-pug
          | <!-- Source -->
          each breakpoint in ['sm', 'md', 'lg', 'xl']
            - for(var size = 0; size <= 5; size++)
              if size != 0
                ul.nav(class='nav-' + breakpoint + '-' + size)
              ul.nav(class='nav-x-' + breakpoint + '-' + size)
              ul.nav(class='nav-y-' + breakpoint + '-' + size)
              ="\n"
            ="\n"
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
