extends ../example.pug

block head_title
  +example_head_title('nav', 'tabs_material')

block meta_description
  +example_meta_description('nav', 'tabs_material')

block breadcrumb
  +example_breadcrumb('nav')

block example_description
  +example_description('nav', 'tabs_material')

block example_result
  +nav(['nav-tabs', 'nav-tabs-material', 'mb-5'])
  .row
    .col-md-4
      +nav(['nav-tabs', 'nav-tabs-left', 'nav-tabs-material', 'mb-5'])
    .col-md-4
    .col-md-4
      +nav(['nav-tabs', 'nav-tabs-right', 'nav-tabs-material', 'justify-content-end', 'mb-5'])
  +nav(['nav-tabs', 'nav-tabs-bottom', 'nav-tabs-material'])

block example_code
  :encode-pug
    | <!-- Source -->
    ul.nav.nav-tabs.nav-tabs-material
    ul.nav.nav-tabs.nav-tabs-left.nav-tabs-material
    ul.nav.nav-tabs.nav-tabs-right.nav-tabs-material
    ul.nav.nav-tabs.nav-tabs-bottom.nav-tabs-material
