extends ../example-responsive.pug

block example_description
  +example_description('nav', 'tabs_right')

block example_result
  .row
    .col-md-4
      +nav(['nav-tabs', 'nav-tabs-right'])

block example_code
  :encode-pug
    | <!-- Source -->
    ul.nav.nav-tabs.nav-tabs-right

block responsive_description
  h2.h3.fw-400 Responsive tabs right

block responsive_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      ul.nav.nav-tabs(class='nav-tabs-' + breakpoint + '-right')
