extends ../example.pug

block head_title
  +example_head_title('nav', 'tabs_left')

block meta_description
  +example_meta_description('nav', 'tabs_left')

block breadcrumb
  +example_breadcrumb('nav')

block example_description
  +example_description('nav', 'tabs_left')

block example_result
  .row
    .col-md-4
      +nav(['nav-tabs', 'nav-tabs-left'])

block example_code
  :encode-pug
    | <!-- Source -->
    ul.nav.nav-tabs.nav-tabs-left

block example_after
  #responsive.pt-3
    h2.h4.font-400.mb-3 Responsive
    .card.card-body.bg-card-cap
      +example_code
        :encode-pug
          | <!-- Source -->
          each breakpoint in ['sm', 'md', 'lg', 'xl']
            ul.nav.nav-tabs(class='nav-tabs-' + breakpoint + '-left')
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
