extends ../example.pug

block example_description
  +example_description('nav', 'tabs_bottom')

block example_result
  +nav(['nav-tabs', 'nav-tabs-bottom'])

block example_code
  :encode-pug
    | <!-- Source -->
    ul.nav.nav-tabs.nav-tabs-bottom
