extends ../example-html.pug

block example_title
  h4.fw-400 Responsive pagination sizes

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      - for(var size = 1; size <= 4; size++)
        ol.pagination(class='pagination-' + breakpoint + '-' + size)
      ="\n"
