extends ../example.pug

block example_title
  h3.fw-400 Pill

block example_result
  +breadcrumb_variant('pill')

block example_code
  :encode-pug
    | <!-- Source -->
    ol.breadcrumb.breadcrumb-pill
