extends ../example-html.pug

block example_title
  h4.fw-400 Responsive breadcrumb sizes
  span.badge.badge-success.text-uppercase.mb-3 New

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      - for(var size = 1; size <= 3; size++)
        ol.breadcrumb(class='breadcrumb-' + breakpoint + '-' + size)
      ="\n"
