extends ../example.pug

block example_title
  h3.fw-400 Active
  span.badge.badge-success.text-uppercase.mb-3 New

block example_result
  each text, variant in colors
    +button_active(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      button.btn.btn-secondary.active(type='button' class='btn-active-' + variant)= text
