extends ../example-html.pug

block example_title
  h4.fw-400 Responsive button block

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      button.btn.btn-secondary(type='button' class='btn-' + breakpoint + '-block') Button
