extends ../example.pug

block example_title
  h3.font-weight-normal Checkbox

block example_result
  +button_toggle('checkbox', 'Checkbox')

block example_code
  :encode-pug
    | <!-- Source -->
    .btn-group.btn-group-toggle
      label.btn.btn-secondary.active(data-toggle="checkbox-button")
        input(type="checkbox" name="checkbox" checked)
        span Active
      label.btn.btn-secondary(data-toggle="checkbox-button")
        input(type="checkbox" name="checkbox")
        span Checkbox
      label.btn.btn-secondary(data-toggle="checkbox-button")
        input(type="checkbox" name="checkbox")
        span Checkbox
