extends ../example-js.pug

block example_title
  h4.font-weight-normal Javascript

block example_code
  :encode-pug
    | /* Source */
    script.
      document.addEventListener('DOMContentLoaded', function () {
        var buttons = document.querySelectorAll(CheckboxButton.Selector.DATA_TOGGLE);
        if (buttons.length) {
          buttons.forEach(function (element) {
            checkboxButton(element).addEventListeners();
          });
        }
      });
