extends ../example-html.pug

block example_title
  h4.fw-400 Responsive button sizes

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      - for(var size = 1; size <= 5; size++)
        button.btn.btn-secondary(type='button' class='btn-' + breakpoint + '-' + size) Button
      ="\n"
