extends ../example.pug

block example_title
  h3.font-weight-normal Sizes

block example_result
  +button_size('Extra small', 'xs')
  +button_size('Extra large', 'xl')

block example_code
  :encode-pug
    | <!-- Source -->
    button.btn.btn-secondary.btn-xs(type='button') Extra small
    button.btn.btn-secondary.btn-xl(type='button') Extra large
