// 3D
@mixin button-3d-variant($background, $border) {
  border-bottom-width: 4px;
  @include button-variant($background, darken($border, 10%));
}

// Circle size
@mixin button-circle-size($font-size) {
  width: ($font-size * 2.5);
  height: ($font-size * 2.5);
}

// Opacity
@mixin button-opacity-variant($background, $border, $alpha) {
  @include button-variant(rgba($background, $alpha), rgba($border, $alpha));
}

// State
@mixin button-state-variant($background, $border: $btn-state-border-color) {
  @include button-variant(color-level($background, $btn-state-bg-level), $border);
  color: color-level($background, $btn-state-color-level);
}
