// State variant
@mixin card-state-variant($color) {
  $color-level: color-level($color, $card-state-color-level);
  $background: color-level($color, $card-state-bg-level);

  color: $color-level;
  background-color: $background;

  a {
    color: darken($color-level, 10%);
  }

  .card-header-pills,
  .card-footer-pills {
    .nav-link.active,
    .show > .nav-link {
      color: $nav-link-active-color;
      background-color: $nav-pills-link-active-color;
    }
  }

  .card-header-tabs,
  .card-footer-tabs {
    .nav-link.active,
    .nav-item.show .nav-link {
      background-color: $background;
    }
  }

  .card-header-tabs {
    .nav-link.active,
    .nav-item.show .nav-link {
      border-color: $card-border-color $card-border-color $background;
    }
  }

  .card-footer-tabs {
    .nav-link.active,
    .nav-item.show .nav-link {
      border-color: $background $card-border-color $card-border-color;
    }
  }
}

// Size
@mixin card-size($padding-y, $padding-x, $font-size, $nav-link-padding-y, $nav-link-padding-x) {
  font-size: $font-size;

  &.card-body,
  .card-body {
    padding: $padding-x;
  }

  .card-title {
    margin-bottom: $padding-y;
  }

  .card-subtitle {
    margin-top: -$padding-y / 2;
  }

  .card-link {
    + .card-link {
      margin-left: $padding-x;
    }
  }

  .card-header,
  .card-footer {
    padding: $padding-y $padding-x;
  }

  .card-header-tabs,
  .card-header-pills,
  .card-footer-tabs,
  .card-footer-pills {
    margin-right: -$padding-x / 2;
    margin-left: -$padding-x / 2;

    .nav-link {
      padding: $nav-link-padding-y $nav-link-padding-x;
    }
  }

  .card-header-tabs {
    margin-bottom: -$padding-y;
  }

  .card-footer-tabs {
    margin-top: -$padding-y;
  }

  .card-img-overlay {
    padding: $padding-x;
  }
}
