// Validation state
@mixin form-validation-state-selector($state) {
  @if ($state == "valid" or $state == "invalid") {
    .was-validated &:#{$state},
    &.is-#{$state} {
      &,
      &:focus {
        @content;
      }
    }
  } @else {
    &.is-#{$state} {
      &,
      &:focus {
        @content;
      }
    }
  }
}

// Material
@mixin input-material-variant($border, $color: $input-color, $focus-border: $border, $focus-color: $color, $placeholder-color: $color) {
  border-bottom-color: $border;
  color: $color;

  &:focus {
    border-bottom-color: $focus-border;
    color: $focus-color;
  }

  &::placeholder {
    color: $placeholder-color;
  }
}

// Dark
@mixin input-dark-variant($background, $color: $input-dark-color, $focus-background: $background, $focus-color: $color) {
  background-color: $background;
  border-color: $background;
  color: $color;

  &:focus {
    background-color: $focus-background;
    border-color: $focus-background;
    color: $focus-color;
  }

  &::placeholder {
    color: $color;
  }

  &:disabled,
  &[readonly] {
    background-color: darken($color, 15%);
  }
}
