// Row sizes
@mixin row-size($size) {
  @include make-row($grid-gutter-width / $size);

  > .col,
  > [class*="col-"] {
    padding-right: $grid-gutter-width / 2 / $size;
    padding-left: $grid-gutter-width / 2 / $size;
  }
}

// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}
