// Sizes
@mixin list-group-item-size($padding-y, $padding-x, $font-size) {
  font-size: $font-size;
  padding: $padding-y $padding-x;
}

@mixin list-group-size($padding-y, $padding-x, $font-size) {
  .list-group-item {
    @include list-group-item-size($padding-y, $padding-x, $font-size);
  }
}

@mixin list-group-item-size-y($padding-y) {
  padding-top: $padding-y;
  padding-bottom: $padding-y;
}

@mixin list-group-size-y($padding-y) {
  .list-group-item {
    @include list-group-item-size-y($padding-y);
  }
}

@mixin list-group-item-size-x($padding-x) {
  padding-left: $padding-x;
  padding-right: $padding-x;
}

@mixin list-group-size-x($padding-x) {
  .list-group-item {
    @include list-group-item-size-x($padding-x);
  }
}
