// Modal
@mixin sidebar-modal() {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;

  .sidebar {
    height: 100%;
  }
  .sidebar-dialog {
    width: 250px;
    height: 100%;
  }
  &.fade .sidebar-dialog {
    @include transition($modal-transition);
    transform: $sidebar-modal-fade-transform;
  }
  &.sidebar-modal-right.fade .sidebar-dialog {
    transform: $sidebar-modal-right-fade-transform;
  }
  &.sidebar-modal-right .sidebar-dialog {
    float: right;
  }
  &.show .sidebar-dialog {
    transform: $modal-show-transform !important;
  }
}

@mixin sidebar-modal-open() {
  overflow-x: hidden;
  overflow-y: auto;

  &.sidebar-modal-right {
    padding-right: 0 !important;
  }

  .sidebar {
    pointer-events: auto;
  }
}

// Size
@mixin sidebar-size($padding-y, $font-size, $brand-font-size, $brand-padding-y, $brand-padding-x, $link-padding-y, $link-padding-x) {
  padding-top: $padding-y;
  padding-bottom: $padding-y;

  .sidebar-brand {
    font-size: $brand-font-size;
    padding: $brand-padding-y $brand-padding-x;
  }

  .sidebar-nav {
    font-size: $font-size;

    .nav-link {
      padding: $link-padding-y $link-padding-x;
    }
  }

  .sidebar-text {
    font-size: $font-size;
    padding: $link-padding-y $link-padding-x;
  }
}

// Nav size
@mixin sidebar-nav-size($link-padding-y, $link-padding-x, $font-size) {
  font-size: $font-size;

  .nav-link {
    padding: $link-padding-y $link-padding-x !important;
  }
}

@mixin sidebar-nav-size-y($link-padding-y) {
  .nav-link {
    padding-top: $link-padding-y !important;
    padding-bottom: $link-padding-y !important;
  }
}

@mixin sidebar-nav-size-x($link-padding-x) {
  .nav-link {
    padding-right: $link-padding-x !important;
    padding-left: $link-padding-x !important;
  }
}
