// Alpha
@mixin text-alpha-variant($variant, $color, $alpha) {
  @include text-emphasis-variant($variant, rgba($color, $alpha));
}

// Text
@mixin text-ribbon-variant($color, $background) {
  padding: 10px;
  background-color: $background;
  color: color-yiq($background);
  /*color: $color;*/
}
