// Color
@mixin tribar-variant($color) {
  border-color: $color;

  &::before,
  &::after {
    background-color: $color;
  }
}

// Size
@mixin tribar-size($width, $height, $margin-top) {
  border-top-width: $height;

  &,
  &::before,
  &::after {
    width: $width;
  }

  &::before,
  &::after {
    height: $height;
    margin-top: $margin-top;
  }
}
