extends ../example.pug

block example_link
  a#navbar-sizes.text-gray-dark(href="#navbar-sizes") Sizes

block example_result
  each size in ['sm', 'lg']
    +navbar_size(size)

block example_code
  :encode-pug
    | <!-- Source -->
    each size in ['sm', 'lg']
      nav.navbar.navbar-expand-sm.navbar-light.bg-faded(class='navbar-' + size)
