extends ../example.pug

block example_link
  a.text-default(href="#background-colors") Colors

block example_result
  each text, variant in {'default': 'Default', 'premium': 'Premium', 'pretty': 'Pretty', 'star': 'Star'}
    +background_inverse(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in {'default': 'Default', 'premium': 'Premium', 'pretty': 'Pretty', 'star': 'Star'}
      p(class='bg-' + variant)= text
