extends ../example.pug

block example_link
  a.text-default(href="#background-striped") Striped

block example_result
  +background('Striped', ['bg-primary', 'bg-striped', 'text-inverse'])

block example_code
  :encode-pug
    | <!-- Source -->
    p.bg-primary.bg-striped.text-inverse Striped
