#area
  include area/intro.pug
  #area-checkbox
    include area/checkbox.pug
    #area-checkbox-api
      include area/checkbox-api.pug
  #area-radio
    include area/radio.pug
    #area-radio-api
      include area/radio-api.pug
