#background
  include background/intro.pug
  #background-custom
    include background/custom.pug
  #background-alpha
    include background/alpha.pug
  #background-hover
    include background/hover.pug
  #background-hover-alpha
    include background/hover-alpha.pug
  #background-contain
    include background/contain.pug
  #background-cover
    include background/cover.pug
  #background-striped
    include background/striped.pug
