#background
  include background/intro.pug
  #background-custom
    include background/custom.pug
  #background-opacity
    include background/opacity.pug
  #background-state
    include background/state.pug
  #background-hover
    include background/hover.pug
  #background-hover-opacity
    include background/hover-opacity.pug
  #background-contain
    include background/contain.pug
  #background-cover
    include background/cover.pug
  #background-striped
    include background/striped.pug
