#background
  include background/intro.pug
  #background-opacity
    include background/opacity.pug
  #background-contain
    include background/contain.pug
  #background-cover
    include background/cover.pug
  #background-striped
    include background/striped.pug
