#background
  include background/intro.pug
  #background-custom
    include background/custom.pug
  #background-alpha
    include background/alpha.pug
  #background-hover
    include background/hover.pug
  #background-striped
    include background/striped.pug
