#background
  #background-intro
    include background/intro.pug
  #background-color
    include background/color.pug
  #background-gradient
    include background/gradient.pug
  #background-hover
    include background/hover.pug
  #background-glass
    include background/glass.pug
  #background-striped
    include background/striped.pug
