#breadcrumb
  include breadcrumb/intro.pug
  #breadcrumb-arrow
    include breadcrumb/arrow.pug
  #breadcrumb-color
    include breadcrumb/color.pug
  #breadcrumb-pill
    include breadcrumb/pill.pug
  #breadcrumb-size
    include breadcrumb/size.pug
    #breadcrumb-size-responsive
      include breadcrumb/size-responsive.pug
