#card
  include card/intro.pug
  #card-footer-pills
    include card/footer-pills.pug
  #card-footer-tabs
    include card/footer-tabs.pug
  #card-image-position
    include card/image-position.pug
  #card-image-position-responsive
    include card/image-position-responsive.pug
