#card
  include card/intro.pug
  #card-footer-pills
    include card/footer-pills.pug
  #card-footer-tabs
    include card/footer-tabs.pug
  #card-image
    include card/image.pug
  #card-image-responsive
    include card/image-responsive.pug
  #card-pill
    include card/pill.pug
  #card-size
    include card/size.pug
    #card-size-responsive
      include card/size-responsive.pug
