block example_title
block example_description
.card.mb-3
  block example_body
    .card-body
      block example_result
  block example_footer
    .card-footer
      pre.pre-scrollable
        code.language-markup
          block example_code
.clearfix
