#font
  #font-intro
    include font/intro.pug
  #font-size
    include font/size.pug
  #font-size-responsive
    include font/size-responsive.pug
  #font-weight
    include font/weight.pug
  #font-weight-responsive
    include font/weight-responsive.pug
