#form
  include form/intro.pug
  #input-dark
    include form/input-dark.pug
  #input-color
    include form/input-color.pug
  #input-opacity
    include form/input-opacity.pug
  #input-material
    include form/input-material.pug
  #input-size
    include form/input-size.pug
    #input-size-responsive
      include form/input-size-responsive.pug
  #switch-reverse
    include form/switch-reverse.pug
