#form
  include form/intro.pug
  #form-control-color
    include form/control-color.pug
  #form-control-alpha
    include form/control-alpha.pug
  #form-control-position
    include form/control-position.pug
