extends layout.pug

block head_title
  title= title

block meta_description
  meta(name="description" content=pkg.description)

block sidebar
  include sidebar-left.pug

block main
  .alert.alert-warning.spinner.fs-4
    .flex-y-center.h-100
      span.spinner-grow.mr-3(role="alert")
      div Loading...
  .collapse.collapse-content
    .content
