extends layout.pug

block head_title
  title= title

block meta_description
  meta(name="description" content=pkg.description)

block meta_keywords
  meta(name="keywords" content=pkg.author)

block sidebar
  include sidebar-left.pug

block main
  include main.pug
