extends layout.pug

block head_title
  title= title

block meta_description
  meta(name="description" content=pkg.description)

block sidebar
  include sidebar-left.pug

block main
  include start.pug
  .text-center
    .spinner.spinner-grow.text-primary(role="status" style="width: 200px;height: 200px;")
      span.sr-only Loading...
  .collapse.collapse-content.fade(style="transition: opacity .7s linear;")
    .content
