#navbar
  include navbar/intro.pug
  #navbar-breadcrumb
    include navbar/breadcrumb.pug
  #navbar-expand-size
    include navbar/expand-size.pug
  #navbar-icon
    include navbar/icon.pug
  #navbar-nav-align
    include navbar/nav-align.pug
  #navbar-size
    include navbar/size.pug
  #navbar-spacing
    include navbar/spacing.pug
