extends component.pug

block component_link
  a#navbar.text-gray-dark(href="#navbar") Navbar

block component_examples
  include navbar/nav-align.pug
  include navbar/expand-size.pug
  include navbar/size.pug
  include navbar/fixed-padding.pug
