#navbar
  include navbar/intro.pug
  #navbar-breadcrumb
    include navbar/breadcrumb.pug
  #navbar-container
    include navbar/container.pug
  #navbar-dropdown-menu
    include navbar/dropdown-menu.pug
  #navbar-expand-size
    include navbar/expand-size.pug
  #navbar-nav-align
    include navbar/nav-align.pug
  #navbar-nav-size
    include navbar/nav-size.pug
    #navbar-nav-size-responsive
      include navbar/nav-size-responsive.pug
  #navbar-scroller
    include navbar/scroller.pug
    #navbar-scroller-size
      include navbar/scroller-size.pug
  #navbar-size
    include navbar/size.pug
    #navbar-size-responsive
      include navbar/size-responsive.pug
  #navbar-spacing
    include navbar/spacing.pug
    #navbar-spacing-responsive
      include navbar/spacing-responsive.pug
  #navbar-tribar
    include navbar/tribar.pug
