#sidebar
  include sidebar/intro.pug
  #sidebar-brand
    include sidebar/brand.pug
  #sidebar-color
    include sidebar/color.pug
  #sidebar-header
    include sidebar/header.pug
  #sidebar-expand
    include sidebar/expand.pug
  #sidebar-icon
    include sidebar/icon.pug
  #sidebar-nav
    include sidebar/nav.pug
  #sidebar-text
    include sidebar/text.pug
