ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.pr-gutter
  each category in contents
    li.nav-item
      a.nav-link(href=category.url)= category.name
      if category.childs
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
          each article in category.childs
            li.nav-item
              a.nav-link(href=article.url)= article.name
              if article.childs
                ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
                  each subarticle in article.childs
                    li.nav-item
                      a.nav-link(href=subarticle.url)= subarticle.name
