ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.pr-gutter
  li.nav-item.show
    a.nav-link.active(href="#start") Start
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#install") Install
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
          li.nav-item
            a.nav-link(href="#install-manually") Manually
          li.nav-item
            a.nav-link(href="#install-nodejs") NodeJS
          li.nav-item
            a.nav-link(href="#install-bower") Bower
      li.nav-item
        a.nav-link(href="#usage") Usage
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
          li.nav-item
            a.nav-link(href="#usage-local") Local
          li.nav-item
            a.nav-link(href="#usage-cdn") CDN
  li.nav-item
    a.nav-link(href="#background") Background
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#background-custom") Custom
      li.nav-item
        a.nav-link(href="#background-alpha") Alpha
      li.nav-item
        a.nav-link(href="#background-hover") Hover
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
          li.nav-item
            a.nav-link(href="#background-hover-alpha") Alpha
      li.nav-item
        a.nav-link(href="#background-contain") Contain
      li.nav-item
        a.nav-link(href="#background-cover") Cover
      li.nav-item
        a.nav-link(href="#background-striped") Striped
  li.nav-item
    a.nav-link(href="#badge") Badge
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#badge-custom") Custom
      li.nav-item
        a.nav-link(href="#badge-alpha") Alpha
  li.nav-item
    a.nav-link(href="#border") Border
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#border-custom") Custom
      li.nav-item
        a.nav-link(href="#border-alpha") Alpha
      li.nav-item
        a.nav-link(href="#border-hover") Hover
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
          li.nav-item
            a.nav-link(href="#border-hover-alpha") Alpha
      li.nav-item
        a.nav-link(href="#border-pill") Pill
      li.nav-item
        a.nav-link(href="#border-style") Style
      li.nav-item
        a.nav-link(href="#border-width") Width
  li.nav-item
    a.nav-link(href="#breadcrumb") Breadcrumb
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#breadcrumb-arrow") Arrow
      li.nav-item
        a.nav-link(href="#breadcrumb-dark") Dark
      li.nav-item
        a.nav-link(href="#breadcrumb-pill") Pill
  li.nav-item
    a.nav-link(href="#button") Button
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#button-custom") Custom
      li.nav-item
        a.nav-link(href="#button-outline") Outline
      li.nav-item
        a.nav-link(href="#button-3d") 3D
      li.nav-item
        a.nav-link(href="#button-alpha") Alpha
      li.nav-item
        a.nav-link(href="#button-size") Size
      li.nav-item
        a.nav-link(href="#button-circle") Circle
      li.nav-item
        a.nav-link(href="#button-pill") Pill
  li.nav-item
    a.nav-link(href="#card") Card
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#card-color") Color
      li.nav-item
        a.nav-link(href="#card-footer-pills") Footer pills
      li.nav-item
        a.nav-link(href="#card-footer-tabs") Footer tabs
      li.nav-item
        a.nav-link(href="#card-image-position") Image position
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
          li.nav-item
            a.nav-link(href="#card-image-position-responsive") Responsive
      li.nav-item
        a.nav-link(href="#card-pill") Pill
  li.nav-item
    a.nav-link(href="#caret") Caret
  li.nav-item
    a.nav-link(href="#code") Code
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#code-size") Size
  li.nav-item
    a.nav-link(href="#dropdown") Dropdown
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#dropdown-arrow") Arrow
      li.nav-item
        a.nav-link(href="#dropdown-caret-disabled") Caret disabled
      li.nav-item
        a.nav-link(href="#dropdown-hover") Hover
      li.nav-item
        a.nav-link(href="#dropdown-mega-menu") Mega menu
      li.nav-item
        a.nav-link(href="#dropdown-scrolled-menu") Scrolled menu
      li.nav-item
        a.nav-link(href="#dropdown-submenu") Submenu
  li.nav-item
    a.nav-link(href="#font") Font
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#font-size") Size
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
          li.nav-item
            a.nav-link(href="#font-size-responsive") Responsive
      li.nav-item
        a.nav-link(href="#font-weight") Weight
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
          li.nav-item
            a.nav-link(href="#font-weight-responsive") Responsive
  li.nav-item
    a.nav-link(href="#form") Form
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#form-control-color") Color
      li.nav-item
        a.nav-link(href="#form-control-alpha") Alpha
      li.nav-item
        a.nav-link(href="#form-control-position") Position
  li.nav-item
    a.nav-link(href="#grid") Grid
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#grid-container-size") Container
      li.nav-item
        a.nav-link(href="#grid-gutter-spacing") Gutter spacing
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
          li.nav-item
            a.nav-link(href="#grid-gutter-spacing-responsive") Responsive
  li.nav-item
    a.nav-link(href="#list-group") List group
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#list-group-size") Size
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
          li.nav-item
            a.nav-link(href="#list-group-item-size") Item
  li.nav-item
    a.nav-link(href="#nav") Nav
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#nav-active") Active
      li.nav-item
        a.nav-link(href="#nav-size") Size
      li.nav-item
        a.nav-link(href="#nav-tabs") Tabs
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
          li.nav-item
            a.nav-link(href="#nav-tabs-responsive") Responsive
      li.nav-item
        a.nav-link(href="#nav-tree") Tree
  li.nav-item
    a.nav-link(href="#navbar") Navbar
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#navbar-breadcrumb") Breadcrumb
      li.nav-item
        a.nav-link(href="#navbar-dropdown-menu") Dropdown menu
      li.nav-item
        a.nav-link(href="#navbar-expand-size") Expand size
      li.nav-item
        a.nav-link(href="#navbar-nav-align") Nav align
      li.nav-item
        a.nav-link(href="#navbar-size") Size
      li.nav-item
        a.nav-link(href="#navbar-spacing") Spacing
      li.nav-item
        a.nav-link(href="#navbar-tribar") Triple bar
  li.nav-item
    a.nav-link(href="#pagination") Pagination
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#pagination-pills") Pills
      li.nav-item
        a.nav-link(href="#pagination-circles") Circles
  li.nav-item
    a.nav-link(href="#position") Position
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#position-spacing") Spacing
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
          li.nav-item
            a.nav-link(href="#position-spacing-responsive") Responsive
  li.nav-item
    a.nav-link(href="#progress") Progress
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#progress-size") Size
  li.nav-item
    a.nav-link(href="#scrollspy") ScrollSpy
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#scrollspy-tree") Tree
  li.nav-item
    a.nav-link(href="#sidebar") Sidebar
  li.nav-item
    a.nav-link(href="#text") Text
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#text-custom") Custom
      li.nav-item
        a.nav-link(href="#text-alpha") Alpha
      li.nav-item
        a.nav-link(href="#text-hover") Hover
        ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3
          li.nav-item
            a.nav-link(href="#text-hover-alpha") Alpha
      li.nav-item
        a.nav-link(href="#text-ribbon") Ribbon
  li.nav-item
    a.nav-link(href="#tribar") Triple bar
  li.nav-item
    a.nav-link(href="#type") Typography
    ul.sidebar-nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3
      li.nav-item
        a.nav-link(href="#type-responsive-heading") Heading
