ul.sidebar-nav.nav-x-0.nav-y-sm.pr-gutter
  li.nav-item
    a.nav-link.active(href="#get-started") Get started
    ul.sidebar-nav.nav-x-0.nav-y-xs.font-size-2.pl-3
      li.nav-item
        a.nav-link.active(href="#intro") Intro
      li.nav-item
        a.nav-link(href="#install") Install
      li.nav-item
        a.nav-link(href="#usage") Usage
  li.nav-item
    a.nav-link(href="#background") Background
    //-ul.sidebar-nav.nav-x-0.nav-y-xs.font-size-2.pl-3
    //-  li.nav-item
    //-    a.nav-link(href="/bootstrap-4/background-colors/") Colors
    //-  li.nav-item
    //-    a.nav-link(href="/bootstrap-4/background-glass/") Glass
    //-  li.nav-item
    //-    a.nav-link(href="/bootstrap-4/background-striped/") Striped
  li.nav-item
    a.nav-link(href="#badge") Badge
    //ul.sidebar-nav.nav-x-0.nav-y-xs.font-size-2.mb-3
    //  li.nav-item
    //    a.nav-link(href="/bootstrap-4/badge-colors/") Colors
    //  li.nav-item
    //    a.nav-link(href="/bootstrap-4/badge-glass/") Glass
  li.nav-item
    a.nav-link(href="#border") Border
    //ul.sidebar-nav.nav-x-0.nav-y-xs.font-size-2.mb-3
    //  li.nav-item
    //    a.nav-link(href="#") Colors
    //  li.nav-item
    //    a.nav-link(href="#") Glass
    //  li.nav-item
    //    a.nav-link(href="#") Style
    //  li.nav-item
    //    a.nav-link(href="#") Width
  li.nav-item
    a.nav-link(href="#breadcrumb") Breadcrumb
    //ul.sidebar-nav.nav-x-0.nav-y-xs.font-size-2.mb-3
    //  li.nav-item
    //    a.nav-link(href="#") Arrows
    //  li.nav-item
    //    a.nav-link(href="#") Dark
    //  li.nav-item
    //    a.nav-link(href="#") Transparent
  li.nav-item
    a.nav-link(href="#button") Button
    //ul.sidebar-nav.nav-x-0.nav-y-xs.font-size-2.mb-3
    //  li.nav-item
    //    a.nav-link(href="#") Colors
    //  li.nav-item
    //    a.nav-link(href="#") Outline
    //  li.nav-item
    //    a.nav-link(href="#") Size
    //  li.nav-item
    //    a.nav-link(href="#") Pill
    //  li.nav-item
    //    a.nav-link(href="#") 3D
    //  li.nav-item
    //    a.nav-link(href="#") Glass
  li.nav-item
    a.nav-link(href="#card") Card
    //ul.sidebar-nav.nav-x-0.nav-y-xs.font-size-2.mb-3
    //  li.nav-item
    //    a.nav-link(href="#") Footer pills
    //  li.nav-item
    //    a.nav-link(href="#") Footer tabs
    //  li.nav-item
    //    a.nav-link(href="#") Hover
    //  li.nav-item
    //    a.nav-link(href="#") Image overlay position
    //  li.nav-item
    //    a.nav-link(href="#") Image position
  li.nav-item: a.nav-link(href="#dropdown") Dropdown
  li.nav-item: a.nav-link(href="#font") Font
  li.nav-item: a.nav-link(href="#form") Form
  li.nav-item: a.nav-link(href="#grid") Grid
  li.nav-item: a.nav-link(href="#list-group") List group
  li.nav-item: a.nav-link(href="#nav") Nav
  li.nav-item: a.nav-link(href="#navbar") Navbar
  li.nav-item: a.nav-link(href="#pagination") Pagination
  li.nav-item: a.nav-link(href="#progress") Progress
  li.nav-item: a.nav-link(href="#sidebar") Sidebar
  li.nav-item: a.nav-link(href="#text") Text
  li.nav-item: a.nav-link(href="#type") Typography
