#svg
  include svg/intro.pug
  #svg-fill
    include svg/fill.pug
    #svg-fill-hover
      include svg/fill-hover.pug
    #svg-fill-hover-opacity
      include svg/fill-hover-opacity.pug
  #svg-stroke
    include svg/stroke.pug
    #svg-stroke-hover
      include svg/stroke-hover.pug
    #svg-stroke-hover-opacity
      include svg/stroke-hover-opacity.pug
