extends ../example.pug

block example_link
  a#dropdown-hover.text-gray-dark(href="#dropdown-hover") Hover

block example_result
  +dropdown_hovers()

block example_code
  include ../sources/dropdown/hover.html
