extends ../example.pug

block example_link
  a#dropdown-mega-menu.text-gray-dark(href="#dropdown-mega-menu") Mega menu

block example_result
  +dropdown_mega()

block example_code
  include ../sources/dropdown/mega-menu.html
