extends ../example.pug

block example_title
  h3.font-weight-normal Hover alpha

block example_body
  .card-body.bg-dark.bg-striped.text-white
    each text, variant in colors
      +border_hover_alpha(text, variant, 50)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      div(class='border-hover-' + variant + '-50')
