extends ../example.pug

block example_title
  h3.font-weight-normal Opacity

block example_body
  .card-body.bg-dark.bg-striped
    each text, variant in colors
      +border_alpha(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      div(class='border-' + variant + '-50')
