extends ../example.pug

block example_link
  a#breadcrumb-dividers.text-gray-dark(href="#breadcrumb-dividers") Dividers

block example_result
  +breadcrumb_dividers()

block example_code
  include ../sources/breadcrumb/dividers.html
