extends ../example.pug

block example_link
  a#breadcrumb-inverse.text-gray-dark(href="#breadcrumb-inverse") Inverse

block example_result
  +breadcrumb(["breadcrumb-inverse", "bg-primary"])

block example_code
  :encode-pug
    | <!-- Source -->
    ol.breadcrumb.breadcrumb-inverse.bg-primary
