extends ../example.pug

block example_link
  a#breadcrumb-transparent.text-gray-dark(href="#breadcrumb-transparent") Transparent

block example_result
  +breadcrumb_transparent()

block example_code
  include ../sources/breadcrumb/transparent.html
