extends ../example.pug

block example_link
  a#breadcrumb-transparent.text-gray-dark(href="#breadcrumb-transparent") Transparent

block example_result
  +breadcrumb_variant('transparent')

block example_code
  :encode-pug
    | <!-- Source -->
    ol.breadcrumb.breadcrumb-transparent
