#install
  h3.fw-400.mb-3 Installation
  #install-manually
    h4.fw-400 Manually
    p #[a(href=downloadUrl) Download] package and unpack it or use following commands:
    .card.bg-light.mb-3
      .card-body
        pre
          code.language-bash
            ="wget -O " + downloadUrl + "\n"
            ="unzip " + pkg.name + "-" + pkg.version + ".zip"
  #install-nodejs
    h4.fw-400 NodeJS
    .card.bg-light.mb-3
      .card-body
        pre
          code.language-bash
            ="npm install " + pkg.name + "@" + pkg.version
