h1.fw-400 PostBoot
p.lead.fw-400= pkg.description
.alert.alert-primary(role="alert") Compatibility with Bootstrap #[b v4.3.1].
.alert.alert-warning(role="alert") PostBoot does #[b not overwrite] any components of Bootstrap, but only extends most of them.
