#requirements
  h3.fw-400.mb-3 Requirements
  span.badge.badge-success.text-uppercase.mb-3 New
  #requirements-css
    h4.fw-400 CSS
    table.table.table-bordered.table-striped
      thead
        tr
          th(scope="col") File
          th(scope="col") Requirement
      tbody
        tr
          td postboot.css
          td bootstrap.css
        tr
          td postboot-grid.css
          td bootstrap-grid.css
        tr
          td postboot-light.css
          td bootstrap.css
    #requirements-css-js
      p List of css components that requires  #[b= pkg.name + '.js']:
      ul
        li: a(href="#dropdown-hover") Dropdown hover
        li: a(href="#dropdown-mega-menu") Dropdown mega menu
        li: a(href="#scrollspy-tree") ScrollSpy tree
  #requirements-js
    h4.fw-400 JS
    table.table.table-bordered.table-striped
      thead
        tr
          th(scope="col") File
          th(scope="col") Requirement
      tbody
        tr
          td postboot.js
          td bootstrap.js
        tr
          td dropdown-hover.js
          td dropdown.js
        tr
          td dropdown-mega.js
          td dropdown.js
        tr
          td scrollspy-tree.js
          td scrollspy.js
