#usage
  h3.font-weight-normal Usage
  #usage-local
    h4.font-weight-normal Local
    .card.bg-light.mb-3
      .card-body
        pre
          code.language-markup
            :encode-pug
              | <!-- CSS -->
              link(rel="stylesheet" href="css/bootstrap.min.css")
              link(rel="stylesheet" href="css/" + pkg.name + ".min.css")
              ="\n\n"
              | <!-- JS -->
              script(src="js/" + pkg.name + ".min.js")
  #usage-cdn
    h4.font-weight-normal CDN
    .card.bg-light.mb-3
      .card-body
        pre
          code.language-markup
            :encode-pug
              | <!-- CSS -->
              link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
              link(rel="stylesheet" href="https://cdn.rawgit.com/" + username + "/" + pkg.name + "/v" + pkg.version + "/dist/css/" + pkg.name + ".min.css")
              ="\n\n"
              | <!-- JS -->
              script(src="https://cdn.rawgit.com/" + username + "/" + pkg.name + "/v" + pkg.version + "/dist/js/" + pkg.name + ".min.js")
