#usage
  h3.fw-400 Usage
  #usage-local
    h4.fw-400 Local
    .card.bg-light.mb-3
      .card-body
        pre
          code.language-markup
            :encode-pug
              | <!-- CSS -->
              link(rel="stylesheet" href="css/bootstrap.min.css")
              link(rel="stylesheet" href="css/" + pkg.name + ".min.css")
              ="\n\n"
              | <!-- JS -->
              script(src="js/jquery.min.js")
              script(src="js/bootstrap.bundle.min.js")
              script(src="js/" + pkg.name + ".min.js")
  #usage-cdn
    h4.fw-400 CDN
    .card.bg-light.mb-3
      .card-body
        pre
          code.language-markup
            :encode-pug
              | <!-- CSS -->
              link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
              link(rel="stylesheet" href="https://cdn.rawgit.com/" + username + "/" + pkg.name + "/v" + pkg.version + "/dist/css/" + pkg.name + ".min.css")
              ="\n\n"
              | <!-- JS -->
              script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
              script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js")
              script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js")
              script(src="https://cdn.rawgit.com/" + username + "/" + pkg.name + "/v" + pkg.version + "/dist/js/" + pkg.name + ".min.js")
