article.mb-4(role="article")
  header
    block example_title
      h2.font-weight-light
        block example_link
  block example_description
  .card
    block example_block
      .card-block
        block example_result
    .card-footer
      pre
        code.language-markup
          block example_code
.clearfix
