ul.nav.nav-y-sm.nav-x-0.flex-column
  li.nav-item: a.nav-link.active(href="#intro") Intro
  li.nav-item
    a.nav-link(href="#layout") Layout
    ul.nav.nav-y-sm.pl-3.flex-column
      li.nav-item
        a.nav-link(href="#grid") Grid
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#grid-container-sizes") Container sizes
          li.nav-item: a.nav-link(href="#grid-gutter-spacing") Gutter spacing
  li.nav-item
    a.nav-link(href="#components") Components
    ul.nav.nav-y-sm.pl-3.flex-column
      li.nav-item
        a.nav-link(href="#badge") Badge
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#badge-colors") Colors
      li.nav-item
        a.nav-link(href="#breadcrumb") Breadcrumb
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#breadcrumb-arrows") Arrows
          li.nav-item: a.nav-link(href="#breadcrumb-inverse") Inverse
          li.nav-item: a.nav-link(href="#breadcrumb-transparent") Transparent
      li.nav-item
        a.nav-link(href="#button") Button
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#button-colors") Colors
          li.nav-item: a.nav-link(href="#button-sizes") Sizes
          li.nav-item: a.nav-link(href="#button-pill") Pill
          li.nav-item: a.nav-link(href="#button-3d") 3D
          li.nav-item: a.nav-link(href="#button-glass") Glass
      li.nav-item
        a.nav-link(href="#card") Card
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#card-colors") Colors
          li.nav-item: a.nav-link(href="#card-image-directions") Image directions
          li.nav-item: a.nav-link(href="#card-hover") Hover
          li.nav-item: a.nav-link(href="#card-glass") Glass
      li.nav-item
        a.nav-link(href="#dropdown") Dropdown
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#dropdown-native") Native
          li.nav-item: a.nav-link(href="#dropdown-directions") Directions
          li.nav-item: a.nav-link(href="#dropdown-hover") Hover
          li.nav-item: a.nav-link(href="#dropdown-menu-scroll") Menu scroll
          li.nav-item: a.nav-link(href="#dropdown-submenu") Submenu
          li.nav-item: a.nav-link(href="#dropdown-mega-menu") Mega menu
      li.nav-item
        a.nav-link(href="#form") Form
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#control-bottom") Control bottom
      li.nav-item
        a.nav-link(href="#list-group") List group
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#list-group-sizes") Sizes
      li.nav-item
        a.nav-link(href="#nav") Nav
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#nav-active") Active
          li.nav-item: a.nav-link(href="#nav-sizes") Sizes
          li.nav-item: a.nav-link(href="#nav-tab-directions") Tab directions
      li.nav-item
        a.nav-link(href="#navbar") Navbar
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#navbar-nav-directions") Nav directions
          li.nav-item: a.nav-link(href="#navbar-sizes") Sizes
          li.nav-item: a.nav-link(href="#navbar-fixed-padding") Fixed padding
      li.nav-item
        a.nav-link(href="#pagination") Pagination
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#pagination-unbordered") Unbordered
      li.nav-item
        a.nav-link(href="#progress") Progress
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#progress-sizes") Sizes
  li.nav-item
    a.nav-link(href="#utilities") Utilities
    ul.nav.nav-y-sm.pl-3.flex-column
      li.nav-item
        a.nav-link(href="#background") Background
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#background-colors") Colors
          li.nav-item: a.nav-link(href="#background-glass") Glass
          li.nav-item: a.nav-link(href="#background-striped") Striped
      li.nav-item
        a.nav-link(href="#border") Border
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#border-widths") Widths
      li.nav-item
        a.nav-link(href="#font") Font
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#font-sizes") Sizes
          li.nav-item: a.nav-link(href="#font-weights") Weights
      li.nav-item
        a.nav-link(href="#position") Position
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#position-methods") Methods
      li.nav-item
        a.nav-link(href="#text") Text
        ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
          li.nav-item: a.nav-link(href="#text-colors") Colors
          li.nav-item: a.nav-link(href="#text-ribbon") Ribbon
