extends ../example.pug

block example_link
  a.text-default(href="#pagination-unbordered") Unbordered

block example_result
  +pagination_variant('unbordered')

block example_code
  :encode-pug
    | <!-- Source -->
    ul.pagination.pagination-unbordered
