extends ../example.pug

block example_link
  a#background-colors.text-gray-dark(href="#background-colors") Colors

block example_result
  +backgrounds()

block example_code
  include ../sources/background/colors.html
