extends ../example.pug

block example_link
  a#background-glass.text-gray-dark(href="#background-glass") Glass

block example_result
  +glass_backgrounds()

block example_code
  include ../sources/background/glass.html
