extends ../example.pug

block example_link
  a#background-glass.text-gray-dark(href="#background-glass") Glass

block example_block
  .card-block.bg-inverse.bg-striped
    each text, variant in {'primary': 'Primary', 'success': 'Success', 'info': 'Info', 'warning': 'Warning', 'danger': 'Danger', 'white': 'White', 'black': 'Black', 'purple': 'Purple', 'pink': 'Pink', 'yellow': 'Yellow'}
      +background_glass(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in {'primary': 'Primary', 'success': 'Success', 'info': 'Info', 'warning': 'Warning', 'danger': 'Danger', 'white': 'White', 'black': 'Black', 'purple': 'Purple', 'pink': 'Pink', 'yellow': 'Yellow'}
      p.text-white(class='bg-glass-' + variant)= text
