extends ../example.pug

block example_title
  h3.font-weight-normal Control color

block example_result
  .row
    each text, variant in colors
      if variant != 'light' && variant != 'white'
        .col-3
          .form-group
            +form_control_variant(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    input.form-control.form-control-bottom(type='text', placeholder='Bottom')
    input.form-control.form-control-left(type='text', placeholder='Left')
