extends ../example.pug

block example_title
  h3.font-weight-normal Control color alpha

block example_body
  .card-body.bg-dark.bg-striped
    .row
      each text, variant in colors
        .col-3
          .form-group
            +form_control_variant(text, variant + '-50')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      input.form-control(type='text', placeholder=text class="input-" + variant + '-50')
