extends ../example.pug

block example_title
  h3.fw-400 Opacity

block example_body
  .card-body.bg-dark.bg-striped
    .row
      each text, variant in colors
        if variant != 'light'
          .col-3
            .form-group
              +input_dark(text, variant + '-50')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      if variant != 'light'
        input.form-control.input-dark(type='text', placeholder=text class="input-" + variant + '-50')
