extends ../example-html.pug

block example_title
  h4.fw-400 Responsive input sizes

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      - for(var size = 1; size <= 4; size++)
        input.form-control(type='text', placeholder=size class='input-' + breakpoint + '-' + size)
      ="\n"
