mixin background(text, classes)
  p(class=classes)= text

mixin background_variant(text, variant)
  +background(text, ['bg-' + variant, 'text-inverse', 'p-2'])

mixin backgrounds()
  .bg-inverse.bg-striped.p-2.mb-4
    +background('Default', ['bg-default', 'p-2', 'mb-0'])
  each text, variant in {'premium': 'Premium', 'pretty': 'Pretty'}
    +background_variant(text, variant)

mixin glass_background(text, variant)
  +background(text, ['bg-glass-' + variant, 'text-inverse', 'p-2'])

mixin glass_backgrounds()
  .bg-inverse.bg-striped.p-2
    +background('Default', ['bg-glass-default', 'p-2'])
    each text, variant in {'primary': 'Primary', 'success': 'Success', 'info': 'Info', 'warning': 'Warning', 'danger': 'Danger', 'inverse': 'Inverse', 'premium': 'Premium', 'pretty': 'Pretty'}
      +glass_background(text, variant)

mixin background_striped()
  +background('Striped', ['bg-primary', 'bg-striped', 'text-inverse', 'p-2'])
