mixin badge(text, classes)
  .badge(class=classes)= text

mixin badge_variant(text, variant)
    +badge(text, 'badge-' + variant)

mixin badges()
  each text, variant in {'premium': 'Premium', 'pretty': 'Pretty'}
    +badge_variant(text, variant)
