mixin button(text, classes)
  button.btn(type='button' class=classes)= text

mixin button_variant(text, variant)
  +button(text, 'btn-'+variant)

mixin outline_button(text, variant)
  +button(text, 'btn-outline-' + variant)

mixin buttons()
  each text, variant in {'premium': 'Premium', 'pretty': 'Pretty'}
    +button_variant(text, variant)
    +outline_button(text, variant)

mixin glass_button(text, variant)
  +button(text, 'btn-glass-' + variant)

mixin glass_buttons()
  each text, variant in {'primary': 'Primary', 'success': 'Success', 'info': 'Info', 'warning': 'Warning', 'danger': 'Danger', 'premium': 'Premium', 'pretty': 'Pretty'}
    +glass_button(text, variant)

mixin 3d_button(text, variant)
  +button(text, 'btn-3d-' + variant)

mixin 3d_buttons()
  each text, variant in {'primary': 'Primary', 'secondary': 'Secondary', 'success': 'Success', 'info': 'Info', 'warning': 'Warning', 'danger': 'Danger', 'premium': 'Premium', 'pretty': 'Pretty'}
    +3d_button(text, variant)

mixin button_striped()
  +button('Striped', ['btn-primary', 'btn-striped'])

mixin button_shape(text, shape, variant)
  +button(text, ['btn-' + shape, 'btn-' + variant])

mixin button_shapes()
  each shapes, variant in {'primary': {'pill': 'Pill'}, 'secondary': {'tile': 'Tile'}}
    each text, shape in shapes
      +button_shape(text, shape, variant)
