mixin card(text, classes)
  .card.mb-3(class=classes)
    .card-block
      h4.card-title= text
      p.card-text Example text.

mixin card_variant(text, variant)
  +card(text, 'card-' + variant)

mixin inverse_card(text, variant)
  +card(text, ['card-' + variant, 'card-inverse'])

mixin outline_card(text, variant)
  +card(text, 'card-outline-' + variant)

mixin cards()
  .row
    .col-md-3
      .bg-inverse.bg-striped.p-2
        +card_variant('Default', 'default')
    .col-md-3
      .bg-inverse.bg-striped.p-2
        +card('Default', ['card-outline-default', 'card-inverse'])
    each text, variant in {'premium': 'Premium', 'pretty': 'Pretty'}
      .col-md-3
        .py-2
          +inverse_card(text, variant)
      .col-md-3
        .py-2
          +outline_card(text, variant)
  
mixin glass_card(text, variant)
  +card(text, ['card-inverse', 'card-glass-' + variant])

mixin glass_cards()
  .bg-inverse.bg-striped.p-2
    .row
      .col-md-3
        +card('Default', 'card-glass-default')
      each text, variant in {'primary': 'Primary', 'success': 'Success', 'info': 'Info', 'warning': 'Warning', 'danger': 'Danger', 'premium': 'Premium', 'pretty': 'Pretty'}
        .col-md-3
          +glass_card(text, variant)

mixin card_striped()
  .row
    .col-md-3
      +card('Striped', ['card-primary', 'card-inverse', 'card-striped'])

mixin card_shapes()
  .row
    each text, shape in {'pill': 'Pill', 'tile': 'Tile'}
      .col-md-3
        +card_variant(text, shape)
