mixin container(text, classes)
  div(class=classes)= text

mixin column(text, classes)
  div(class=classes)= text

mixin container_example()
  .row
    .col-sm-4.offset-sm-4
      .bg-faded.p-2.mb-3.text-center 540px
  .row
    .col-sm-6.offset-sm-3
      .bg-faded.p-2.mb-3.text-center 720px
  .row
    .col-sm-8.offset-sm-2
      .bg-faded.p-2.text-center 960px

mixin container_size(text, size)
  +container(text, 'container-' + size)

mixin container_sizes()
  each text, size in {'sm': 'Small', 'md': 'Medium', 'lg': 'Large'}
    +container_size(text, size)
