mixin list_group_item(text, classes)
  a.list-group-item(href="#" class=classes)= text

mixin list_group(classes)
  .list-group(class=classes)
    each i in [1, 2, 3]
      +list_group_item('List group item ' + i, 'list-group-item-action')

mixin list_group_size(size)
  +list_group('list-group-' + size)

mixin list_group_sizes()
  .row
    each size in ['xs', 'sm', 'lg']
      .col-md-4
        +list_group_size(size)
