mixin progress(classes, bar_classes)
  .progress.mb-3(class=classes)
    .progress-bar(class=bar_classes)

mixin progress_variant(variant)
  +progress('progress-' + variant, 'w-100')

mixin progresses()
  each color in ['premium', 'pretty']
    +progress('', ['w-100', 'bg-' + color])

mixin progress_size(size)
  +progress_variant(size, 'w-100')

mixin progress_sizes()
  each size in ['xs', 'sm', 'lg', 'xl']
    +progress_size(size)

mixin progress_shape(shape)
  +progress_variant(shape, 'w-100')

mixin progress_shapes()
  each shape in ['pill', 'tile']
    +progress_shape(shape)
