extends ../example-html.pug

block example_title
  h3.fw-400 Expand

block example_code
  :encode-pug
    | <!-- Source -->
    .sidebar.sidebar-expand
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      .sidebar(class="sidebar-expand-" + breakpoint)
