extends ../example.pug

block example_title
  h2.fw-400 Sidebar

block example_result
  .row
    .col-lg-4
      .sidebar.sidebar-dark.bg-dark.sidebar-expand
        a.sidebar-brand(href="#") Brand
        ul.sidebar-nav
          - for(var i = 1; i <= 5; i++)
            li.nav-item
              a.nav-link(href="#")= 'Nav item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    .sidebar.sidebar-dark.bg-dark.sidebar-expand
      ="\n  "
      a.sidebar-brand(href="#") Brand
      ul.sidebar-nav
        - for(var i = 1; i <= 5; i++)
          li.nav-item
            a.nav-link(href="#")= 'Nav item ' + i
