extends ../example.pug

block example_title
  h3.fw-400 Modal
  span.badge.badge-success.text-uppercase.mb-3 New

block example_result
  a(href="#" data-toggle="modal" data-target="#sidebar-modal-example")
    span.tribar
  .sidebar-modal.fade#sidebar-modal-example
    .sidebar-dialog.modal-dialog
      .sidebar.sidebar-dark.bg-dark.sidebar-expand
        a.sidebar-brand(href="#") Brand
        ul.sidebar-nav
          - for(var i = 1; i <= 5; i++)
            li.nav-item
              a.nav-link(href="#")= 'Nav item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    ="\n"
    a(href="#" data-toggle="modal" data-target="#sidebar-modal-example")
      span.tribar
    .sidebar-modal.fade#sidebar-modal-example
      .sidebar-dialog.modal-dialog
        .sidebar.sidebar-dark.bg-dark.sidebar-expand
          ="\n      "
          a.sidebar-brand(href="#") Brand
          ul.sidebar-nav
            - for(var i = 1; i <= 5; i++)
              li.nav-item
                a.nav-link(href="#")= 'Nav item ' + i
