extends ../example.pug

block example_title
  h3.fw-400 Sizes

block example_result
  .row
    each size in ['xs', 'sm', 'lg']
      .col-md-4
        +list_group_variant(size)

block example_code
  :encode-pug
    | <!-- Source -->
    each size in ['xs', 'sm', 'lg']
      .list-group(class='list-group-' + size)
