extends ../example.pug

block example_title
  h3.fw-400 Sizes

block example_result
  .row
    - for(var size = 1; size <= 5; size++)
      .mb-gutter(class='col-md-' + (size <= 4 ? 3 : 4))
        +list_group_variant(size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 5; size++)
      .list-group(class='list-group-' + size)
