extends ../example.pug

block example_link
  a.text-default(href="#breadcrumb-arrows") Arrows

block example_result
  each arrow in ['rang', 'raquo', 'rarr', 'rsaquo']
    +breadcrumb_variant(arrow)

block example_code
  :encode-pug
    | <!-- Source -->
    each arrow in ['rang', 'raquo', 'rarr', 'rsaquo']
      ol.breadcrumb(class='breadcrumb-' + arrow)
