extends ../example-html.pug

block example_title
  h3.font-weight-normal Responsive heading

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      - for(var size = 1; size <= 6; size++)
        div(class='h' + size + '-' + breakpoint)
      ="\n"
      - for(var size = 1; size <= 4; size++)
        div(class='display-' + breakpoint + '-' + size)
      ="\n"
