extends ../example.pug

block head_title
  +example_head_title('size', 'full')

block meta_description
  +example_meta_description('size', 'full')

block breadcrumb
  +example_breadcrumb('size')

block example_description
  +example_description('size', 'full')

block example_result
  div(style="width: 100px;height: 100px;")
    .s-100.bg-state-primary.text-state-primary.border.border-primary
      .flex-center.s-100
        div 100%

block example_code
  :encode-pug
    | <!-- Source -->
    .s-100
    .ms-100
    .min-s-100
    .min-vs-100
    .vs-100

block example_after
  #responsive.pt-3
    h2.h4.fw-400.mb-3 Responsive
  .card.card-body.bg-card-cap
    +example_code
      :encode-pug
        | <!-- Source -->
        .s-100
        .ms-100
        .min-s-100
        .min-vs-100
        .vs-100
        ="\n"
        each breakpoint in ['sm', 'md', 'lg', 'xl']
          div(class="s-" + breakpoint + "-100")
          div(class="ms-" + breakpoint + "-100")
          div(class="min-s-" + breakpoint + "-100")
          div(class="min-vs-" + breakpoint + "-100")
          div(class="vs-" + breakpoint + "-100")
          ="\n"
          each length in ['w', 'h']
            div(class=length + "-" + breakpoint + "-100")
            div(class="m" + length + "-" + breakpoint + "-100")
            div(class="min-v" + length + "-" + breakpoint + "-100")
            div(class="v" + length + "-" + breakpoint + "-100")
            ="\n"
          ="\n"
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
