extends ../example.pug

block head_title
  +example_head_title('navbar', 'container')

block meta_description
  +example_meta_description('navbar', 'container')

block breadcrumb
  +example_breadcrumb('navbar')

block example_description
  +example_description('navbar', 'container')

block example_result
  +navbar(['navbar-expand-xs', 'navbar-dark', 'bg-dark'])

block example_code
  :encode-pug
    | <!-- Source -->
    .navbar.px-0
      .container.navbar-container
