extends ../example.pug

block example_description
  +example_description('navbar', 'expand_xs')

block example_result
  nav.navbar.navbar-expand-xs.navbar-dark.bg-dark.px-0
    .container-fluid.navbar-container
      = "\n\t"
      a.navbar-brand(href="#") Brand
      .collapse.navbar-collapse
        ul.navbar-nav(class=classes)
          - for(var i = 1; i <= 3; i++)
            li.nav-item: a.nav-link(href='#' class=i==3 ? ["d-none", "d-sm-block"] : "")= 'Nav item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    nav.navbar.navbar-expand-xs
