extends ../example.pug

block head_title
  +example_head_title('navbar', 'nav_align_left')

block meta_description
  +example_meta_description('navbar', 'nav_align_left')

block breadcrumb
  +example_breadcrumb('navbar')

block example_description
  +example_description('navbar', 'nav_align_left')

block example_result
  nav.navbar.navbar-expand.navbar-dark.bg-dark.mb-3.px-0
    .collapse.navbar-collapse
      ul.navbar-nav.navbar-nav-left
        - for(var i = 1; i <= 3; i++)
          li.nav-item: a.nav-link(href='#')= 'Nav item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.px-0
      .collapse.navbar-collapse
        ul.navbar-nav.navbar-nav-left
