extends ../example-responsive.pug

block head_title
  +example_head_title('navbar', 'nav_size')

block meta_description
  +example_meta_description('navbar', 'nav_size')

block breadcrumb
  +example_breadcrumb('navbar')

block example_description
  +example_description('navbar', 'nav_size')

block example_result
  - for(var size = 1; size <= 5; size++)
    +navbar_nav_size(size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 5; size++)
      ul.navbar-nav(class='navbar-nav-' + size)
      ul.navbar-nav(class='navbar-nav-x-' + size)
      ul.navbar-nav(class='navbar-nav-y-' + size)
      ="\n"

block responsive_description
  h2.h3.fw-400 Responsive navbar nav sizes

block responsive_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      - for(var size = 1; size <= 5; size++)
        ul.navbar-nav(class='navbar-nav-' + breakpoint + '-' + size)
        ul.navbar-nav(class='navbar-nav-x-' + breakpoint + '-' + size)
        ul.navbar-nav(class='navbar-nav-y-' + breakpoint + '-' + size)
        ="\n"
      ="\n"
