extends ../example.pug

block head_title
  +example_head_title('navbar', 'scroller')

block meta_description
  +example_meta_description('navbar', 'scroller')

block breadcrumb
  +example_breadcrumb('navbar')

block example_description
  +example_description('navbar', 'scroller')
  .alert.alert-primary(role="alert") Works only on touch devices like #[b tablet] and #[b phone].

block example_result
  .navbar.navbar-expand.navbar-dark.bg-dark.px-0
    .container-fluid
      .navbar-scroller
        ul.navbar-nav.navbar-scroller-nav
          - for(var i = 1; i <= 12; i++)
            li.nav-item: a.nav-link(href='#')= 'Nav item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    .navbar.navbar-expand.navbar-dark.bg-dark.px-0
      .container-fluid
        .navbar-scroller
          ul.navbar-nav.navbar-scroller-nav
            - for(var i = 1; i <= 12; i++)
              li.nav-item: a.nav-link(href='#')= 'Nav item ' + i
