extends ../example.pug

block head_title
  +example_head_title('font', 'size')

block meta_description
  +example_meta_description('font', 'size')

block breadcrumb
  +example_breadcrumb('font')

block example_description
  +example_description('font', 'size')

block example_result
  - for(var size = 1; size <= 12; size++)
    +font_size('Font size ' + size, size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 12; size++)
      p(class='fs-' + size)= 'Font size ' + size

block example_footer_after
  +example_footer#responsive
    :encode-pug
      | <!-- Responsive -->
      each breakpoint in ['sm', 'md', 'lg', 'xl']
        - for(var size = 1; size <= 12; size++)
          p(class='fs-' + breakpoint + '-' + size)
        ="\n"

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
