extends ../example.pug

block head_title
  +example_head_title('font', 'weight')

block meta_description
  +example_meta_description('font', 'weight')

block breadcrumb
  +example_breadcrumb('font')

block example_description
  +example_description('font', 'weight')

block example_result
  each text, weight in {'100': 'Thin', '200': 'Extra light', '300': 'Light', '400': 'Normal', '500': 'Medium', '600': 'Semi bold', '700': 'Bold', '800': 'Extra bold', '900': 'Black'}
    +font_weight(text, weight)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, weight in {'100': 'Thin', '200': 'Extra light', '300': 'Light', '400': 'Normal', '500': 'Medium', '600': 'Semi bold', '700': 'Bold', '800': 'Extra bold', '900': 'Black'}
      p(class='fw-' + weight)= text

block example_after
  #responsive.pt-3
    h2.h4.fw-400.mb-3 Responsive
  .card.card-body.bg-card-cap
    +example_code
      :encode-pug
        | <!-- Responsive -->
        each breakpoint in ['sm', 'md', 'lg', 'xl']
          each text, weight in {'100': 'Thin', '200': 'Extra light', '300': 'Light', '400': 'Normal', '500': 'Medium', '600': 'Semi bold', '700': 'Bold', '800': 'Extra bold', '900': 'Black'}
            p(class='fw-' + breakpoint + '-' + weight)
          ="\n"
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
