body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

pre,
code {
  font-size: 100%;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}

#sidebar-left {
  height: 500px;
  overflow-y: scroll;
  padding-right: 30px;
}

/*#sidebar-left .show > .collapse {
  display: block;
}*/
