extends ../example.pug

block example_link
  a#nav-tab-directions.text-gray-dark(href="#nav-tab-directions") Tab directions

block example_result
  .row
    .col-md-4
      +nav(['nav-tabs', 'nav-tabs-left', 'flex-column', 'mb-5'])
    .col-md-4
      .tab-content.text-center
        p Tab content
    .col-md-4
      +nav(['nav-tabs', 'nav-tabs-right', 'flex-column', 'justify-content-end', 'mb-5'])
  +nav(['nav-tabs', 'nav-tabs-bottom'])

block example_code
  :encode-pug
    | <!-- Source -->
    ul.nav.nav-tabs.nav-tabs-left.flex-column
    ul.nav.nav-tabs.nav-tabs-right.flex-column
    ul.nav.nav-tabs.nav-tabs-bottom
