extends ../example.pug

block head_title
  +example_head_title('text', 'hover_opacity')

block meta_description
  +example_meta_description('text', 'hover_opacity')

block breadcrumb
  +example_breadcrumb('text')

block example_description
  +example_description('text', 'hover_opacity')

block example_body
  .card-body.bg-black.bg-striped
    each text, variant in colors
      +text_hover_alpha(text, variant, 50)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      - for(var i = 1; i <= 9; i++)
        div(class='text-hover-' + variant + '-' + i * 10)= text
      = "\n"
