extends ../example.pug

block example_description
  +example_description('text', 'hover')

block example_result
  each text, variant in colors
    +text_hover(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      div(class='text-hover-' + variant)= text
