extends ../example.pug

block example_description
  +example_description('text', 'state')

block example_result
  each text, variant in colors
    if variant != "black" && variant != "white"
      +text_state(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      if variant != "black" && variant != "white"
        div(class='text-state-' + variant)= text
