extends ../example.pug

block example_link
  a#pagination-unbordered.text-gray-dark(href="#pagination-unbordered") Unbordered

block example_result
  +pagination_unbordered()

block example_code
  include ../sources/pagination/unbordered.html
