extends ../example.pug

block example_link
  a#form-control-underlined.text-gray-dark(href="#form-control-underlined") Control underlined

block example_result
  +form_control_underlined()

block example_code
  include ../sources/form/control-underlined.html
