extends ../example.pug

block example_title
  h3.fw-400 Breadcrumb

block example_result
  nav.navbar.navbar-expand-xs.navbar-dark.bg-dark
    = "\n  "
    a.navbar-brand.d-none.d-sm-inline-block(href="#") Navbar
    ol.breadcrumb.breadcrumb-dark.bg-transparent.px-0.navbar-breadcrumb
      li.breadcrumb-item: a.breadcrumb-link(href='#') Home
      li.breadcrumb-item: a.breadcrumb-link(href='#') Category
      li.breadcrumb-item.active Article

block example_code
  :encode-pug
    | <!-- Source -->
    nav.navbar.navbar-expand-xs.navbar-dark.bg-dark
      = "\n  "
      a.navbar-brand.d-none.d-sm-inline-block(href="#") Navbar
      ol.breadcrumb.breadcrumb-dark.bg-transparent.px-0.navbar-breadcrumb
        li.breadcrumb-item: a.breadcrumb-link(href='#') Home
        li.breadcrumb-item: a.breadcrumb-link(href='#') Category
        li.breadcrumb-item.active Article
