extends ../example.pug

block example_title
  h3.fw-400 Dropdown menu

block example_result
  nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
    = "\n  "
    a.navbar-brand(href="#") Navbar
    .collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') Dropdown
          .dropdown-menu.navbar-dropdown-menu
            - for(var i = 1; i <= 3; i++)
              = "\n\t"
              a.dropdown-item(href='#')= 'Menu item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
      = "\n  "
      a.navbar-brand(href="#") Navbar
      .collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.dropdown
            = "\n\t\t"
            a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') Dropdown
            .dropdown-menu.navbar-dropdown-menu
              - for(var i = 1; i <= 3; i++)
                = "\n\t\t  "
                a.dropdown-item(href='#')= 'Menu item ' + i
