extends ../example.pug

block example_title
  h1.font-weight-normal Nav directions

block example_result
  nav.navbar.navbar-expand-sm.navbar-light.bg-faded.mb-3
    .collapse.navbar-collapse
      ul.navbar-nav.navbar-nav-left.mr-auto
        - for(var i = 1; i <= 3; i++)
          li.nav-item: a.nav-link(href='#')= 'Nav item ' + i
      ul.navbar-nav.navbar-nav-right
        - for(var i = 1; i <= 3; i++)
          li.nav-item: a.nav-link(href='#')= 'Nav item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    nav.navbar.navbar-expand-sm.navbar-light.bg-faded
      .collapse.navbar-collapse
        ul.navbar-nav.navbar-nav-left.mr-auto
        ul.navbar-nav.navbar-nav-right
