extends ../example.pug

block example_title
  h3.font-weight-normal Nav align

block example_result
  nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.mb-3.px-0
    .collapse.navbar-collapse
      ul.navbar-nav.navbar-nav-left.mr-auto
        - for(var i = 1; i <= 3; i++)
          li.nav-item: a.nav-link(href='#')= 'Nav item ' + i
      ul.navbar-nav.navbar-nav-right
        - for(var i = 1; i <= 3; i++)
          li.nav-item: a.nav-link(href='#')= 'Nav item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.px-0
      .collapse.navbar-collapse
        ul.navbar-nav.navbar-nav-left.mr-auto
        ul.navbar-nav.navbar-nav-right
