extends ../example.pug

block example_title
  h3.fw-400 Sizes

block example_result
  - for(var size = 0; size <= 4; size++)
    if size > 0
      +navbar_nav_size(size)
    +navbar_nav_size('y-' + size)
    +navbar_nav_size('x-' + size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 0; size <= 4; size++)
      if size > 0
        ul.navbar-nav(class='navbar-nav-' + size)
      ul.navbar-nav(class='navbar-nav-y-' + size)
      ul.navbar-nav(class='navbar-nav-x-' + size)
      ="\n"
