extends ../example.pug

block example_title
  h4.fw-400 Scroller sizes

block example_result
  .navbar.mb-3.navbar-2.navbar-expand-xs.navbar-dark.bg-dark.px-0
    .container-fluid
      a.navbar-brand(href="#") S
      .navbar-scroller
        ul.navbar-nav.navbar-scroller-nav
          - for(var i = 1; i <= 10; i++)
            li.nav-item: a.nav-link(href='#')= 'Nav item ' + i
  .navbar.navbar-4.navbar-expand-xs.navbar-dark.bg-dark.px-0
    .container-fluid
      a.navbar-brand(href="#") S
      .navbar-scroller
        ul.navbar-nav.navbar-scroller-nav
          - for(var i = 1; i <= 10; i++)
            li.nav-item: a.nav-link(href='#')= 'Nav item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    .navbar.navbar-2.navbar-expand-xs.navbar-dark.bg-dark.px-0
      .container-fluid
        a.navbar-brand(href="#") S
        .navbar-scroller
          ul.navbar-nav.navbar-scroller-nav
            - for(var i = 1; i <= 10; i++)
              li.nav-item: a.nav-link(href='#')= 'Nav item ' + i
    ="\n"
    .navbar.navbar-4.navbar-expand-xs.navbar-dark.bg-dark.px-0
      .container-fluid
        a.navbar-brand(href="#") S
        .navbar-scroller
          ul.navbar-nav.navbar-scroller-nav
            - for(var i = 1; i <= 10; i++)
              li.nav-item: a.nav-link(href='#')= 'Nav item ' + i
