extends ../example.pug

block example_title
  h3.fw-400 Sizes
  span.badge.badge-success.text-uppercase.mb-3 New

block example_result
  - for(var size = 1; size <= 4; size++)
    +navbar_size(size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 4; size++)
      nav.navbar(class='navbar-' + size)
