extends ../example-html.pug

block example_title
  h4.fw-400 Responsive fixed padding
  span.badge.badge-success.text-uppercase.mb-3 New

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      div(class="py-navbar-" + breakpoint)
      div(class="pt-navbar-" + breakpoint)
      div(class="pb-navbar-" + breakpoint)
      = "\n"
      - for(var size = 1; size <= 4; size++)
        div(class="py-navbar-" + breakpoint + "-" + size)
        div(class="pt-navbar-" + breakpoint + "-" + size)
        div(class="pb-navbar-" + breakpoint + "-" + size)
        = "\n"
