extends ../example-html.pug

block example_title
  h4.fw-400 Responsive fixed padding

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      div(class="py-" + breakpoint + "-navbar")
      div(class="pt-" + breakpoint + "-navbar")
      div(class="pb-" + breakpoint + "-navbar")
      = "\n"
      - for(var size = 1; size <= 4; size++)
        div(class="py-navbar-" + breakpoint + "-" + size)
        div(class="pt-navbar-" + breakpoint + "-" + size)
        div(class="pb-navbar-" + breakpoint + "-" + size)
        = "\n"
