h1.font-weight-normal Fixed padding

.card.card-body.bg-light.mb-3
  pre
    code.language-markup
      :encode-pug
        | <!-- Source -->
        .py-navbar
        .pt-navbar
        .pb-navbar
        each size in ['sm', 'lg']
          = "\n"
          div(class='py-navbar-' + size)
          div(class='pt-navbar-' + size)
          div(class='pb-navbar-' + size)
