extends ../example.pug

block example_title
  h3.fw-400 Triple bar

block example_result
  +navbar(['navbar-expand-xs', 'navbar-dark', 'bg-dark'])

block example_code
  :encode-pug
    | <!-- Source -->
    button.navbar-toggler(type="button")
      ="\n  "
      span.tribar.navbar-toggler-tribar
