extends ../example.pug

block head_title
  +example_head_title('list-group', 'size')

block meta_description
  +example_meta_description('list-group', 'size')

block breadcrumb
  +example_breadcrumb('list-group')

block example_description
  +example_description('list-group', 'size')

block example_result
  .row
    - for(var size = 1; size <= 5; size++)
      .mb-gutter.col-12(class='col-md-' + (size <= 3 ? 4 : 6))
        +list_group_variant(size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 5; size++)
      .list-group(class='list-group-' + size)

block example_after
  #responsive.pt-3
    h2.h4.font-400.mb-3 Responsive
    .card.card-body.bg-card-cap
      +example_code
        :encode-pug
          | <!-- Source -->
          each breakpoint in ['sm', 'md', 'lg', 'xl']
            - for(var size = 1; size <= 5; size++)
              .list-group(class='list-group-' + breakpoint + '-' + size)
            ="\n"
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
