extends ../example.pug

block head_title
  +example_head_title('list-group', 'striped')

block meta_description
  +example_meta_description('list-group', 'striped')

block breadcrumb
  +example_breadcrumb('list-group')

block example_description
  +example_description('list-group', 'striped')

block example_result
  .row
    .col-md-4
      +list_group_variant('striped')

block example_code
  :encode-pug
    | <!-- Source -->
    .list-group.list-group-striped
