extends component.pug

block component_link
  a#breadcrumb.text-gray-dark(href="#breadcrumb") Breadcrumb

block component_examples
  include breadcrumb/arrows.pug
  include breadcrumb/inverse.pug
  include breadcrumb/transparent.pug
