extends section.pug

block section_link
  a#breadcrumb.text-gray-dark(href="#breadcrumb") Breadcrumb

block section_examples
  include breadcrumb/dividers.pug
  include breadcrumb/shapes.pug
  include breadcrumb/transparent.pug
