extends component.pug

block component_link
  a#button.text-gray-dark(href="#button") Button

block component_examples
  include button/colors.pug
  include button/sizes.pug
  include button/pill.pug
  include button/3d.pug
  include button/glass.pug
