extends section.pug

block section_link
  a#button.text-gray-dark(href="#button") Button

block section_examples
  include button/colors.pug
  include button/3d.pug
  include button/glass.pug
  include button/striped.pug
  include button/shapes.pug
