extends section.pug

block section_link
  a#card.text-gray-dark(href="#card") Card

block section_examples
  include card/colors.pug
  include card/glass.pug
  include card/striped.pug
  include card/shapes.pug
