extends component.pug

block component_link
  a#card.text-gray-dark(href="#card") Card

block component_examples
  include card/colors.pug
  include card/image-position.pug
  include card/image-overlay-position.pug
  include card/hover.pug
  include card/glass.pug
