extends section.pug

block section_link
  a#dropdown.text-gray-dark(href="#dropdown") Dropdown

block section_examples
  include dropdown/directions.pug
  include dropdown/hover.pug
  include dropdown/mega-menu.pug
