article.mb-4(role="article")
  header
    block example_title
      h5.font-weight-normal.mb-3
        block example_link
  block example_description
  .card
    .card-block
      block example_result
    .card-footer
      pre
        code.language-markup
          block example_code
.clearfix
