extends component.pug

block component_link
  a#navbar.text-gray-dark(href="#navbar") Navbar

block component_examples
  include navbar/nav-position.pug
  include navbar/expand-sizes.pug
  include navbar/sizes.pug
  include navbar/fixed-padding.pug
