extends section.pug

block section_link
  a#progress.text-gray-dark(href="#progress") Progress

block section_examples
  include progress/colors.pug
  include progress/sizes.pug
  include progress/shapes.pug
