ul#sidebar-nav.nav.nav-y-sm.nav-tree.flex-column
  li.nav-item: a.nav-link(href="#start") Start
  each section, id in contents
    li.nav-item
      a.nav-link(href="#" + id)= section.title
      ul.nav.nav-y-sm.pl-3.flex-column
        each item, itemId in section.items
          li.nav-item
            a.nav-link(href="#" + itemId)= item.title
            ul.nav.nav-y-xs.font-size-sm.pl-3.flex-column
              each exampleName, exampleId in item.items
                li.nav-item: a.nav-link(href="#" + itemId + "-" + exampleId)= exampleName
