ul.nav.nav-y-sm.nav-x-0.flex-column
  li.nav-item: a.nav-link.active(href="#intro") Intro
  li.nav-item: a.nav-link(href="#background") Background
  li.nav-item: a.nav-link(href="#badge") Badge
  li.nav-item: a.nav-link(href="#border") Border
  li.nav-item: a.nav-link(href="#breadcrumb") Breadcrumb
  li.nav-item: a.nav-link(href="#button") Button
  li.nav-item: a.nav-link(href="#card") Card
  li.nav-item: a.nav-link(href="#dropdown") Dropdown
  li.nav-item: a.nav-link(href="#font") Font
  li.nav-item: a.nav-link(href="#form") Form
  li.nav-item: a.nav-link(href="#grid") Grid
  li.nav-item: a.nav-link(href="#list-group") List group
  li.nav-item: a.nav-link(href="#nav") Nav
  li.nav-item: a.nav-link(href="#navbar") Navbar
  li.nav-item: a.nav-link(href="#pagination") Pagination
  li.nav-item: a.nav-link(href="#position") Position
  li.nav-item: a.nav-link(href="#progress") Progress
  li.nav-item: a.nav-link(href="#scrollspy") ScrollSpy
  li.nav-item: a.nav-link(href="#text") Text
