- var repo = "https://github.com/alextarkhov/" + pkg.name
- var download = repo + "/releases/download/v" + pkg.version + "/" + pkg.name + "-" + pkg.version + "-dist.zip"
- var dist = repo + "/tree/v" + pkg.version + "/dist"
- var dist_css = dist + "/css"
- var dist_js = dist + "/js"

-
  var contents = {
    "layout": {
      "title": "Layout",
      "items": {
        "grid": {
          "title": "Grid",
          "first": true,
          "items": {
            "containers": "Containers"
          }
        }
      }
    },
    "components": {
      "title": "Components",
      "items": {
        "badge": {
          "title": "Badge",
          "first": true,
          "items": {
            "colors": "Colors"
          }
        },
        "breadcrumb": {
          "title": "Breadcrumb",
          "items": {
            "dividers": "Dividers",
            "shapes": "Shapes",
            "transparent": "Transparent"
          }
        },
        "button": {
          "title": "Button",
          "items": {
            "colors": "Colors",
            "3d": "3D",
            "glass": "Glass",
            "striped": "Striped",
            "shapes": "Shapes"
          }
        },
        "card": {
          "title": "Card",
          "items": {
            "colors": "Colors",
            "glass": "Glass",
            "striped": "Striped",
            "shapes": "Shapes"
          }
        },
        "dropdown": {
          "title": "Dropdown",
          "items": {
            "directions": "Directions",
            "hover": "Hover",
            "mega-menu": "Mega menu"
          }
        },
        "form": {
          "title": "Form",
          "items": {
            "control-shapes": "Shapes",
            "control-underlined": "Underlined"
          }
        },
        "list-group": {
          "title": "List group",
          "items": {
            "sizes": "Sizes"
          }
        },
        "nav": {
          "title": "Nav",
          "items": {
            "sizes": "Sizes",
            "tabs": "Tabs",
            "tree": "Tree"
          }
        },
        "navbar": {
          "title": "Navbar",
          "items": {
            "colors": "Colors",
            "sizes": "Sizes"
          }
        },
        "pagination": {
          "title": "Pagination",
          "items": {
            "unbordered": "Unbordered"
          }
        },
        "progress": {
          "title": "Progress",
          "items": {
            "colors": "Colors",
            "sizes": "Sizes",
            "shapes": "Shapes"
          }
        }
      }
    },
    "utilities": {
      "title": "Utilities",
      "items": {
        "background": {
          "title": "Background",
          "first": true,
          "items": {
            "colors": "Colors",
            "glass": "Glass",
            "striped": "Striped"
          }
        },
        "font": {
          "title": "Font",
          "items": {
            "sizes": "Sizes",
            "weights": "Weights"
          }
        },
        "text": {
          "title": "Text",
          "items": {
            "colors": "Colors"
          }
        }
      }
    }
  }
