- var author = "alextarkhov"
- var repo = "https://github.com/" + author + "/" + pkg.name
- var download = repo + "/releases/download/v" + pkg.version + "/" + pkg.name + "-" + pkg.version + "-dist.zip"
- var dist = repo + "/tree/v" + pkg.version + "/dist"

-
  var contents = {
    "layout": {
      "title": "Layout",
      "items": {
        "grid": {
          "title": "Grid",
          "items": {
            "container-sizes": "Container sizes",
            "gutter-spacing": "Gutter spacing"
          }
        }
      }
    },
    "components": {
      "title": "Components",
      "items": {
        "badge": {
          "title": "Badge",
          "items": {
            "colors": "Colors"
          }
        },
        "breadcrumb": {
          "title": "Breadcrumb",
          "items": {
            "arrows": "Arrows",
            "inverse": "Inverse",
            "transparent": "Transparent"
          }
        },
        "button": {
          "title": "Button",
          "items": {
            "colors": "Colors",
            "sizes": "Sizes",
            "pill": "Pill",
            "3d": "3D",
            "glass": "Glass"
          }
        },
        "card": {
          "title": "Card",
          "items": {
            "colors": "Colors",
            "image-directions": "Image directions",
            "hover": "Hover",
            "glass": "Glass"
          }
        },
        "dropdown": {
          "title": "Dropdown",
          "items": {
            "native": "Native",
            "directions": "Directions",
            "hover": "Hover",
            "menu-scroll": "Menu scroll",
            "submenu": "Submenu",
            "mega-menu": "Mega menu"
          }
        },
        "form": {
          "title": "Form",
          "items": {
            "control-bottom": "Control bottom"
          }
        },
        "list-group": {
          "title": "List group",
          "items": {
            "sizes": "Sizes"
          }
        },
        "nav": {
          "title": "Nav",
          "items": {
            "active": "Active",
            "sizes": "Sizes",
            "tab-directions": "Tab directions"
          }
        },
        "navbar": {
          "title": "Navbar",
          "items": {
            "nav-directions": "Nav directions",
            "sizes": "Sizes",
            "fixed-padding": "Fixed padding"
          }
        },
        "pagination": {
          "title": "Pagination",
          "items": {
            "unbordered": "Unbordered"
          }
        },
        "progress": {
          "title": "Progress",
          "items": {
            "sizes": "Sizes"
          }
        },
        "scrollspy": {
          "title": "ScrollSpy",
          "items": {
            "native": "Native"
          }
        }
      }
    },
    "utilities": {
      "title": "Utilities",
      "items": {
        "background": {
          "title": "Background",
          "items": {
            "colors": "Colors",
            "glass": "Glass",
            "striped": "Striped"
          }
        },
        "border": {
          "title": "Border",
          "items": {
            "widths": "Widths"
          }
        },
        "font": {
          "title": "Font",
          "items": {
            "sizes": "Sizes",
            "weights": "Weights"
          }
        },
        "position": {
          "title": "Position",
          "items": {
            "methods": "Methods"
          }
        },
        "text": {
          "title": "Text",
          "items": {
            "colors": "Colors",
            "ribbon": "Ribbon"
          }
        }
      }
    }
  }
