extends ../example-html.pug

block example_title
  h4.fw-400 Responsive flex align
  span.badge.badge-success.text-uppercase.mb-3 New

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      div(class='flex-' + breakpoint + '-center')
      div(class='flex-y-' + breakpoint + '-center')
      div(class='flex-x-' + breakpoint + '-center')
      div(class='flex-' + breakpoint + '-left')
      div(class='flex-' + breakpoint + '-right')
      div(class='flex-' + breakpoint + '-between')
      div(class='flex-' + breakpoint + '-around')
      div(class='flex-' + breakpoint + '-top')
      div(class='flex-' + breakpoint + '-bottom')
      div(class='flex-' + breakpoint + '-baseline')
      div(class='flex-' + breakpoint + '-stretch')
      ="\n"
      div(class='flex-align-' + breakpoint + '-between')
      div(class='flex-align-' + breakpoint + '-around')
      div(class='flex-align-' + breakpoint + '-start')
      div(class='flex-align-' + breakpoint + '-end')
      div(class='flex-align-' + breakpoint + '-center')
      div(class='flex-align-' + breakpoint + '-stretch')
      ="\n"
