extends ../example.pug

block head_title
  +example_head_title('badge', 'custom')

block meta_description
  +example_meta_description('badge', 'custom')

block breadcrumb
  +example_breadcrumb('badge')

block example_description
  +example_description('badge', 'custom')

block example_body
  .card-body
    each text, variant in customColors
      if variant != 'white'
        +badge_variant(text, variant)
  .card-body.bg-dark.bg-striped
    +badge_variant('White', 'white')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in customColors
      .badge(class='badge-' + variant)= text
