extends ../example.pug

block example_description
  +example_description('badge', 'custom')

block example_body
  .card-body
    each text, variant in customColors
      if variant != 'white'
        +badge_variant(text, variant)
  .card-body.bg-dark.bg-striped
    +badge_variant('White', 'white')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in customColors
      .badge(class='badge-' + variant)= text
