extends ../example.pug

block head_title
  +example_head_title('badge', 'opacity')

block meta_description
  +example_meta_description('badge', 'opacity')

block breadcrumb
  +example_breadcrumb('badge')

block example_description
  +example_description('badge', 'opacity')

block example_body
  .card-body.bg-dark.bg-striped
    each text, variant in colors
      +badge_variant(text, variant + '-50')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      - for(var i = 1; i <= 9; i++)
        .badge(class='badge-' + variant + '-' + i * 10)= text
      = "\n"
