extends ../example-html.pug

block example_title
  h3.font-weight-normal Size

block example_code
  :encode-pug
    | <!-- Source -->
    each size in ['sm', 'md', 'lg']
      pre(class="pre-" + size)
