h3.font-weight-normal Size

.card.card-body.bg-light.mb-3
  pre
    code.language-markup
      :encode-pug
        | <!-- Source -->
        each size in ['sm', 'md', 'lg']
          pre(class="pre-" + size)
