extends ../example.pug

block example_link
  a#card-colors.text-gray-dark(href="#card-colors") Colors

block example_result
  .row
    each text, variant in {'black': 'Black', 'purple': 'Purple', 'pink': 'Pink', 'yellow': 'Yellow'}
      .col-md-3
        +card_inverse(text, variant)
      .col-md-3
        +card_outline(text, variant)

block example_inverse
  .card-block.bg-inverse.bg-striped
    .row
      .col-md-3
        +card_variant('White', 'white')
      .col-md-3
        +card('White', ['card-outline-white', 'card-inverse'])

block example_code
  :encode-pug
    | <!-- Source -->
    each variant in ['white', 'black', 'purple', 'pink', 'yellow']
      .card.card-inverse(class='card-' + variant)
      .card(class='card-outline-' + variant)
