extends ../example.pug

block example_link
  a#card-hover.text-gray-dark(href="#card-hover") Hover

block example_result
  .row
    each text, variant in {'primary': 'Primary', 'success': 'Success', 'info': 'Info', 'warning': 'Warning', 'danger': 'Danger', 'black': 'Black', 'purple': 'Purple', 'pink': 'Pink', 'yellow': 'Yellow'}
      .col-md-3
        +card_hover(text, variant)

block example_inverse
  .card-block.bg-inverse.bg-striped
    .row
      .col-md-3
        +card('White', ['card-outline-white', 'card-hover-white', 'card-inverse'])

block example_code
  :encode-pug
    | <!-- Source -->
    each variant in ['primary', 'success', 'info', 'warning', 'danger', 'white', 'black', 'purple', 'pink', 'yellow']
      .card(class=['card-hover-' + variant, 'card-outline-' + variant])
