extends ../example.pug

block head_title
  +example_head_title('card', 'image_left')

block meta_description
  +example_meta_description('card', 'image_left')

block breadcrumb
  +example_breadcrumb('card')

block example_description
  +example_description('card', 'image_left')

block example_result
  .card.flex-row
    img.card-img-left.example-card-img-responsive(src="/" + pkg.name + "/assets/img/thumbnail.jpg")
    .card-body
      h4.card-title.h5.h4-sm Left image
      p.card-text Example text

block example_code
  :encode-pug
    | <!-- Source -->
    .card.flex-row
      img.card-img-left.example-card-img-responsive(src="/" + pkg.name + "/assets/img/thumbnail.jpg")
      .card-body
        h4.card-title.h5.h4-sm Left image
        p.card-text Example text

block example_after
  #responsive.pt-3
    h2.h4.fw-400.mb-3 Responsive
    .card.card-body.bg-card-cap
      +example_code
        :encode-pug
          | <!-- Responsive -->
          each breakpoint in ['sm', 'md', 'lg', 'xl']
            ="\n"
            img(class="card-img-" + breakpoint + "-left" src="/" + pkg.name + "/assets/img/thumbnail.jpg")
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
