extends ../example.pug

block head_title
  +example_head_title('card', 'pill')

block meta_description
  +example_meta_description('card', 'pill')

block breadcrumb
  +example_breadcrumb('card')

block example_description
  +example_description('card', 'pill')

block example_result
  .row
    .col-md-6
      .card.card-body.card-pill
        h4.card-title Pill
        p.card-text Example text

block example_code
  :encode-pug
    | <!-- Source -->
    .card.card-pill
