extends ../example.pug

block example_title
  h3.fw-normal Sizes

block example_result
  each size in ['xs', 'md', 'lg', 'xl']
    +progress_variant(size)

block example_code
  :encode-pug
    | <!-- Source -->
    each size in ['xs', 'md', 'lg', 'xl']
      .progress(class='progress-' + size)
