extends ../example.pug

block example_title
  h3.fw-400 Horizontal
  span.badge.badge-success.text-uppercase.mb-3 New

block example_result
  a.btn.btn-primary(href="#example-collapse-horizontal" data-toggle="collapse") Collapse
  .collapse.collapse-horizontal.width#example-collapse-horizontal
    p(style="min-width: 500px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

block example_code
  :encode-pug
    | <!-- Source -->
    = "\n"
    a.btn.btn-primary(href="#example-collapse-horizontal" data-toggle="collapse") Collapse
    .collapse.collapse-horizontal.width#example-collapse-horizontal
      p(style="min-width: 500px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
