extends ../example.pug

block example_title
  h3.fw-400 Sizes

block example_result
  each size in ['xs', 'sm', 'lg']
    +nav_size(size)

block example_code
  :encode-pug
    | <!-- Source -->
    each size in ['xs', 'sm', 'lg']
      ul.nav(class='nav-' + size)
