extends ../example.pug

block example_title
  h3.fw-400 Sizes

block example_result
  - for(var size = 1; size <= 4; size++)
    +nav_size(size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 4; size++)
      ul.nav(class='nav-' + size)
