extends ../example.pug

block example_title
  h3.fw-400 Tabs position

block example_result
  .row
    .col-md-4
      +nav(['nav-tabs', 'nav-tabs-left', 'mb-5'])
    .col-md-4
      .tab-content.text-center
        p Tab content
    .col-md-4
      +nav(['nav-tabs', 'nav-tabs-right', 'justify-content-end', 'mb-5'])
  +nav(['nav-tabs', 'nav-tabs-bottom'])

block example_code
  :encode-pug
    | <!-- Source -->
    ul.nav.nav-tabs.nav-tabs-left
    ul.nav.nav-tabs.nav-tabs-right
    ul.nav.nav-tabs.nav-tabs-bottom
