extends ../example-html.pug

block example_title
  h4.fw-400 Responsive tabs

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      ul.nav.nav-tabs(class='nav-tabs-' + breakpoint + '-right')
      ul.nav.nav-tabs(class='nav-tabs-' + breakpoint + '-left')
      ="\n"
