extends ../example.pug

block example_title
  h3.fw-normal Tree

block example_result
  ul.nav.nav-tree.nav-x-0.nav-y-sm.flex-column
    li.nav-item
      a.nav-link(href="#") Item 1
    li.nav-item.show
      a.nav-link(href="#") Item 2
      ul.nav.nav-tree.nav-x-0.nav-y-sm.font-size-2.pl-3.flex-column
        li.nav-item
          a.nav-link(href="#") Sub-item 1
        li.nav-item.show
          a.nav-link.active(href="#") Sub-item 2
          ul.nav.nav-tree.nav-x-0.nav-y-sm.font-size-1.pl-3.flex-column
            li.nav-item
              a.nav-link(href="#") Sub-item 1
            li.nav-item
              a.nav-link.active(href="#") Sub-item 2
            li.nav-item
              a.nav-link(href="#") Sub-item 3
        li.nav-item
          a.nav-link(href="#") Sub-item 3
    li.nav-item
      a.nav-link(href="#") Item 3

block example_code
  :encode-pug
    | <!-- Source -->
    ul.nav
      li.nav-item: a.nav-link.active(href='#') Active
