extends ../example.pug

block example_link
  a#list-group-sizes.text-gray-dark(href="#list-group-sizes") Sizes

block example_result
  +list_group_sizes()

block example_code
  include ../sources/list-group/sizes.html
