extends ../example.pug

block head_title
  +example_head_title('dropdown', 'arrow')

block meta_description
  +example_meta_description('dropdown', 'arrow')

block breadcrumb
  +example_breadcrumb('dropdown')

block example_description
  +example_description('dropdown', 'arrow')
  p  Now you can add #[strong arrows] for all directions of the menu using a special class #[code.font-2 .dropdown-arrow].

block example_result
  .row-1.row-sm-3
    .col-sm-3.col-auto
      +dropdown_arrow('Right', 'dropright')
    .col-sm-6.col-auto.text-center
      +dropdown_arrow('Down', 'dropdown')
      +dropdown_arrow('Up', 'dropup')
    .col-sm-3.col-auto
      .float-right
        +dropdown_arrow('Left', 'dropleft')

block example_code
  :encode-pug
    | <!-- Source -->
    .btn-group.dropdown
      button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown") Dropdown
      .dropdown-menu
        .dropdown-arrow
