extends ../example.pug

block head_title
  +example_head_title('dropdown', 'disable_caret')

block meta_description
  +example_meta_description('dropdown', 'disable_caret')

block breadcrumb
  +example_breadcrumb('dropdown')

block example_description
  +example_description('dropdown', 'disable_caret')

block example_result
  .btn-group.dropdown
    button.btn.btn-secondary.dropdown-toggle.disable-caret(type="button" data-toggle="dropdown") Dropdown
    +dropdown_menu()

block example_code
  :encode-pug
    | <!-- Source -->
    .btn-group.dropdown
      button.btn.btn-secondary.dropdown-toggle.disable-caret(type="button" data-toggle="dropdown") Dropdown
      .dropdown-menu
