extends ../example.pug

block head_title
  +example_head_title('dropdown', 'mega_menu')

block meta_description
  +example_meta_description('dropdown', 'mega_menu')

block breadcrumb
  +example_breadcrumb('dropdown')

block example_description
  +example_description('dropdown', 'mega_menu')
  .alert.alert-primary This component requires #[b bootstrap.js] and #[b= pkg.name + '.js'] or just #[b dropdown.js] and #[b dropdown-mega.js].

block example_result
  ul.nav.dropdown
    li.nav-item.dropdown-hover.dropdown-mega
      a.nav-link.dropdown-toggle(href="#" data-toggle='dropdown' data-hover='dropdown') Fluid
      .dropdown-menu.dropdown-menu-fluid.dropdown-mega-menu
        .dropdown-menu-body
          .row
            - for(var c = 1; c <= 2; c++)
              .col-6
                ul.list-unstyled
                  - for(var i = 1; i <= 3; i++)
                    li: a(href='#')= 'List item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    ul.nav.dropdown
      li.nav-item.dropdown-hover.dropdown-mega
        = "\n\t"
        a.nav-link.dropdown-toggle(href="#" data-toggle='dropdown' data-hover='dropdown') Fluid
        .dropdown-menu.dropdown-menu-fluid.dropdown-mega-menu
          .dropdown-menu-body
            .row
              - for(var c = 1; c <= 2; c++)
                .col-6
                  ul.list-unstyled
                    - for(var i = 1; i <= 3; i++)
                      li: a(href='#')= 'List item ' + i
