extends ../example.pug

block head_title
  +example_head_title('dropdown', 'scrollable_menu')

block meta_description
  +example_meta_description('dropdown', 'scrollable_menu')

block breadcrumb
  +example_breadcrumb('dropdown')

block example_description
  +example_description('dropdown', 'scrollable_menu')

block example_result
  .btn-group.dropdown
    button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown") Dropdown
    .dropdown-menu.dropdown-menu-scrollable
      - for(var i = 1; i <= 20; i++)
        = "\n\t"
        a.dropdown-item(href='#')= 'Menu item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    .btn-group.dropdown
      button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown") Dropdown
      .dropdown-menu.dropdown-menu-scrollable
