body {
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/ }

pre,
code {
  font-size: 100%;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important; }

#sidebar-left {
  max-height: calc(100vh - (3.5rem + (30px * 2)));
  overflow-y: scroll; }
