extends component.pug

block head_title
  +component_head_title('background')

block meta_description
  +component_meta_description('background')

block component_description
  +component_description('background')

block component_examples
  +component_examples('background')
