extends component.pug

block head_title
  +component_head_title('badge')

block meta_description
  +component_meta_description('badge')

block component_description
  +component_description('badge')

block component_examples
  +component_examples('badge')
