extends component.pug

block head_title
  +component_head_title('breadcrumb')

block meta_description
  +component_meta_description('breadcrumb')

block component_description
  +component_description('breadcrumb')

block component_examples
  +component_examples('breadcrumb')
