extends layout.pug

block main
  #description
    block example_title
    block example_description
  #example.card.mb-3
    block example_header
      //- .card-header
      //-   .nav.nav-tabs.card-header-tabs.mx-0
      //-     .nav-item
      //-       .nav-link.active Example
    block example_body
      .card-body
        block example_result
    block example_footer
      +example_footer
        block example_code
    block example_footer_after
  .clearfix
  block example_after

block sidebar_right
  ul.sidebar-nav.nav-tree.nav-tabs.nav-tabs-material.nav-tabs-right.nav-y-2.font-2
    li.nav-item
      a.nav-link(href="#description") Description
    li.nav-item
      a.nav-link(href="#example") Example
    block sidebar_right_items_after
