extends layout.pug

block main
  block example_title
  block example_description

  .card.card-body.bg-card-cap.mb-3
    pre.pre-scrollable
      code.language-markup
        block example_code

block sidebar_right
  ul.sidebar-nav.nav-tree.nav-tabs.nav-tabs-material.nav-tabs-right.nav-y-2.font-2
    li.nav-item
      a.nav-link(href="#description") Description
    li.nav-item
      a.nav-link(href="#example") Example
