extends component.pug

block head_title
  +component_head_title('flex')

block meta_description
  +component_meta_description('flex')

block component_description
  +new_component_description('flex')

block component_examples
  +component_examples('flex')
