extends component.pug

block head_title
  +component_head_title('form')

block meta_description
  +component_meta_description('form')

block component_description
  +component_description('form')

block component_examples
  +component_examples('form')
