extends component.pug

block head_title
  +component_head_title('grid')

block meta_description
  +component_meta_description('grid')

block component_description
  +component_description('grid')

block component_examples
  +component_examples('grid')
