extends component.pug

block head_title
  +component_head_title('list-group')

block meta_description
  +component_meta_description('list-group')

block component_description
  +component_description('list-group')

block component_examples
  +component_examples('list-group')
