extends component.pug

block head_title
  +component_head_title('navbar')

block meta_description
  +component_meta_description('navbar')

block component_description
  +component_description('navbar')

block component_examples
  +component_examples('navbar')
