extends component.pug

block head_title
  +component_head_title('pagination')

block meta_description
  +component_meta_description('pagination')

block component_description
  +component_description('pagination')

block component_examples
  +component_examples('pagination')
