extends component.pug

block head_title
  +component_head_title('position')

block meta_description
  +component_meta_description('position')

block component_description
  +component_description('position')

block component_examples
  +component_examples('position')
