extends component.pug

block head_title
  +component_head_title('progress')

block meta_description
  +component_meta_description('progress')

block component_description
  +component_description('progress')

block component_examples
  +component_examples('progress')
