extends component.pug

block head_title
  +component_head_title('scrollspy')

block meta_description
  +component_meta_description('scrollspy')

block component_description
  +component_description('scrollspy')

block component_examples
  +component_examples('scrollspy')
