extends component.pug

block head_title
  +component_head_title('sidebar')

block meta_description
  +component_meta_description('sidebar')

block component_description
  +new_component_description('sidebar')

block component_examples
  +component_examples('sidebar')
