extends component.pug

block head_title
  +component_head_title('tribar')

block meta_description
  +component_meta_description('tribar')

block component_description
  +new_component_description('tribar')

block component_examples
  +component_examples('tribar')
