extends component.pug

block head_title
  +component_head_title('type')

block meta_description
  +component_meta_description('type')

block component_description
  +component_description('type')

block component_examples
  +component_examples('type')
