extends ../example.pug

block example_link
  a.text-default(href="#button-3d") 3D

block example_result
  each text, variant in {'primary': 'Primary', 'secondary': 'Secondary', 'success': 'Success', 'info': 'Info', 'warning': 'Warning', 'danger': 'Danger', 'inverse': 'Inverse', 'premium': 'Premium', 'pretty': 'Pretty', 'star': 'Star'}
    +button_3d(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in {'primary': 'Primary', 'secondary': 'Secondary', 'success': 'Success', 'info': 'Info', 'warning': 'Warning', 'danger': 'Danger', 'inverse': 'Inverse', 'premium': 'Premium', 'pretty': 'Pretty', 'star': 'Star'}
      button.btn(type='button' class='btn-3d-' + variant)= text
