extends ../example.pug

block example_link
  a.text-default(href="#button-colors") Colors

block example_result
  each text, variant in {'default': 'Default', 'inverse': 'Inverse', 'premium': 'Premium', 'pretty': 'Pretty', 'star': 'Star'}
    +button_variant(text, variant)
    +button_outline(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in {'default': 'Default', 'inverse': 'Inverse', 'premium': 'Premium', 'pretty': 'Pretty', 'star': 'Star'}
      button.btn(type='button' class='btn-' + variant)= text
      button.btn(type='button' class='btn-outline-' + variant)= text
