extends ../example.pug

block example_link
  a.text-default(href="#button-glass") Glass

block example_block
  .card-block.bg-inverse.bg-striped
    each text, variant in {'default': 'Default', 'primary': 'Primary', 'success': 'Success', 'info': 'Info', 'warning': 'Warning', 'danger': 'Danger', 'inverse': 'Inverse', 'premium': 'Premium', 'pretty': 'Pretty', 'star': 'Star'}
      +button_glass(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in {'default': 'Default', 'primary': 'Primary', 'success': 'Success', 'info': 'Info', 'warning': 'Warning', 'danger': 'Danger', 'inverse': 'Inverse', 'premium': 'Premium', 'pretty': 'Pretty', 'star': 'Star'}
      button.btn(type='button' class='btn-glass-' + variant)= text
