extends ../example.pug

block example_link
  a.text-default(href="#badge-colors") Colors

block example_result
  each text, variant in {'inverse': 'Inverse', 'premium': 'Premium', 'pretty': 'Pretty', 'star': 'Star'}
    +badge_variant(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in {'inverse': 'Inverse', 'premium': 'Premium', 'pretty': 'Pretty', 'star': 'Star'}
      .badge(class='badge-' + variant)= text
