extends ../example.pug

block example_title
  h3.font-weight-normal API

block example_result
  +dropdown('Dropdown', 'dropdown')

block example_code
  :encode-pug
    | <!-- Source -->
    .btn-group.dropdown
      button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown") Dropdown
      .dropdown-menu
