extends ../example.pug

block example_title
  h3.fw-400 Arrow

block example_result
  .row
    .col-md-3
      +dropdown_arrow('Right', 'dropright')
    .col-md-6.text-center
      +dropdown_arrow('Down', 'dropdown')
      +dropdown_arrow('Up', 'dropup')
    .col-md-3
      .float-right
        +dropdown_arrow('Left', 'dropleft')

block example_code
  :encode-pug
    | <!-- Source -->
    .btn-group.dropdown
      button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown") Dropdown
      .dropdown-menu
        .dropdown-arrow
