extends ../example.pug

block example_title
  h3.font-weight-normal Arrow

block example_result
  +dropdown_arrow()

block example_code
  :encode-pug
    | <!-- Source -->
    .btn-group.dropdown
      button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown") Dropdown
      .dropdown-menu
        .dropdown-arrow
