extends ../example.pug

block example_title
  h3.font-weight-normal Directions

block example_result
  +dropdown('Dropright', 'dropright')
  .float-right
    +dropdown('Dropleft', 'dropleft')

block example_code
  :encode-pug
    | <!-- Source -->
    .btn-group.dropright
      button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown") Dropright
      .dropdown-menu
    .btn-group.dropleft
      button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown") Dropleft
      .dropdown-menu
