extends ../example.pug

block example_title
  h3.font-weight-normal Hover

block example_result
  +dropdown_hover()

block example_code
  :encode-pug
    | <!-- Source -->
    .btn-group.dropdown.dropdown-hover
      button.btn.btn-secondary.dropdown-toggle(type="button" data-hover="dropdown") Hover
      .dropdown-menu
