extends ../example-js.pug

block example_title
  h3.font-weight-normal Javascript

block example_code
  :encode-pug
    | /* Source */
    script.
      document.addEventListener('DOMContentLoaded', function () {
        var dataToggles = document.querySelectorAll(Dropdown.Selector.DATA_TOGGLE);
        if (dataToggles.length) {
          dataToggles.forEach(function (element) {
            dropdown(element).addEventListeners();
          });
        }

        var dataHovers = document.querySelectorAll(Dropdown.Selector.DATA_HOVER);
        if (dataHovers.length) {
          dataHovers.forEach(function (element) {
            dropdown(element).addHoverListeners();
          });
        }

        document.addEventListener('click', Dropdown.hideMenus);
        document.addEventListener('keyup', Dropdown.hideMenus);
      });
