extends ../example.pug

block example_title
  h3.fw-400 Menu size
  span.badge.badge-success.text-uppercase.mb-3 New

block example_result
  - for(var size = 1; size <= 3; size++)
    +dropdown_size(size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 3; size++)
      .dropdown-menu(class='dropdown-menu-' + size)
