extends ../example.pug

block example_title
  h3.font-weight-normal Submenu

block example_result
  .btn-group.dropdown.dropdown-hover
    button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown" data-hover="dropdown") Dropdown
    .dropdown-menu
      .dropright
        = "\n\t"
        a.dropdown-item.dropdown-toggle(href='#' data-toggle="dropdown" data-hover="dropdown") Dropright
        .dropdown-menu
          .dropright
            = "\n\t"
            a.dropdown-item.dropdown-toggle(href='#' data-toggle="dropdown" data-hover="dropdown") Dropright
            .dropdown-menu
              - for(var i = 1; i <= 3; i++)
                = "\n\t"
                a.dropdown-item(href='#')= 'Menu item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    .btn-group.dropdown.dropdown-hover
      button.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown") Dropdown
      .dropdown-menu
        .dropright
          = "\n\t"
          a.dropdown-item.dropdown-toggle(href='#' data-toggle="dropdown") Dropright
          .dropdown-menu
            .dropright
              = "\n\t"
              a.dropdown-item.dropdown-toggle(href='#' data-toggle="dropdown") Dropright
              .dropdown-menu
