extends ../example.pug

block example_link
  a.text-default(href="#form-control-bottom") Control bottom

block example_result
  +form_control_variant('Bottom', 'bottom')

block example_code
  :encode-pug
    | <!-- Source -->
    input.form-control.form-control-bottom(type='text', placeholder='Bottom')
