extends ../example.pug

block example_link
  a#button-colors.text-gray-dark(href="#button-colors") Colors

block example_result
  +buttons()

block example_code
  include ../sources/button/colors.html
