extends ../example.pug

block example_link
  a#button-colors.text-gray-dark(href="#button-colors") Colors

block example_result
  each text, variant in {'black': 'Black', 'purple': 'Purple', 'pink': 'Pink', 'yellow': 'Yellow'}
    +button_variant(text, variant)
    +button_outline(text, variant)

block example_inverse
  .card-block.bg-inverse.bg-striped
    +button_variant('White', 'white')
    +button_outline('White', 'white')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in {'white': 'White', 'black': 'Black', 'purple': 'Purple', 'pink': 'Pink', 'yellow': 'Yellow'}
      button.btn(type='button' class='btn-' + variant)= text
      button.btn(type='button' class='btn-outline-' + variant)= text
