extends ../example.pug

block example_link
  a#button-glass.text-gray-dark(href="#button-glass") Glass

block example_result
  +glass_buttons()

block example_code
  include ../sources/button/glass.html
