extends ../example.pug

block example_link
  a#button-shapes.text-gray-dark(href="#button-shapes") Shapes

block example_result
  +button_shapes()

block example_code
  include ../sources/button/shapes.html
