extends ../example.pug

block example_link
  a#button-sizes.text-gray-dark(href="#button-sizes") Sizes

block example_result
  +button_size('Extra small', 'xs')

block example_code
  :encode-pug
    | <!-- Source -->
    button.btn.btn-secondary.btn-xs(type='button') Extra small
