extends ../example.pug

block example_link
  a#button-striped.text-gray-dark(href="#button-striped") Striped

block example_result
  +button_striped()

block example_code
  include ../sources/button/striped.html
