extends ../example-html.pug

block example_title
  h2.fw-400 Size
  span.badge.badge-success.text-uppercase.mb-3 New

block example_code
  :encode-pug
    | <!-- Source -->
    .s-100
    .ms-100
    .min-vs-100
    .vs-100
