extends ../example-html.pug

block example_title
  h3.fw-400 Responsive
  span.badge.badge-success.text-uppercase.mb-3 New

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      div(class="w-" + breakpoint + "-100")
      div(class="h-" + breakpoint + "-100")
      div(class="m-" + breakpoint + "-100")
      div(class="min-v-" + breakpoint + "-100")
      div(class="v-" + breakpoint + "-100")
      div(class="s-" + breakpoint + "-100")
      div(class="ms-" + breakpoint + "-100")
      div(class="min-s-" + breakpoint + "-100")
      div(class="vs-" + breakpoint + "-100")
      ="\n"
