extends ../example.pug

block head_title
  +example_head_title('flex', 'align')

block meta_description
  +example_meta_description('flex', 'align')

block breadcrumb
  +example_breadcrumb('flex')

block example_description
  +example_description('flex', 'align')

block example_result
  each align in ['center', 'y-center']
    .mb-3.bg-dark.p-3(class='flex-' + align style="height: 150px")
      - for(var i = 1; i <= 3; i++)
        .p-2.mr-1.bg-primary.text-white= 'Item ' + i
  each align in ['x-center', 'left', 'right', 'between', 'around']
    .mb-3.bg-dark.p-3(class='flex-' + align)
      - for(var i = 1; i <= 3; i++)
        .p-2.mr-1.bg-primary.text-white= 'Item ' + i
  each align in ['top', 'bottom', 'baseline', 'stretch']
    .mb-3.bg-dark.p-3(class='flex-' + align style="height: 150px")
      - for(var i = 1; i <= 3; i++)
        .p-2.mr-1.bg-primary.text-white= 'Item ' + i

block example_code
  :encode-pug
    | <!-- Source -->
    .flex-none
    .flex-center
    .flex-y-center
    .flex-x-center
    .flex-left
    .flex-right
    .flex-between
    .flex-around
    .flex-top
    .flex-bottom
    .flex-baseline
    .flex-stretch

block example_after
  #responsive.pt-3
    h2.h4.fw-400.mb-3 Responsive
    .card.card-body.bg-card-cap
      +example_code
        :encode-pug
          | <!-- Responsive -->
          each breakpoint in ['sm', 'md', 'lg', 'xl']
            div(class='flex-' + breakpoint + '-none')
            div(class='flex-' + breakpoint + '-center')
            div(class='flex-y-' + breakpoint + '-center')
            div(class='flex-x-' + breakpoint + '-center')
            div(class='flex-' + breakpoint + '-left')
            div(class='flex-' + breakpoint + '-right')
            div(class='flex-' + breakpoint + '-between')
            div(class='flex-' + breakpoint + '-around')
            div(class='flex-' + breakpoint + '-top')
            div(class='flex-' + breakpoint + '-bottom')
            div(class='flex-' + breakpoint + '-baseline')
            div(class='flex-' + breakpoint + '-stretch')
            ="\n"
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
