// Opacity
@for $alpha from 1 through 9 {
  .bg-black-#{($alpha * 10)} {
    background-color: rgba($black, ($alpha * .1)) !important;
  }
  .bg-white-#{($alpha * 10)} {
    background-color: rgba($white, ($alpha * .1)) !important;
  }
}

// Contain
.bg-contain {
  background-size: contain;
}

// Cover
.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

// Striped
.bg-striped {
  @include gradient-striped();
  background-size: $spacer $spacer;
}
