// Colors
.breadcrumb-dark {
  @include breadcrumb-variant($breadcrumb-dark-color, $breadcrumb-dark-hover-color, $breadcrumb-dark-active-color, $breadcrumb-dark-divider-color);
}
.breadcrumb-light {
  @include breadcrumb-variant($breadcrumb-light-color, $breadcrumb-light-hover-color, $breadcrumb-light-active-color, $breadcrumb-light-divider-color);
}

// Arrows
@each $divider, $value in $breadcrumb-dividers {
  .breadcrumb-#{$divider} {
    @include breadcrumb-divider($value);
  }
}

// Pill
.breadcrumb-pill {
  border-radius: $border-radius-pill;
  padding-left: $breadcrumb-pill-padding-x;
  padding-right: $breadcrumb-pill-padding-x;
}

// Sizes
@each $breakpoint in map-keys($all-grid-breakpoints) {
  @include media-breakpoint-up($breakpoint, $all-grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $all-grid-breakpoints);

    @each $size, $breadcrumb in $breadcrumb-sizes {
      .breadcrumb#{$infix}-#{$size} {
        @include breadcrumb-size(map-get($breadcrumb, 'padding-y'), map-get($breadcrumb, 'padding-x'), map-get($breadcrumb, 'font-size'), map-get($breadcrumb, 'border-radius'), map-get($breadcrumb, 'item-padding'));
      }
    }
  }
}
