// Colors
.breadcrumb-dark {
  .breadcrumb-item {
    color: $breadcrumb-dark-color;

    @include hover-focus {
      color: $breadcrumb-dark-hover-color;
    }

    &.active {
      color: $breadcrumb-dark-active-color;
    }

    + .breadcrumb-item::before {
      color: $breadcrumb-dark-divider-color;
    }
  }

  .breadcrumb-link {
    color: $breadcrumb-dark-color;

    @include hover-focus {
      color: -hover-color;
    }

    .active > &,
    .show > &,
    &.active {
      color: $breadcrumb-dark-active-color;
    }
  }
}

// Arrows
.breadcrumb-rang {
  @include breadcrumb-divider($breadcrumb-divider-rang);
}
.breadcrumb-raquo {
  @include breadcrumb-divider($breadcrumb-divider-raquo);
}
.breadcrumb-rarr {
  @include breadcrumb-divider($breadcrumb-divider-rarr);
}
.breadcrumb-rsaquo {
  @include breadcrumb-divider($breadcrumb-divider-rsaquo);
}

// Pill
.breadcrumb-pill {
  border-radius: $border-radius-pill;
  padding-left: $breadcrumb-pill-padding-x;
  padding-right: $breadcrumb-pill-padding-x;
}
