// Link
.btn-outline-link {
  @include button-outline-variant($link-color);
  border-color: $gray-400;
}

// Custom
@each $color, $value in $custom-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
    @if $color == 'orange' {
      color: $white;
    }
  }
  .btn-outline-#{$color} {
    @if $color != 'white' {
      @include button-outline-variant($value, $white);
    } @else {
      @include button-outline-variant($value);
    }
  }
}

// State
@each $color, $value in $theme-colors {
  .btn-state-#{$color} {
    @include button-state-variant($value);
  }
}
@each $color, $value in map-remove($custom-colors, "black", "white") {
  .btn-state-#{$color} {
    @include button-state-variant($value);
  }
}

// 3D
@each $color, $value in $theme-colors {
  .btn-3d-#{$color} {
    @include button-3d-variant($value, $value);
    @if $color == 'warning' {
      &,
      &:hover,
      &:focus {
        color: $white;
      }
    }
  }
}
@each $color, $value in map-remove($custom-colors, "black", "white") {
  .btn-3d-#{$color} {
    @include button-3d-variant($value, $value);
    @if $color == 'orange' {
      color: $white;
    }
  }
}

// Opacity
@if $enable-opacity {
  @for $alpha from 1 through 9 {
    @each $color, $value in $theme-colors {
      .btn-#{$color}-#{($alpha * 10)} {
        @include button-variant(rgba($value, ($alpha * .1)), transparent);
        @if $color == 'warning' {
          &,
          &:hover,
          &:focus {
            color: $white;
          }
        }
      }
    }
    @each $color, $value in $custom-colors {
      .btn-#{$color}-#{($alpha * 10)} {
        @include button-variant(rgba($value, ($alpha * .1)), transparent);
        @if $color == 'orange' {
          color: $white;
        }
      }
    }
  }
}

// Hover
@each $color, $value in $theme-colors {
  .btn-hover-#{$color} {
    @if $color == 'warning' {
      @include button-hover-variant($value, $value, $white);
    } @else {
      @include button-hover-variant($value, $value);
    }
  }
}
@each $color, $value in $custom-colors {
  .btn-hover-#{$color} {
    @if $color == 'orange' {
      @include button-hover-variant($value, $value, $white);
    } @else {
      @include button-hover-variant($value, $value);
    }
  }
}

// Active
@each $color, $value in $theme-colors {
  .btn-active-#{$color} {
    @if $color == 'warning' {
      @include button-active-variant($value, $value, $white);
    } @else {
      @include button-active-variant($value, $value);
    }
  }
}
@each $color, $value in $custom-colors {
  .btn-active-#{$color} {
    @if $color == 'orange' {
      @include button-active-variant($value, $value, $white);
    } @else {
      @include button-active-variant($value, $value);
    }
  }
}

// Sizes
@each $breakpoint in map-keys($all-grid-breakpoints) {
  @include media-breakpoint-up($breakpoint, $all-grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $all-grid-breakpoints);

    @each $size, $button in $button-sizes {
      .btn#{$infix}-#{$size} {
        @include button-size(map-get($button, 'padding-y'), map-get($button, 'padding-x'), map-get($button, 'font-size'), map-get($button, 'line-height'), map-get($button, 'border-radius'));
      }
    }
  }
}


// Circle
.btn-circle {
  border-radius: $border-radius-circle;
  padding: 0;
  line-height: normal;
  overflow: hidden;

  @include button-circle-size($btn-font-size);

  @each $breakpoint in map-keys($all-grid-breakpoints) {
    @include media-breakpoint-up($breakpoint, $all-grid-breakpoints) {
      $infix: breakpoint-infix($breakpoint, $all-grid-breakpoints);

      @each $size, $button in $button-sizes {
        &.btn#{$infix}-#{$size} {
          @include button-circle-size(map-get($button, 'font-size'));
        }
      }
    }
  }
}

// Pill
.btn-pill {
  border-radius: $rounded-pill;
}

// Responsive block
@each $breakpoint in map-keys($all-grid-breakpoints) {
  @include media-breakpoint-up($breakpoint, $all-grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $all-grid-breakpoints);

    .btn#{$infix}-block {
      display: block;
      width: 100%;
    }
  }
}
