// Sizes
.btn-xs {
  @include button-size($input-btn-padding-y-xs, $input-btn-padding-x-xs, $font-size-xs, $line-height-xs, $btn-border-radius-xs);
}
.btn-xl {
  @include button-size($input-btn-padding-y-xl, $input-btn-padding-x-xl, $font-size-xl, $line-height-xl, $btn-border-radius-xl);
}

// Link
.btn-outline-link {
  @include button-outline-variant($link-color);
  border-color: $gray-400;
}

// White
.btn-white {
  @include button-variant($white, $white);
}
.btn-outline-white {
  @include button-outline-variant($white);
}

// Opacity
@for $alpha from 1 through 9 {
  .btn-black-#{($alpha * 10)} {
    @include button-variant(rgba($black, ($alpha * .1)), rgba($black, ($alpha * .1)));
  }
}

// Circle
.btn-circle {
  border-radius: $border-radius-circle;
  padding: 0;
  line-height: normal;
  overflow: hidden;

  @include button-circle-size($font-size-base);

  &.btn-xs {
    @include button-circle-size($font-size-xs);
  }
  &.btn-sm {
    @include button-circle-size($font-size-sm);
  }
  &.btn-lg {
    @include button-circle-size($font-size-lg);
  }
  &.btn-xl {
    @include button-circle-size($font-size-xl);
  }
}

// Pill
.btn-pill {
  border-radius: $border-radius-pill;
}
