.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: $caret-width * .85;
}

.caret-up {
  @include caret-up;
}
.caret-right {
  @include caret-right;
}
.caret-down {
  @include caret-down;
}
.caret-left {
  @include caret-left;
}

