// Image position
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .card-img#{$infix}-left {
      @include border-left-radius($card-inner-border-radius);
    }
    .card-img#{$infix}-top-left {
      @include border-top-left-radius($card-inner-border-radius);
    }
    .card-img#{$infix}-bottom-left {
      @include border-bottom-left-radius($card-inner-border-radius);
    }
    .card-img#{$infix}-right {
      @include border-right-radius($card-inner-border-radius);
    }
    .card-img#{$infix}-top-right {
      @include border-top-right-radius($card-inner-border-radius);
    }
    .card-img#{$infix}-bottom-right {
      @include border-bottom-right-radius($card-inner-border-radius);
    }
  }
}

// Footer navs
.card-footer-tabs {
  margin-right: -($card-spacer-x / 2);
  margin-top: -$card-spacer-y;
  margin-left: -($card-spacer-x / 2);
  border-top: 0;
}

.card-footer-pills {
  margin-right: -($card-spacer-x / 2);
  margin-left: -($card-spacer-x / 2);
}
