// Image position
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint);

    .card-img#{$infix}-left {
      width: auto;
      height: 100%;
      @include border-radius($card-inner-border-radius 0 0 $card-inner-border-radius);
    }
    .card-img#{$infix}-right {
      width: auto;
      height: 100%;
      @include border-radius(0 $card-inner-border-radius $card-inner-border-radius 0);
    }
  }
}

// Footer navs
.card-footer-tabs {
  margin-right: -($card-spacer-x / 2);
  margin-top: -$card-spacer-y;
  margin-left: -($card-spacer-x / 2);
  border-top: 0 !important;
}

.card-footer-pills {
  margin-right: -($card-spacer-x / 2);
  margin-left: -($card-spacer-x / 2);
}

// Sizes
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint);

    @each $size, $card in $card-sizes {
      .card#{$infix}-#{$size} {
        @include card-size(map-get($card, 'padding-y'), map-get($card, 'padding-x'), map-get($card, 'font-size'), map-get($card, 'link-padding-y'), map-get($card, 'link-padding-x'));
      }
    }
  }
}

// Pill
.card-pill {
  @include border-radius($border-radius-pill);

  .card-header {
    &:first-child {
      @include border-radius($border-radius-pill $border-radius-pill 0 0);
    }
  }

  .card-footer {
    &:last-child {
      @include border-radius(0 0 $border-radius-pill $border-radius-pill);
    }
  }

  .card-img {
    @include border-radius($border-radius-pill);
  }

  .card-img-top {
    @include border-top-radius($border-radius-pill);
  }

  .card-img-right {
    @include border-right-radius($border-radius-pill);
  }

  .card-img-bottom {
    @include border-bottom-radius($border-radius-pill);
  }

  .card-img-left {
    @include border-left-radius($border-radius-pill);
  }
}

// Card table
.card-table {
  &:first-child {
    tr:first-child {
      td, th {
        border-top: 0;
      }
    }
  }

  &.table-bordered {
    border: 0;

    td, th {
      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }

    &:last-child {
      tr:last-child td {
        border-bottom: 0;
      }
    }
  }
}
