// Position
.dropright,
.dropleft {
  .dropdown-menu & .dropdown-menu {
    top: calc(-#{$dropdown-padding-y} - #{$dropdown-border-width}) !important;
  }
}

// Arrow
.dropdown-arrow {
  position: absolute;
  display: block;
  width: $dropdown-arrow-width;
  height: $dropdown-arrow-height;
  margin: 0 $border-radius-lg;

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
  }
}

.dropup,
.dropdown {
  .dropdown-arrow {
    left: $dropdown-arrow-position;
  }
}

.dropright,
.dropleft {
  .dropdown-arrow {
    top: $dropdown-arrow-position;
  }
}

.dropup {
  .dropdown-arrow {
    bottom: calc((#{$dropdown-arrow-height} + #{$dropdown-border-width}) * -1);
  }

  .dropdown-arrow::before,
  .dropdown-arrow::after {
    border-width: $dropdown-arrow-height ($dropdown-arrow-width / 2) 0;
  }

  .dropdown-arrow::before {
    bottom: 0;
    border-top-color: $dropdown-arrow-outer-color;
  }

  .dropdown-arrow::after {
    bottom: $dropdown-border-width;
    border-top-color: $dropdown-arrow-color;
  }
}

.dropright {
  .dropdown-arrow {
    left: calc((#{$dropdown-arrow-height} + #{$dropdown-border-width}) * -1);
    width: $dropdown-arrow-height;
    height: $dropdown-arrow-width;
    margin: $border-radius-lg 0; // make sure the arrow does not touch the dropdown's rounded corners
  }

  .dropdown-arrow::before,
  .dropdown-arrow::after {
    border-width: ($dropdown-arrow-width / 2) $dropdown-arrow-height ($dropdown-arrow-width / 2) 0;
  }

  .dropdown-arrow::before {
    left: 0;
    border-right-color: $dropdown-arrow-outer-color;
  }

  .dropdown-arrow::after {
    left: $dropdown-border-width;
    border-right-color: $dropdown-arrow-color;
  }
}

.dropdown {
  .dropdown-arrow {
    top: calc((#{$dropdown-arrow-height} + #{$dropdown-border-width}) * -1);
  }

  .dropdown-arrow::before,
  .dropdown-arrow::after {
    border-width: 0 ($dropdown-arrow-width / 2) $dropdown-arrow-height ($dropdown-arrow-width / 2);
  }

  .dropdown-arrow::before {
    top: 0;
    border-bottom-color: $dropdown-arrow-outer-color;
  }

  .dropdown-arrow::after {
    top: $dropdown-border-width;
    border-bottom-color: $dropdown-arrow-color;
  }
}

.dropleft {
  .dropdown-arrow {
    right: calc((#{$dropdown-arrow-height} + #{$dropdown-border-width}) * -1);
    width: $dropdown-arrow-height;
    height: $dropdown-arrow-width;
    margin: $border-radius-lg 0; // make sure the arrow does not touch the dropdown's rounded corners
  }

  .dropdown-arrow::before,
  .dropdown-arrow::after {
    border-width: ($dropdown-arrow-width / 2) 0 ($dropdown-arrow-width / 2) $dropdown-arrow-height;
  }

  .dropdown-arrow::before {
    right: 0;
    border-left-color: $dropdown-arrow-outer-color;
  }

  .dropdown-arrow::after {
    right: $dropdown-border-width;
    border-left-color: $dropdown-arrow-color;
  }
}

// Disable caret
.disable-caret {
  &::before,
  &::after {
    display: none !important;
  }
}

// Scrollable
.dropdown-menu-scrollable {
  max-height: 300px;
  overflow-y: scroll;
}

// Mega menu
.dropdown-mega {
  position: static !important;
}

.dropdown-menu-fluid {
  left: 0 !important;
  right: 0 !important;
}

.dropdown-menu-body {
  padding: $dropdown-menu-body-padding;
}

// Hover
.dropdown-hover {
  .dropdown-menu {
    margin: 0;
  }
}

// Size
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .dropdown-menu#{$infix}-1 {
      @include dropdown-menu-size($dropdown-padding-y-xs, $dropdown-item-padding-y-xs, $dropdown-item-padding-x-xs, $dropdown-font-size-xs);
    }
    .dropdown-menu#{$infix}-2 {
      @include dropdown-menu-size($dropdown-padding-y-sm, $dropdown-item-padding-y-sm, $dropdown-item-padding-x-sm, $dropdown-font-size-sm);
    }
    .dropdown-menu#{$infix}-3 {
      @include dropdown-menu-size($dropdown-padding-y, $dropdown-item-padding-y, $dropdown-item-padding-x, $dropdown-font-size);
    }
  }
}
