// Colors
@each $color, $value in $theme-colors {
  .fill-#{$color} {
    fill: $value !important;
  }
}

@each $color, $value in $custom-colors {
  .fill-#{$color} {
    fill: $value !important;
  }
}

// Opacity
@for $alpha from 1 through 9 {
  @each $color, $value in $theme-colors {
    .fill-#{$color}-#{($alpha * 10)} {
      fill: rgba($value, ($alpha * .1)) !important;
    }
  }
  @each $color, $value in $custom-colors {
    .fill-#{$color}-#{($alpha * 10)} {
      fill: rgba($value, ($alpha * .1)) !important;
    }
  }
}

// Hover
@each $color, $value in $theme-colors {
  .fill-hover-#{$color} {
    &:hover,
    &:focus {
      fill: $value !important;
    }
  }

  @for $alpha from 1 through 9 {
    .fill-hover-#{$color}-#{($alpha * 10)} {
      &:hover,
      &:focus {
        fill: rgba($value, ($alpha * .1)) !important;
      }
    }
  }
}
@each $color, $value in $custom-colors {
  .fill-hover-#{$color} {
    &:hover,
    &:focus {
      fill: $value !important;
    }
  }

  @for $alpha from 1 through 9 {
    .fill-hover-#{$color}-#{($alpha * 10)} {
      &:hover,
      &:focus {
        fill: rgba($value, ($alpha * .1)) !important;
      }
    }
  }
}
