// Input material
.input-material {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);

  &,
  &:focus,
  &:disabled,
  &[readonly] {
    background-color: transparent;
  }

  &,
  &:focus {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    box-shadow: none;
  }

  @each $state, $data in $form-validation-states {
    @include form-validation-state-selector($state) {
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      box-shadow: none;
    }
  }
}

// Dark
.input-dark {
  &,
  &:focus {
    background-color: $input-dark-bg;
    border-color: $input-dark-bg;
    color: $input-dark-color;
  }

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: $input-dark-color;
  }

  &:disabled,
  &[readonly] {
    background-color: darken($input-dark-color, 15%);
  }

  @each $state, $data in $form-validation-states {
    @include form-validation-state-selector($state) {
      background-color: map-get($data, color);
      box-shadow: none;
    }
  }
}

// Opacity
@for $alpha from 1 through 9 {
  .input-black-#{($alpha * 10)} {
    @include input-dark-variant(rgba($black, ($alpha * .1)));
  }
}
