// Input variants
@each $color, $value in map-remove($theme-colors, "light") {
  .input-#{$color} {
    @include form-control-variant($value);
    @if $color == 'warning' {
      color: $white;
    }
  }
}
@each $color, $value in map-remove($custom-colors, "white") {
  .input-#{$color} {
    @include form-control-variant($value);
    @if $color == 'orange' {
      color: $white;
    }
  }
}

// Input opacity
@for $alpha from 1 through 9 {
  @each $color, $value in $theme-colors {
    .input-#{$color}-#{($alpha * 10)} {
      @include form-control-opacity-variant($value, ($alpha * .1));
      @if $color == 'warning' {
        color: $white;
      }
    }
  }
  @each $color, $value in $custom-colors {
    .input-#{$color}-#{($alpha * 10)} {
      @include form-control-opacity-variant($value, ($alpha * .1));
      @if $color == 'orange' {
        color: $white;
      }
    }
  }
}

// Input material
.input-material {
  &,
  &:focus,
  &.is-valid,
  &.is-invalid {
    border-top-color: $input-bg;
    border-right-color: $input-bg;
    border-left-color: $input-bg;
    box-shadow: none;
  }

  @include border-radius(0);
  padding-right: 0;
  padding-left: 0;
}
