// Container breakpoints
@if $enable-grid-classes {
  @each $breakpoint, $container-max-width in $wide-container-max-widths {
    .container-#{$breakpoint} {
      @include make-container();
    }

    @include media-breakpoint-up($breakpoint, $wide-grid-breakpoints) {
      %responsive-container-#{$breakpoint} {
        max-width: $container-max-width;
      }

      @each $name, $width in $wide-grid-breakpoints {
        @if ($container-max-width > $width or $breakpoint == $name) {
          .container#{breakpoint-infix($name, $wide-grid-breakpoints)} {
            @extend %responsive-container-#{$breakpoint};
          }
        }
      }
    }
  }
}

// Container sizes
@if $enable-grid-classes {
  @each $size, $max-widths in $container-sizes {
    .container-#{$size} {
      @include make-container-max-widths($max-widths);
    }
  }

  .container-md-2 {
    @include make-container-max-widths(map-remove(map-get($container-sizes, 2), sm));
  }
  .container-lg-3 {
    @include make-container-max-widths(map-remove(map-get($container-sizes, 3), sm, md));
  }
  .container-xl-4 {
    @include make-container-max-widths(map-remove(map-get($container-sizes, 3), sm, md, lg));
  }
  .container-xxl-5 {
    @include make-container-max-widths(map-remove(map-get($container-sizes, 3), sm, md, lg, xl));
  }
}

// Row sizes
@if $enable-grid-classes {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint);

      @each $size, $divider in $grid-row-sizes {
        .row#{$infix}-#{$size} {
          @include row-size($divider);
        }
      }
    }
  }
}

// Wide columns
@if $enable-grid-classes {
  @include make-grid-columns($grid-columns, $grid-gutter-width, $wide-grid-breakpoints);
}

// Column sizes
@if $enable-grid-classes {
  @each $breakpoint in map-keys($all-grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $all-grid-breakpoints);

    .col#{$infix}-2-5 {
      @include make-col-ready();
    }

    @include media-breakpoint-up($breakpoint, $all-grid-breakpoints) {
      .col#{$infix}-2-5 {
        @include make-col(2.4);
      }
    }
  }
}

// Margin and padding
@if $enable-grid-classes {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint);

      @each $size, $width in $grid-gutter-widths {
        @if $size != '' {
          $size: "-#{$size}";
        }

        @each $prop, $abbrev in (margin: m, padding: p) {
          .#{$abbrev}-gutter#{$infix}#{$size}  { #{$prop}:        $width !important; }
          .#{$abbrev}t-gutter#{$infix}#{$size} { #{$prop}-top:    $width !important; }
          .#{$abbrev}r-gutter#{$infix}#{$size} { #{$prop}-right:  $width !important; }
          .#{$abbrev}b-gutter#{$infix}#{$size} { #{$prop}-bottom: $width !important; }
          .#{$abbrev}l-gutter#{$infix}#{$size} { #{$prop}-left:   $width !important; }
          .#{$abbrev}x-gutter#{$infix}#{$size} {
            #{$prop}-right: $width !important;
            #{$prop}-left:  $width !important;
          }
          .#{$abbrev}y-gutter#{$infix}#{$size} {
            #{$prop}-top:    $width !important;
            #{$prop}-bottom: $width !important;
          }
        }
      }
    }
  }
}
