// Striped
.list-group-striped {
  .list-group-item {
    &:nth-child(even) {
      background-color: $list-group-striped-bg;
    }
  }
}

// Sizes
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint);

    @each $size, $list-group in $list-group-sizes {
      .list-group#{$infix}-#{$size} {
        @include list-group-size(map-get($list-group, 'padding-y'), map-get($list-group, 'padding-x'), map-get($list-group, 'font-size'));
      }
      .list-group-y#{$infix}-#{$size} {
        @include list-group-size-y(map-get($list-group, 'padding-y'));
      }
      .list-group-x#{$infix}-#{$size} {
        @include list-group-size-x(map-get($list-group, 'padding-x'));
      }
      .list-group-item#{$infix}-#{$size} {
        @include list-group-item-size(map-get($list-group, 'padding-y'), map-get($list-group, 'padding-x'), map-get($list-group, 'font-size'));
      }
      .list-group-item-y#{$infix}-#{$size} {
        @include list-group-item-size-y(map-get($list-group, 'padding-y'));
      }
      .list-group-item-x#{$infix}-#{$size} {
        @include list-group-item-size-x(map-get($list-group, 'padding-x'));
      }
    }
  }
}

// Horizontal flush
.list-group-horizontal-flush {
  .list-group-item {
    border-top: 0;
    border-bottom: 0;
    @include border-radius(0);

    &:last-child {
      margin-right: -$list-group-border-width;
    }
  }

  &:first-child {
    .list-group-item:first-child {
      border-left: 0;
    }
  }

  &:last-child {
    .list-group-item:last-child {
      margin-right: 0;
      border-right: 0;
    }
  }
}
