// Active link
.nav-link {
  &.active,
  .nav-item.show > & {
    color: $nav-link-active-color;
  }
}

// Tabs
.nav-tabs-right,
.nav-tabs-bottom,
.nav-tabs-left {
  border-bottom: 0;

  .nav-item {
    margin-bottom: 0;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint);

    .nav-tabs#{$infix}-right,
    .nav-tabs#{$infix}-left {
      flex-direction: column;

      .nav-item {
        display: block;
        float: none;

        + .nav-item {
          margin-left: 0;
        }
      }
    }

    .nav-tabs#{$infix}-right {
      border-left: $nav-tabs-border-width solid $nav-tabs-border-color;

      .nav-item {
        margin-left: -$nav-tabs-border-width !important;
      }

      .nav-link {
        @include border-radius(0 $border-radius $border-radius 0);

        &:hover,
        &:focus {
          border-color: $gray-200 $gray-200 $gray-200 $nav-tabs-border-color;
        }
      }

      .nav-link.active,
      .nav-item.show .nav-link {
        border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-link-active-bg;
      }

      .dropdown-menu {
        margin-top: 0;
        margin-left: -$nav-tabs-border-width;
      }
    }

    .nav-tabs#{$infix}-left {
      border-right: $nav-tabs-border-width solid $nav-tabs-border-color;

      .nav-item {
        margin-right: -$nav-tabs-border-width;
      }

      .nav-link {
        @include border-radius($border-radius 0 0 $border-radius);

        &:hover,
        &:focus {
          border-color: $gray-200 $nav-tabs-border-color $gray-200 $gray-200;
        }
      }

      .nav-link.active,
      .nav-item.show .nav-link {
        border-color: $nav-tabs-border-color $nav-tabs-link-active-bg $nav-tabs-border-color $nav-tabs-border-color;
      }

      .dropdown-menu {
        margin-top: 0;
        margin-right: -$nav-tabs-border-width;
      }
    }
  }
}

.nav-tabs-bottom {
  border-top: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-item {
    margin-top: -$nav-tabs-border-width;
  }

  .nav-link {
    @include border-radius(0 0 $border-radius $border-radius);

    &:hover,
    &:focus {
      border-color: $nav-tabs-border-color $gray-200 $gray-200;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-color: $nav-tabs-link-active-bg $nav-tabs-border-color $nav-tabs-border-color;
  }

  .dropdown-menu {
    margin-top: 0;
    margin-bottom: -$nav-tabs-border-width;
    @include border-bottom-radius(0);
  }
}

// Tabs material
.nav-tabs-material {
  .nav-link {
    border: none;
    border-bottom: $nav-tabs-border-width solid transparent;
    @include border-radius(0);

    &:hover,
    &:focus {
      border-bottom-color: $nav-tabs-link-active-color;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-bottom-color: $nav-tabs-link-active-color;
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint);

      &.nav-tabs#{$infix}-left {
        .nav-link {
          border: none;
          border-right: $nav-tabs-border-width solid transparent;

          &:hover,
          &:focus {
            border-right-color: $nav-tabs-link-active-color;
          }
        }

        .nav-link.active,
        .nav-item.show .nav-link {
          border-right-color: $nav-tabs-link-active-color;
        }
      }

      &.nav-tabs#{$infix}-right {
        .nav-link {
          border: none;
          border-left: $nav-tabs-border-width solid transparent;

          &:hover,
          &:focus {
            border-left-color: $nav-tabs-link-active-color;
          }
        }

        .nav-link.active,
        .nav-item.show .nav-link {
          border-left-color: $nav-tabs-link-active-color;
        }
      }
    }
  }

  &.nav-tabs-bottom {
    .nav-link {
      border: none;
      border-top: $nav-tabs-border-width solid transparent;

      &:hover,
      &:focus {
        border-top-color: $nav-tabs-link-active-color;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      border-top-color: $nav-tabs-link-active-color;
    }
  }
}

// Pills ellipsed
.nav-pills-ellipsed {
  .nav-link {
    @include border-radius($border-radius-pill);
  }
}

// Sizes
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint);

    @each $size, $nav in $nav-sizes {
      @if $size != 0 {
        .nav#{$infix}-#{$size} {
          @include nav-size(map-get($nav, 'link-padding-y'), map-get($nav, 'link-padding-x'), map-get($nav, 'font-size'));
        }
      }
      .nav-y#{$infix}-#{$size} {
        @include nav-size-y(map-get($nav, 'link-padding-y'));
      }
      .nav-x#{$infix}-#{$size} {
        @include nav-size-x(map-get($nav, 'link-padding-x'));
      }
    }
  }
}

// Tree
.nav-tree {
  > .nav-item:not(.show) {
    > .nav-tree {
      display: none;
    }
  }
}
