// Active link
.nav-link {
  &.active,
  .nav-item.show > & {
    color: $nav-link-active-color;
  }
}

// Tabs
.nav-tabs-right,
.nav-tabs-bottom,
.nav-tabs-left {
  border-bottom: 0;

  .nav-item {
    margin-bottom: 0;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .nav-tabs#{$infix}-right,
    .nav-tabs#{$infix}-left {
      flex-direction: column;

      .nav-item {
        display: block;
        float: none;

        + .nav-item {
          margin-left: 0;
        }
      }
    }

    .nav-tabs#{$infix}-right {
      border-left: $nav-tabs-border-width solid $nav-tabs-border-color;

      .nav-item {
        margin-left: -$nav-tabs-border-width !important;
      }

      .nav-link {
        @include border-radius(0 $border-radius $border-radius 0);

        &:hover,
        &:focus {
          border-color: $gray-200 $gray-200 $gray-200 $nav-tabs-border-color;
        }
      }

      .nav-link.active,
      .nav-item.show .nav-link {
        border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-link-active-bg;
      }

      .dropdown-menu {
        margin-top: 0;
        margin-left: -$nav-tabs-border-width;
      }
    }

    .nav-tabs#{$infix}-left {
      border-right: $nav-tabs-border-width solid $nav-tabs-border-color;

      .nav-item {
        margin-right: -$nav-tabs-border-width;
      }

      .nav-link {
        @include border-radius($border-radius 0 0 $border-radius);

        &:hover,
        &:focus {
          border-color: $gray-200 $nav-tabs-border-color $gray-200 $gray-200;
        }
      }

      .nav-link.active,
      .nav-item.show .nav-link {
        border-color: $nav-tabs-border-color $nav-tabs-link-active-bg $nav-tabs-border-color $nav-tabs-border-color;
      }

      .dropdown-menu {
        margin-top: 0;
        margin-right: -$nav-tabs-border-width;
      }
    }
  }
}

.nav-tabs-bottom {
  border-top: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-item {
    margin-top: -$nav-tabs-border-width;
  }

  .nav-link {
    @include border-radius(0 0 $border-radius $border-radius);

    &:hover,
    &:focus {
      border-color: $nav-tabs-border-color $gray-200 $gray-200;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-color: $nav-tabs-link-active-bg $nav-tabs-border-color $nav-tabs-border-color;
  }

  .dropdown-menu {
    margin-top: 0;
    margin-bottom: -$nav-tabs-border-width;
    @include border-bottom-radius(0);
  }
}

// Sizes
.nav-xs {
  @include nav-size($nav-link-padding-y-xs, $nav-link-padding-x-xs, $font-size-xs);
}
.nav-y-xs {
  @include nav-size-y($nav-link-padding-y-xs);
}
.nav-x-xs {
  @include nav-size-x($nav-link-padding-x-xs);
}

.nav-sm {
  @include nav-size($nav-link-padding-y-sm, $nav-link-padding-x-sm, $font-size-sm);
}
.nav-y-sm {
  @include nav-size-y($nav-link-padding-y-sm);
}
.nav-x-sm {
  @include nav-size-x($nav-link-padding-x-sm);
}

.nav-lg {
  @include nav-size($nav-link-padding-y-lg, $nav-link-padding-x-lg, $font-size-lg);
}
.nav-y-lg {
  @include nav-size-y($nav-link-padding-y-lg);
}
.nav-x-lg {
  @include nav-size-x($nav-link-padding-x-lg);
}

.nav-y-0 {
  @include nav-size-y(0);
}
.nav-x-0 {
  @include nav-size-x(0);
}

// Tree
.nav-tree {
  > .nav-item:not(.show) {
    > .nav-tree {
      display: none;
    }
  }
}
