// Triple bar
.navbar-toggler-tribar {
  margin: .45rem 0;
}

.navbar-light {
  .navbar-toggler-tribar {
    @include tribar-variant($navbar-light-color);
  }
}

.navbar-dark {
  .navbar-toggler-tribar {
    @include tribar-variant($navbar-dark-color);
  }
}

// Container sizes
.navbar {
  %container-breakpoint {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  @each $breakpoint, $max-widths in $container-breakpoints {
    > .container-#{$breakpoint} {
      @extend %container-breakpoint;
    }
  }
}

// Expand
.navbar-expand-xs {
  @include media-breakpoint-down(xs) {
    > .container,
    > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .navbar-nav {
    flex-direction: row;

    .dropdown-menu {
      position: absolute !important;
      top: 100% !important;
    }

    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
    }
  }

  > .container,
  > .container-fluid {
    flex-wrap: nowrap;
  }

  .navbar-collapse {
    display: flex !important;
  }
}

// Container expand
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        @each $breakpoint, $max-widths in $container-breakpoints {
          > .container-#{$breakpoint} {
            padding-right: 0;
            padding-left: 0;
          }
        }
      }

      @include media-breakpoint-up($next) {
        @each $breakpoint, $max-widths in $container-breakpoints {
          > .container-#{$breakpoint} {
            flex-wrap: nowrap;
          }
        }
      }
    }
  }
}

// Container
.navbar-container {
  padding-right: $grid-gutter-width / 2 !important;
  padding-left: $grid-gutter-width / 2 !important;
}

// Nav
.navbar-nav-left .nav-item:first-child .nav-link {
  padding-left: 0 !important;
}
.navbar-nav-right .nav-item:last-child .nav-link {
  padding-right: 0 !important;
}

// Breadcrumb
.navbar-breadcrumb {
  margin-bottom: 0;
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
}

// Dropdown
.navbar-dropdown-menu {
  margin-top: $navbar-padding-y;
}

// Navbar scroller
.navbar-scroller {
  position: relative;
  height: $navbar-nav-height;
  overflow-y: hidden;
}

.navbar-scroller-nav {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
}

// Sizes
.navbar-sm {
  @include navbar-size($navbar-padding-y-sm, $font-size-sm, $font-size-base, $navbar-brand-padding-y-sm, $navbar-nav-padding-y-sm, $navbar-text-padding-y-sm, $navbar-nav-height-sm);
}
.navbar-lg {
  @include navbar-size($navbar-padding-y-lg, $font-size-lg, $font-size-xl, $navbar-brand-padding-y-lg, $navbar-nav-padding-y-lg, $navbar-text-padding-y-lg, $navbar-nav-height-lg);
}

// Padding
.py-navbar {
  padding-top: $navbar-height;
  padding-bottom: $navbar-height;
}
.pt-navbar {
  padding-top: $navbar-height;
}
.pb-navbar {
  padding-bottom: $navbar-height;
}

.py-navbar-sm {
  padding-top: $navbar-height-sm;
  padding-bottom: $navbar-height-sm;
}
.pt-navbar-sm {
  padding-top: $navbar-height-sm;
}
.pb-navbar-sm {
  padding-bottom: $navbar-height-sm;
}

.py-navbar-lg {
  padding-top: $navbar-height-lg;
  padding-bottom: $navbar-height-lg;
}
.pt-navbar-lg {
  padding-top: $navbar-height-lg;
}
.pb-navbar-lg {
  padding-bottom: $navbar-height-lg;
}
