// Vertical
.progress-vertical {
  width: $progress-width;
  align-items: flex-end;

  .progress-bar {
    width: 100%;
  }

  .progress-value {
    transform: rotate(-90deg);
  }
}

// Sizes
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint);

    @each $size, $progress in $progress-sizes {
      .progress#{$infix}-#{$size} {
        @include progress-size(map-get($progress, 'height'), map-get($progress, 'font-size'));

        &.progress-vertical {
          width: map-get($progress, 'width');
        }
      }
    }
  }
}
