.sidebar {
  display: none;
  padding-top: $sidebar-padding-y;
  padding-bottom: $sidebar-padding-y;
  position: relative;

  .nav-text {
    display: none;
  }
}

.sidebar-brand {
  display: inline-block;
  padding: $sidebar-brand-padding-y $nav-link-padding-x;
  font-size: $sidebar-brand-font-size;
  line-height: inherit;
  white-space: nowrap;

  @include hover-focus {
    text-decoration: none;
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.sidebar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    display: block;
  }
}

.sidebar-text {
  display: inline-block;
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
}

.sidebar-toggler {
  padding: $sidebar-toggler-padding-y $sidebar-toggler-padding-x;
  font-size: $sidebar-toggler-font-size;
  line-height: 1;
  background: transparent;
  border: $border-width solid transparent;
  @include border-radius($sidebar-toggler-border-radius);

  @include hover-focus {
    text-decoration: none;
  }
}

.sidebar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-up($next) {
        display: block !important;

        .nav-text {
          display: block;
        }
      }
    }
  }
}

.sidebar-modal {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-up($next) {
        @include sidebar-modal;
      }

      &-down {
        @include media-breakpoint-down($next) {
          @include sidebar-modal;
        }
      }
    }
  }

  .sidebar {
    height: 100%;
  }
}

.sidebar-dialog {
  margin: 0 !important;
  height: 100%;

  .sidebar-modal.fade & {
    @include transition($modal-transition);
    transform: $sidebar-modal-fade-transform;
  }
  .sidebar-modal-right.fade & {
    transform: $sidebar-modal-right-fade-transform;
  }
  .sidebar-modal-right & {
    float: right;
  }
  .sidebar-modal.show & {
    transform: $modal-show-transform;
  }

  @include media-breakpoint-up(sm) {
    width: 250px;
  }
}

.modal-open {
  .sidebar-modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .sidebar-modal-right {
    padding-right: 0 !important;
  }

  .sidebar {
    pointer-events: auto;
  }
}

.sidebar-light {
  .sidebar-brand {
    color: $sidebar-light-active-color;

    @include hover-focus {
      color: $sidebar-light-active-color;
    }
  }

  .sidebar-nav {
    .nav-link {
      color: $sidebar-light-color;

      @include hover-focus {
        color: $sidebar-light-hover-color;
      }

      &.disabled {
        color: $sidebar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $sidebar-light-active-color;
    }
  }


  .sidebar-toggler {
    color: $sidebar-light-color;
    border-color: $sidebar-light-toggler-border-color;
  }

  .sidebar-text {
    color: $sidebar-light-color;
  }
}

// White links against a dark background
.sidebar-dark {
  .sidebar-brand {
    color: $sidebar-dark-active-color;

    @include hover-focus {
      color: $sidebar-dark-active-color;
    }
  }

  .sidebar-nav {
    .nav-link {
      color: $sidebar-dark-color;

      @include hover-focus {
        color: $sidebar-dark-hover-color;
      }

      &.disabled {
        color: $sidebar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $sidebar-dark-active-color;
    }
  }


  .sidebar-toggler {
    color: $sidebar-dark-color;
    border-color: $sidebar-dark-toggler-border-color;
  }

  .sidebar-text {
    color: $sidebar-dark-color;
  }
}

// Sizes
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .sidebar#{$infix}-1 {
      @include sidebar-size($sidebar-padding-y-xs, $sidebar-font-size-xs, $sidebar-brand-font-size-xs, $sidebar-brand-padding-y-xs, $sidebar-nav-link-padding-y-xs);
    }
    .sidebar#{$infix}-2 {
      @include sidebar-size($sidebar-padding-y-sm, $sidebar-font-size-sm, $sidebar-brand-font-size-sm, $sidebar-brand-padding-y-sm, $sidebar-nav-link-padding-y-sm);
    }
    .sidebar#{$infix}-3 {
      @include sidebar-size($sidebar-padding-y, $sidebar-font-size, $sidebar-brand-font-size, $sidebar-brand-padding-y, $sidebar-nav-link-padding-y);
    }
    .sidebar#{$infix}-4 {
      @include sidebar-size($sidebar-padding-y-lg, $sidebar-font-size-lg, $sidebar-brand-font-size-lg, $sidebar-brand-padding-y-lg, $sidebar-nav-link-padding-y-lg);
    }
    .sidebar#{$infix}-5 {
      @include sidebar-size($sidebar-padding-y-xl, $sidebar-font-size-xl, $sidebar-brand-font-size-xl, $sidebar-brand-padding-y-xl, $sidebar-nav-link-padding-y-xl);
    }
  }
}

// Nav size
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .sidebar-nav-y#{$infix}-0 {
      @include sidebar-nav-size-y(0);
    }
    .sidebar-nav-x#{$infix}-0 {
      @include sidebar-nav-size-x(0);
    }

    .sidebar-nav#{$infix}-1 {
      @include sidebar-nav-size($sidebar-nav-link-padding-y-xs, $sidebar-nav-link-padding-x-xs, $sidebar-font-size-xs);
    }
    .sidebar-nav-y#{$infix}-1 {
      @include sidebar-nav-size-y($sidebar-nav-link-padding-y-xs);
    }
    .sidebar-nav-x#{$infix}-1 {
      @include sidebar-nav-size-x($sidebar-nav-link-padding-x-xs);
    }

    .sidebar-nav#{$infix}-2 {
      @include sidebar-nav-size($sidebar-nav-link-padding-y-sm, $sidebar-nav-link-padding-x-sm, $sidebar-font-size-sm);
    }
    .sidebar-nav-y#{$infix}-2 {
      @include sidebar-nav-size-y($sidebar-nav-link-padding-y-sm);
    }
    .sidebar-nav-x#{$infix}-2 {
      @include sidebar-nav-size-x($sidebar-nav-link-padding-x-sm);
    }

    .sidebar-nav#{$infix}-3 {
      @include sidebar-nav-size($sidebar-nav-link-padding-y, $sidebar-nav-link-padding-x, $sidebar-font-size);
    }
    .sidebar-nav-y#{$infix}-3 {
      @include sidebar-nav-size-y($sidebar-nav-link-padding-y);
    }
    .sidebar-nav-x#{$infix}-3 {
      @include sidebar-nav-size-x($sidebar-nav-link-padding-x);
    }

    .sidebar-nav#{$infix}-4 {
      @include sidebar-nav-size($sidebar-nav-link-padding-y-lg, $sidebar-nav-link-padding-x-lg, $sidebar-font-size-lg);
    }
    .sidebar-nav-y#{$infix}-4 {
      @include sidebar-nav-size-y($sidebar-nav-link-padding-y-lg);
    }
    .sidebar-nav-x#{$infix}-4 {
      @include sidebar-nav-size-x($sidebar-nav-link-padding-x-lg);
    }

    .sidebar-nav#{$infix}-5 {
      @include sidebar-nav-size($sidebar-nav-link-padding-y-xl, $sidebar-nav-link-padding-x-xl, $sidebar-font-size-xl);
    }
    .sidebar-nav-y#{$infix}-5 {
      @include sidebar-nav-size-y($sidebar-nav-link-padding-y-xl);
    }
    .sidebar-nav-x#{$infix}-5 {
      @include sidebar-nav-size-x($sidebar-nav-link-padding-x-xl);
    }
  }
}
