// Fixed
.table-fixed {
  table-layout: fixed;
  width: 100%;
}

// Sizes
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint);
    @each $size, $table in $table-sizes {
      .table#{$infix}-#{$size} {
        th,
        td {
          padding: map-get($table, 'cell-padding');
        }
      }
    }
  }
}
