// Custom
@each $color, $value in map-remove($custom-colors, "white") {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

// Alpha
@for $alpha from 1 through 9 {
  @each $color, $value in $theme-colors {
    @include text-alpha-variant('.text-#{$color}-#{($alpha * 10)}', $value, ($alpha * .1));
  }
  @each $color, $value in $custom-colors {
    @if $color not in 'white', 'black' and $alpha != 5 {
      @include text-alpha-variant('.text-#{$color}-#{($alpha * 10)}', $value, ($alpha * .1));
    }
  }
}

// Hover
@each $color, $value in $theme-colors {
  .text-hover-#{$color} {
    @include hover-focus {
      color: $value !important;
    }
  }
}
@each $color, $value in map-remove($custom-colors, "black") {
  .text-hover-#{$color} {
    @include hover-focus {
      color: $value !important;
    }
  }
}

// Ribbon
@each $color, $value in $theme-colors {
  .text-ribbon-#{$color} {
    @include text-ribbon-variant($value);
    @if $color == 'warning' {
      color: $white;
    }
  }
}
@each $color, $value in $custom-colors {
  .text-ribbon-#{$color} {
    @include text-ribbon-variant($value);
    @if $color == 'orange' {
      color: $white;
    }
  }
}
