// Custom
@each $color, $value in map-remove($custom-colors, "white") {
  .text-#{$color} {
    color: $value !important;
  }
}

// Opacity
@if $enable-opacity {
  @for $alpha from 1 through 9 {
    @each $color, $value in $theme-colors {
      .text-#{$color}-#{($alpha * 10)} {
        color: rgba($value, ($alpha * .1)) !important;
      }
    }
    @each $color, $value in $custom-colors {
      @if $color not in 'white', 'black' and $alpha != 5 {
        .text-#{$color}-#{($alpha * 10)} {
          color: rgba($value, ($alpha * .1)) !important;
        }
      }
    }
  }
}

// Hover
@each $color, $value in $theme-colors {
  .text-hover-#{$color} {
    &:focus,
    &:hover {
      color: $value !important;
    }
  }

  @if $enable-opacity {
    @for $alpha from 1 through 9 {
      .text-hover-#{$color}-#{($alpha * 10)} {
        &:focus,
        &:hover {
          color: rgba($value, ($alpha * .1)) !important;
        }
      }
    }
  }
}
@each $color, $value in $custom-colors {
  .text-hover-#{$color} {
    &:focus,
    &:hover {
      color: $value !important;
    }
  }

  @if $enable-opacity {
    @for $alpha from 1 through 9 {
      .text-hover-#{$color}-#{($alpha * 10)} {
        &:focus,
        &:hover {
          color: rgba($value, ($alpha * .1)) !important;
        }
      }
    }
  }
}

// States
@each $color, $value in $theme-colors {
  .text-state-#{$color} {
    color: color-level($value, $text-state-level) !important;
  }
}
@each $color, $value in map-remove($custom-colors, "black", "white") {
  .text-state-#{$color} {
    color: color-level($value, $text-state-level) !important;
  }
}
