// Icon
.tribar {
  border-top: $tribar-height solid $tribar-color;

  &,
  &::before,
  &::after {
    display: block;
    width: $tribar-width;
  }

  &::before,
  &::after {
    background-color: $tribar-color;
    content: "";
    height: $tribar-height;
    margin-top: $tribar-margin-top;
  }
}
