// Responsive headings
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    @if $breakpoint != xs {
      .h1-#{$breakpoint} { font-size: $h1-font-size; }
      .h2-#{$breakpoint} { font-size: $h2-font-size; }
      .h3-#{$breakpoint} { font-size: $h3-font-size; }
      .h4-#{$breakpoint} { font-size: $h4-font-size; }
      .h5-#{$breakpoint} { font-size: $h5-font-size; }
      .h6-#{$breakpoint} { font-size: $h6-font-size; }

      @each $display, $font-size in $display-font-sizes {
        .display-#{$breakpoint}-#{$display} {
          @include font-size($font-size);
          font-weight: $display-font-weight;
          line-height: $display-line-height;
        }
      }
    }
  }
}
