// Custom colors
$custom-colors: () !default;
$custom-colors: map-merge((
  "black":  $black,
  "indigo": $indigo,
  "orange": $orange,
  "pink":   $pink,
  "purple": $purple,
  "teal":   $teal,
  "white":  $white
), $custom-colors);

// Fonts
$font-size-xs:  .75rem !default;
$font-size-xl:  1.5rem !default;
$font-size-xxl: 1.75rem !default;
$font-size-3xl: 2rem !default;
$font-size-4xl: 2.5rem !default;

$font-sizes: (
  1: $font-size-xs,
  2: $font-size-sm,
  3: $font-size-base,
  4: $font-size-lg,
  5: $font-size-xl,
  6: $font-size-xxl,
  7: $font-size-3xl,
  8: $font-size-4xl
) !default;

$font-weights: (
  "thin": 100,
  "extra-light": 200,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
  "black": 900
) !default;

// Transition
$transition-collapse-horizontal: width .35s ease !default;

// Background
$bg-state-level: -9 !default;

// Border
$border-styles: (
  dashed: dashed,
  dotted: dotted,
  double: double,
  solid: solid
) !default;

$border-widths: 5 !default;

// Grid containers
$container-breakpoints: (
  md: map-remove($container-max-widths, sm),
  lg: map-remove($container-max-widths, sm, md),
  xl: (
    xl: map-get($container-max-widths, xl)
  )
) !default;

// Components
$border-radius-circle: 50% !default;
$border-radius-pill: 1.875rem !default;
$border-radius-xs: .1rem !default;
$border-radius-xl: .35rem !default;

$line-height-xs: 1.5 !default;
$line-height-xl: 1.5 !default;

// Buttons
$input-btn-padding-y-xs: .1rem !default;
$input-btn-padding-x-xs: .25rem !default;

$input-btn-padding-y-xl: .625rem !default;
$input-btn-padding-x-xl: 1.25rem !default;

$btn-border-radius-xs: $border-radius-xs !default;
$btn-border-radius-xl: $border-radius-xl !default;

$btn-state-bg-level: -9 !default;
$btn-state-color-level: 6 !default;
$btn-state-border-color: rgba($black, .125) !default;

// Card
$card-spacer-y-xs: .25rem !default;
$card-spacer-x-xs: .5rem !default;

$card-spacer-y-sm: .5rem !default;
$card-spacer-x-sm: .75rem !default;

$card-state-bg-level: -9 !default;
$card-state-color-level: 6 !default;

// Navbar
$navbar-padding-y-sm:       ($spacer * .25) !default;
$navbar-brand-padding-y-sm: .1rem !default;
$navbar-nav-padding-y-sm:   .25rem !default;
$navbar-text-padding-y-sm:  .25rem !default;

$navbar-padding-y-lg:       ($spacer * .75) !default;
$navbar-brand-padding-y-lg: .5rem !default;
$navbar-nav-padding-y-lg:   .675rem !default;
$navbar-text-padding-y-lg:  .675rem !default;

$navbar-height:    3.5rem !default;
$navbar-height-sm: 2.2rem !default;
$navbar-height-lg: 4.75rem !default;

$navbar-nav-height:    2.5rem !default;
$navbar-nav-height-sm: 1.8125rem !default;
$navbar-nav-height-lg: 3.25rem !default;

// Navs
$nav-link-active-color: $gray-700 !default;

$nav-link-padding-x-xs: .25rem !default;
$nav-link-padding-y-xs: .1rem !default;

$nav-link-padding-x-sm: .5rem !default;
$nav-link-padding-y-sm: .25rem !default;

$nav-link-padding-x-lg: 1.5rem !default;
$nav-link-padding-y-lg: .75rem !default;

// Progress
$progress-height-xs:    .75rem !default;
$progress-font-size-xs: .6rem !default;

$progress-height-md:    1.25rem !default;
$progress-font-size-md: 1rem !default;

$progress-height-lg:    1.5rem !default;
$progress-font-size-lg: 1.25rem !default;

$progress-height-xl:    1.75rem !default;
$progress-font-size-xl: 1.5rem !default;

// List group
$list-group-item-padding-x-xs: .75rem !default;
$list-group-item-padding-y-xs: .25rem !default;

$list-group-item-padding-x-sm: 1rem !default;
$list-group-item-padding-y-sm: .5rem !default;

$list-group-item-padding-x-lg: 1.5rem !default;
$list-group-item-padding-y-lg: 1rem !default;

// Breadcrumb
$breadcrumb-dividers: (
  rang:   "27E9",
  raquo:  "00BB",
  rarr:   "2192",
  rsaquo: "203A"
) !default;

$breadcrumb-dark-color:         rgba($white,1) !default;
$breadcrumb-dark-hover-color:   rgba($white,.75) !default;
$breadcrumb-dark-active-color:  rgba($white,.5) !default;
$breadcrumb-dark-divider-color: rgba($white,.5) !default;

$breadcrumb-light-color:         rgba($black,.6) !default;
$breadcrumb-light-hover-color:   rgba($black,.8) !default;
$breadcrumb-light-active-color:  rgba($black,.4) !default;
$breadcrumb-light-divider-color: rgba($black,.4) !default;

$breadcrumb-pill-padding-x: 1.5rem !default;

// Dropdown
$dropdown-arrow-position:    5px !default;
$dropdown-arrow-width:       1rem !default;
$dropdown-arrow-height:      .5rem !default;
$dropdown-arrow-color:       $dropdown-bg !default;
$dropdown-arrow-outer-color: fade-in($dropdown-border-color, .05) !default;

$dropdown-menu-body-padding: 1rem 1.5rem !default;

// Position
$positions: top, right, bottom, left;

// Pre
$pre-lg: 800px !default;
$pre-md: 500px !default;
$pre-sm: 300px !default;

// Sidebar
$sidebar-padding-y:                  ($spacer / 2) !default;

$sidebar-brand-font-size:            $font-size-lg !default;
$sidebar-brand-height:               ($font-size-base * $line-height-base + $nav-link-padding-y * 2) !default;
$sidebar-brand-padding-y:            $nav-link-padding-y !default;

$sidebar-toggler-padding-y:          .25rem !default;
$sidebar-toggler-padding-x:          .75rem !default;
$sidebar-toggler-font-size:          $font-size-lg !default;
$sidebar-toggler-border-radius:      $btn-border-radius !default;

$sidebar-modal-fade-transform:       translate(-50px, 0) !default;

$sidebar-dark-color:                 rgba($white,.5) !default;
$sidebar-dark-hover-color:           rgba($white,.75) !default;
$sidebar-dark-active-color:          rgba($white,1) !default;
$sidebar-dark-disabled-color:        rgba($white,.25) !default;
$sidebar-dark-toggler-border-color:  rgba($white,.1) !default;

$sidebar-light-color:                rgba($black,.5) !default;
$sidebar-light-hover-color:          rgba($black,.7) !default;
$sidebar-light-active-color:         rgba($black,.9) !default;
$sidebar-light-disabled-color:       rgba($black,.3) !default;
$sidebar-light-toggler-border-color: rgba($black,.1) !default;

// Text
$text-state-level: 6 !default;

// Triple bar
$tribar-color:      $primary;
$tribar-height:     2px;
$tribar-margin-top: 5px;
$tribar-width:      24px;
