// Custom colors
$custom-colors: () !default;
$custom-colors: map-merge((
  "black":  $black,
  "indigo": $indigo,
  "orange": $orange,
  "pink":   $pink,
  "purple": $purple,
  "teal":   $teal,
  "white":  $white
), $custom-colors);

// Opacity
$enable-opacity: true !default;

// Wide grid
$wide-grid-breakpoints: (
  xxl: 1600px,
  3xl: 1920px, // 2K
  4xl: 3840px, // 4K
  5xl: 5120px, // 5K
  6xl: 7680px  // 8K
) !default;

$all-grid-breakpoints: () !default;
$all-grid-breakpoints: map-merge(
  $grid-breakpoints,
  $wide-grid-breakpoints
);

// Fonts
$font-size-xs:  .75rem !default;
$font-size-xl:  1.5rem !default;
$font-size-xxl: 1.75rem !default;
$font-size-3xl: 2rem !default;
$font-size-4xl: 2.5rem !default;
$font-size-5xl: 3.5rem !default;
$font-size-6xl: 4.5rem !default;
$font-size-7xl: 5.5rem !default;
$font-size-8xl: 6rem !default;

$font-sizes: () !default;
$font-sizes: map-merge((
  1: $font-size-xs,
  2: $font-size-sm,
  3: $font-size-base,
  4: $font-size-lg,
  5: $font-size-xl,
  6: $font-size-xxl,
  7: $font-size-3xl,
  8: $font-size-4xl,
  9: $font-size-5xl,
  10: $font-size-6xl,
  11: $font-size-7xl,
  12: $font-size-8xl
), $font-sizes);

$font-weights: () !default;
$font-weights: map-merge((
  "100": 100,
  "200": 200,
  "300": 300,
  "400": 400,
  "500": 500,
  "600": 600,
  "700": 700,
  "800": 800,
  "900": 900
), $font-weights);

// Transition
$transition-collapse-horizontal: width .35s ease !default;

// Background
$bg-state-level: -9 !default;

// Border
$border-styles: () !default;
$border-styles: map-merge((
  dashed: dashed,
  dotted: dotted,
  double: double,
  solid: solid
), $border-styles);

$border-widths: 5 !default;

// Grid containers
$wide-container-max-widths: (
  xxl: 1570px
) !default;

$container-max-width-sm: map-get($container-max-widths, sm);
$container-max-width-md: map-get($container-max-widths, md);
$container-max-width-lg: map-get($container-max-widths, lg);
$container-max-width-xl: map-get($container-max-widths, xl);
$container-max-width-xxl: map-get($wide-container-max-widths, xxl);

$container-sizes: () !default;
$container-sizes: map-merge((
  1: (
    sm: $container-max-width-sm,
    md: $container-max-width-sm,
    lg: $container-max-width-sm,
    xl: $container-max-width-sm
  ),
  2: (
    sm: $container-max-width-sm,
    md: $container-max-width-md,
    lg: $container-max-width-md,
    xl: $container-max-width-md
  ),
  3: (
    sm: $container-max-width-sm,
    md: $container-max-width-md,
    lg: $container-max-width-lg,
    xl: $container-max-width-lg
  ),
  4: $container-max-widths,
  5: map-merge($container-max-widths, (
    xxl: $container-max-width-xxl
  ))
), $container-sizes);

$container-size-breakpoints: () !default;
$container-size-breakpoints: map-merge((
  2: map-remove(map-get($container-sizes, 2), sm),
  3: map-remove(map-get($container-sizes, 3), sm, md)
), $container-size-breakpoints);

// Grid gutter spacing
$grid-gutter-widths: () !default;
$grid-gutter-widths: map-merge((
  0: 0,
  1: $grid-gutter-width / 6,
  2: $grid-gutter-width / 3,
  3: $grid-gutter-width / 1.5,
  4: $grid-gutter-width,
  '': $grid-gutter-width
), $grid-gutter-widths);

// Grid row sizing
$grid-row-sizes: () !default;
$grid-row-sizes: map-merge((
  1: 3,
  2: 1.5,
  3: 1,
  4: .75,
  5: .5
), $grid-row-sizes);

// Components
$border-radius-circle: 50% !default;
$border-radius-pill: 30px !default;
$border-radius-xs: .1rem !default;
$border-radius-xl: .35rem !default;

$line-height-xs: 1.5 !default;
$line-height-xl: 1.5 !default;

// Buttons
$input-btn-padding-y-xs: .1rem !default;
$input-btn-padding-x-xs: .25rem !default;
$input-btn-font-size-xs: $font-size-xs !default;
$input-btn-line-height-xs: $line-height-xs !default;

$input-btn-padding-y-xl: .625rem !default;
$input-btn-padding-x-xl: 1.25rem !default;
$input-btn-font-size-xl: $font-size-xl !default;
$input-btn-line-height-xl: $line-height-xl !default;

$btn-border-radius-xs: $border-radius-xs !default;
$btn-border-radius-xl: $border-radius-xl !default;

$btn-padding-y-xs: $input-btn-padding-y-xs !default;
$btn-padding-x-xs: $input-btn-padding-x-xs !default;
$btn-font-size-xs: $input-btn-font-size-xs !default;
$btn-line-height-xs: $input-btn-line-height-xs !default;

$btn-padding-y-xl: $input-btn-padding-y-xl !default;
$btn-padding-x-xl: $input-btn-padding-x-xl !default;
$btn-font-size-xl: $input-btn-font-size-xl !default;
$btn-line-height-xl: $input-btn-line-height-xl !default;

$btn-state-bg-level: -9 !default;
$btn-state-color-level: 6 !default;
$btn-state-border-color: rgba($black, .125) !default;

$button-sizes: () !default;
$button-sizes: map-merge((
  1: (
    'padding-y': $btn-padding-y-xs,
    'padding-x': $btn-padding-x-xs,
    'font-size': $btn-font-size-xs,
    'line-height': $btn-line-height-xs,
    'border-radius': $btn-border-radius-xs
  ),
  2: (
    'padding-y': $btn-padding-y-sm,
    'padding-x': $btn-padding-x-sm,
    'font-size': $btn-font-size-sm,
    'line-height': $btn-line-height-sm,
    'border-radius': $btn-border-radius-sm
  ),
  3: (
    'padding-y': $btn-padding-y,
    'padding-x': $btn-padding-x,
    'font-size': $btn-font-size,
    'line-height': $btn-line-height,
    'border-radius': $btn-border-radius
  ),
  4: (
    'padding-y': $btn-padding-y-lg,
    'padding-x': $btn-padding-x-lg,
    'font-size': $btn-font-size-lg,
    'line-height': $btn-line-height-lg,
    'border-radius': $btn-border-radius-lg
  ),
  5: (
    'padding-y': $btn-padding-y-xl,
    'padding-x': $btn-padding-x-xl,
    'font-size': $btn-font-size-xl,
    'line-height': $btn-line-height-xl,
    'border-radius': $btn-border-radius-xl
  )
), $button-sizes);

// Form
$input-line-height-xs:   $input-btn-line-height-xs !default;
$input-height-xs:        calc(#{$input-line-height-xs * 1em} + #{$input-btn-padding-y-xs * 2} + #{$input-height-border}) !default;
$input-padding-y-xs:     $input-btn-padding-y-xs !default;
$input-padding-x-xs:     $input-btn-padding-x-xs !default;
$input-font-size-xs:     $input-btn-font-size-xs !default;
$input-border-radius-xs: $border-radius-xs !default;

$input-dark-color: $white !default;
$input-dark-bg: $dark !default;

$input-sizes: () !default;
$input-sizes: map-merge((
  1: (
    'height': $input-height-xs,
    'padding-y': $input-padding-y-xs,
    'padding-x': $input-padding-x-xs,
    'font-size': $input-font-size-xs,
    'line-height': $input-line-height-xs,
    'border-radius': $input-border-radius-xs
  ),
  2: (
    'height': $input-height-sm,
    'padding-y': $input-padding-y-sm,
    'padding-x': $input-padding-x-sm,
    'font-size': $input-font-size-sm,
    'line-height': $input-line-height-sm,
    'border-radius': $input-border-radius-sm
  ),
  3: (
    'height': $input-height,
    'padding-y': $input-padding-y,
    'padding-x': $input-padding-x,
    'font-size': $input-font-size,
    'line-height': $input-line-height,
    'border-radius': $input-border-radius
  ),
  4: (
    'height': $input-height-lg,
    'padding-y': $input-padding-y-lg,
    'padding-x': $input-padding-x-lg,
    'font-size': $input-font-size-lg,
    'line-height': $input-line-height-lg,
    'border-radius': $input-border-radius-lg
  )
), $input-sizes);

// Navbar
$navbar-nav-link-padding-y: $nav-link-padding-y !default;

$navbar-padding-y-xs:          ($spacer * .1) !default;
$navbar-brand-padding-y-xs:    .05rem !default;
$navbar-nav-link-padding-y-xs: .1rem !default;
$navbar-nav-link-padding-x-xs: .25rem !default;

$navbar-padding-y-sm:          ($spacer * .25) !default;
$navbar-brand-padding-y-sm:    .1rem !default;
$navbar-nav-link-padding-y-sm: .25rem !default;
$navbar-nav-link-padding-x-sm: .375rem !default;

$navbar-padding-y-lg:          ($spacer * .75) !default;
$navbar-brand-padding-y-lg:    .5rem !default;
$navbar-nav-link-padding-y-lg: .675rem !default;
$navbar-nav-link-padding-x-lg: .75rem !default;

$navbar-padding-y-xl:          $spacer !default;
$navbar-brand-padding-y-xl:    .675rem !default;
$navbar-nav-link-padding-y-xl: .75rem !default;
$navbar-nav-link-padding-x-xl: 1rem !default;

$navbar-height:    3.5rem !default;
$navbar-height-xs: 1.5625rem !default;
$navbar-height-sm: 2.2rem !default;
$navbar-height-lg: 4.75rem !default;
$navbar-height-xl: 6rem !default;

$navbar-nav-height:    2.5rem !default;
$navbar-nav-height-xs: 1.3125rem !default;
$navbar-nav-height-sm: 1.8125rem !default;
$navbar-nav-height-lg: 3.25rem !default;
$navbar-nav-height-xl: 3.75rem !default;

$navbar-heights: () !default;
$navbar-heights: map-merge((
  1: $navbar-height-xs,
  2: $navbar-height-sm,
  3: $navbar-height,
  '': $navbar-height,
  4: $navbar-height-lg,
  5: $navbar-height-xl
), $navbar-heights);

$navbar-sizes: () !default;
$navbar-sizes: map-merge((
  1: (
    'padding-y': $navbar-padding-y-xs,
    'font-size': $font-size-xs,
    'brand-font-size': $font-size-sm,
    'brand-padding-y': $navbar-brand-padding-y-xs,
    'nav-link-padding-y': $navbar-nav-link-padding-y-xs,
    'nav-height': $navbar-nav-height-xs
  ),
  2: (
    'padding-y': $navbar-padding-y-sm,
    'font-size': $font-size-sm,
    'brand-font-size': $font-size-base,
    'brand-padding-y': $navbar-brand-padding-y-sm,
    'nav-link-padding-y': $navbar-nav-link-padding-y-sm,
    'nav-height': $navbar-nav-height-sm
  ),
  3: (
    'padding-y': $navbar-padding-y,
    'font-size': $font-size-base,
    'brand-font-size': $font-size-lg,
    'brand-padding-y': $navbar-brand-padding-y,
    'nav-link-padding-y': $navbar-nav-link-padding-y,
    'nav-height': $navbar-nav-height
  ),
  4: (
    'padding-y': $navbar-padding-y-lg,
    'font-size': $font-size-lg,
    'brand-font-size': $font-size-xl,
    'brand-padding-y': $navbar-brand-padding-y-lg,
    'nav-link-padding-y': $navbar-nav-link-padding-y-lg,
    'nav-height': $navbar-nav-height-lg
  ),
  5: (
    'padding-y': $navbar-padding-y-xl,
    'font-size': $font-size-xl,
    'brand-font-size': $font-size-xxl,
    'brand-padding-y': $navbar-brand-padding-y-xl,
    'nav-link-padding-y': $navbar-nav-link-padding-y-xl,
    'nav-height': $navbar-nav-height-xl
  )
), $navbar-sizes);

$navbar-nav-sizes: () !default;
$navbar-nav-sizes: map-merge((
  0: (
    'link-padding-y': 0,
    'link-padding-x': 0
  ),
  1: (
    'link-padding-y': $navbar-nav-link-padding-y-xs,
    'link-padding-x': $navbar-nav-link-padding-x-xs,
    'font-size': $font-size-xs
  ),
  2: (
    'link-padding-y': $navbar-nav-link-padding-y-sm,
    'link-padding-x': $navbar-nav-link-padding-x-sm,
    'font-size': $font-size-sm
  ),
  3: (
    'link-padding-y': $navbar-nav-link-padding-y,
    'link-padding-x': $navbar-nav-link-padding-x,
    'font-size': $font-size-base
  ),
  4: (
    'link-padding-y': $navbar-nav-link-padding-y-lg,
    'link-padding-x': $navbar-nav-link-padding-x-lg,
    'font-size': $font-size-lg
  ),
  5: (
    'link-padding-y': $navbar-nav-link-padding-y-xl,
    'link-padding-x': $navbar-nav-link-padding-x-xl,
    'font-size': $font-size-xl
  )
), $navbar-nav-sizes);

// Navs
$nav-link-active-color: $gray-700 !default;

$nav-link-padding-y-xs: .1rem !default;
$nav-link-padding-x-xs: .25rem !default;

$nav-link-padding-y-sm: .25rem !default;
$nav-link-padding-x-sm: .5rem !default;

$nav-link-padding-y-lg: .75rem !default;
$nav-link-padding-x-lg: 1.5rem !default;

$nav-link-padding-y-xl: 1rem !default;
$nav-link-padding-x-xl: 2rem !default;

$nav-sizes: () !default;
$nav-sizes: map-merge((
  0: (
    'link-padding-y': 0,
    'link-padding-x': 0
  ),
  1: (
    'link-padding-y': $nav-link-padding-y-xs,
    'link-padding-x': $nav-link-padding-x-xs,
    'font-size': $font-size-xs
  ),
  2: (
    'link-padding-y': $nav-link-padding-y-sm,
    'link-padding-x': $nav-link-padding-x-sm,
    'font-size': $font-size-sm
  ),
  3: (
    'link-padding-y': $nav-link-padding-y,
    'link-padding-x': $nav-link-padding-x,
    'font-size': $font-size-base
  ),
  4: (
    'link-padding-y': $nav-link-padding-y-lg,
    'link-padding-x': $nav-link-padding-x-lg,
    'font-size': $font-size-lg
  ),
  5: (
    'link-padding-y': $nav-link-padding-y-xl,
    'link-padding-x': $nav-link-padding-x-xl,
    'font-size': $font-size-xl
  )
), $nav-sizes);

// Card
$card-spacer-y-xs: .25rem !default;
$card-spacer-x-xs: .5rem !default;

$card-spacer-y-sm: .5rem !default;
$card-spacer-x-sm: .75rem !default;

$card-spacer-y-lg: 1rem !default;
$card-spacer-x-lg: 1.5rem !default;

$card-spacer-y-xl: 1.25rem !default;
$card-spacer-x-xl: 1.75rem !default;

$card-state-bg-level: -9 !default;
$card-state-color-level: 6 !default;

$card-dark-color: $white !default;

$card-sizes: () !default;
$card-sizes: map-merge((
  1: (
    'padding-y': $card-spacer-y-xs,
    'padding-x': $card-spacer-x-xs,
    'font-size': $font-size-xs,
    'link-padding-y': $nav-link-padding-y-xs,
    'link-padding-x': $nav-link-padding-x-xs
  ),
  2: (
    'padding-y': $card-spacer-y-sm,
    'padding-x': $card-spacer-x-sm,
    'font-size': $font-size-sm,
    'link-padding-y': $nav-link-padding-y-sm,
    'link-padding-x': $nav-link-padding-x-sm
  ),
  3: (
    'padding-y': $card-spacer-y,
    'padding-x': $card-spacer-x,
    'font-size': $font-size-base,
    'link-padding-y': $nav-link-padding-y,
    'link-padding-x': $nav-link-padding-x
  ),
  4: (
    'padding-y': $card-spacer-y-lg,
    'padding-x': $card-spacer-x-lg,
    'font-size': $font-size-lg,
    'link-padding-y': $nav-link-padding-y-lg,
    'link-padding-x': $nav-link-padding-x-lg
  ),
  5: (
    'padding-y': $card-spacer-y-xl,
    'padding-x': $card-spacer-x-xl,
    'font-size': $font-size-xl,
    'link-padding-y': $nav-link-padding-y-xl,
    'link-padding-x': $nav-link-padding-x-xl
  )
), $card-sizes);

// Progress
$progress-height-xs:    .75rem !default;
$progress-font-size-xs: .6rem !default;

$progress-height-md:    1.25rem !default;
$progress-font-size-md: 1rem !default;

$progress-height-lg:    1.5rem !default;
$progress-font-size-lg: 1.25rem !default;

$progress-height-xl:    1.75rem !default;
$progress-font-size-xl: 1.5rem !default;

$progress-sizes: () !default;
$progress-sizes: map-merge((
  1: (
    'height': $progress-height-xs,
    'font-size': $progress-font-size-xs
  ),
  2: (
    'height': $progress-height,
    'font-size': $progress-font-size
  ),
  3: (
    'height': $progress-height-md,
    'font-size': $progress-font-size-md
  ),
  4: (
    'height': $progress-height-lg,
    'font-size': $progress-font-size-lg
  ),
  5: (
    'height': $progress-height-xl,
    'font-size': $progress-font-size-xl
  )
), $progress-sizes);

// List group
$list-group-item-padding-x-xs: .75rem !default;
$list-group-item-padding-y-xs: .25rem !default;

$list-group-item-padding-x-sm: 1rem !default;
$list-group-item-padding-y-sm: .5rem !default;

$list-group-item-padding-x-lg: 1.5rem !default;
$list-group-item-padding-y-lg: 1rem !default;

$list-group-striped-bg: $light !default;

$list-group-sizes: () !default;
$list-group-sizes: map-merge((
  1: (
    'padding-y': $list-group-item-padding-y-xs,
    'padding-x': $list-group-item-padding-x-xs,
    'font-size': $font-size-xs
  ),
  2: (
    'padding-y': $list-group-item-padding-y-sm,
    'padding-x': $list-group-item-padding-x-sm,
    'font-size': $font-size-sm
  ),
  3: (
    'padding-y': $list-group-item-padding-y,
    'padding-x': $list-group-item-padding-x,
    'font-size': $font-size-base
  ),
  4: (
    'padding-y': $list-group-item-padding-y-lg,
    'padding-x': $list-group-item-padding-x-lg,
    'font-size': $font-size-lg
  )
), $list-group-sizes);

// Breadcrumb
$breadcrumb-padding-y-xs: .25rem !default;
$breadcrumb-padding-x-xs: .5rem !default;
$breadcrumb-item-padding-xs: .25rem !default;
$breadcrumb-font-size-xs: $font-size-xs !default;
$breadcrumb-border-radius-xs: $border-radius-xs !default;

$breadcrumb-padding-y-sm: .5rem !default;
$breadcrumb-padding-x-sm: .75rem !default;
$breadcrumb-item-padding-sm: .375rem !default;
$breadcrumb-font-size-sm: $font-size-sm !default;
$breadcrumb-border-radius-sm: $border-radius-sm !default;

$breadcrumb-padding-y-lg: 1rem !default;
$breadcrumb-padding-x-lg: 1.25rem !default;
$breadcrumb-item-padding-lg: .625rem !default;
$breadcrumb-font-size-lg: $font-size-lg !default;
$breadcrumb-border-radius-lg: $border-radius-lg !default;

$breadcrumb-padding-y-xl: 1.25rem !default;
$breadcrumb-padding-x-xl: 1.5rem !default;
$breadcrumb-item-padding-xl: .75rem !default;
$breadcrumb-font-size-xl: $font-size-xl !default;
$breadcrumb-border-radius-xl: $border-radius-xl !default;

$breadcrumb-dividers: () !default;
$breadcrumb-dividers: map-merge((
  rang:   "27E9",
  raquo:  "00BB",
  rarr:   "2192",
  rsaquo: "203A"
), $breadcrumb-dividers);

$breadcrumb-dark-color:         rgba($white,1) !default;
$breadcrumb-dark-hover-color:   rgba($white,.75) !default;
$breadcrumb-dark-active-color:  rgba($white,.5) !default;
$breadcrumb-dark-divider-color: rgba($white,.5) !default;

$breadcrumb-light-color:         rgba($black,.6) !default;
$breadcrumb-light-hover-color:   rgba($black,.8) !default;
$breadcrumb-light-active-color:  rgba($black,.4) !default;
$breadcrumb-light-divider-color: rgba($black,.4) !default;

$breadcrumb-pill-padding-x: 1.5rem !default;

$breadcrumb-sizes: () !default;
$breadcrumb-sizes: map-merge((
  1: (
    'padding-y': $breadcrumb-padding-y-xs,
    'padding-x': $breadcrumb-padding-x-xs,
    'font-size': $breadcrumb-font-size-xs,
    'border-radius': $breadcrumb-border-radius-xs,
    'item-padding': $breadcrumb-item-padding-xs
  ),
  2: (
    'padding-y': $breadcrumb-padding-y-sm,
    'padding-x': $breadcrumb-padding-x-sm,
    'font-size': $breadcrumb-font-size-sm,
    'border-radius': $breadcrumb-border-radius-sm,
    'item-padding': $breadcrumb-item-padding-sm
  ),
  3: (
    'padding-y': $breadcrumb-padding-y,
    'padding-x': $breadcrumb-padding-x,
    'font-size': $font-size-base,
    'border-radius': $breadcrumb-border-radius,
    'item-padding': $breadcrumb-item-padding
  ),
  4: (
    'padding-y': $breadcrumb-padding-y-lg,
    'padding-x': $breadcrumb-padding-x-lg,
    'font-size': $breadcrumb-font-size-lg,
    'border-radius': $breadcrumb-border-radius-lg,
    'item-padding': $breadcrumb-item-padding-lg
  ),
  5: (
    'padding-y': $breadcrumb-padding-y-xl,
    'padding-x': $breadcrumb-padding-x-xl,
    'font-size': $breadcrumb-font-size-xl,
    'border-radius': $breadcrumb-border-radius-xl,
    'item-padding': $breadcrumb-item-padding-xl
  )
), $breadcrumb-sizes);

// Dropdown
$dropdown-padding-y-xs: .375rem !default;
$dropdown-padding-y-sm: .25rem !default;
$dropdown-padding-y-lg: .75rem !default;
$dropdown-padding-y-xl: 1rem !default;

$dropdown-font-size-xs: $font-size-xs !default;
$dropdown-font-size-sm: $font-size-sm !default;
$dropdown-font-size-lg: $font-size-lg !default;
$dropdown-font-size-xl: $font-size-xl !default;

$dropdown-item-padding-y-xs: .1rem !default;
$dropdown-item-padding-x-xs: .5rem !default;

$dropdown-item-padding-y-sm: .15rem !default;
$dropdown-item-padding-x-sm: 1rem !default;

$dropdown-item-padding-y-lg: .5rem !default;
$dropdown-item-padding-x-lg: 2rem !default;

$dropdown-item-padding-y-xl: .75rem !default;
$dropdown-item-padding-x-xl: 2.5rem !default;

$dropdown-arrow-position:    5px !default;
$dropdown-arrow-width:       1rem !default;
$dropdown-arrow-height:      .5rem !default;
$dropdown-arrow-color:       $dropdown-bg !default;
$dropdown-arrow-outer-color: fade-in($dropdown-border-color, .05) !default;

$dropdown-menu-body-padding: 1rem 1.5rem !default;

$dropdown-menu-sizes: () !default;
$dropdown-menu-sizes: map-merge((
  1: (
    'padding-y': $dropdown-padding-y-xs,
    'item-padding-y': $dropdown-item-padding-y-xs,
    'item-padding-x': $dropdown-item-padding-x-xs,
    'font-size': $dropdown-font-size-xs
  ),
  2: (
    'padding-y': $dropdown-padding-y-sm,
    'item-padding-y': $dropdown-item-padding-y-sm,
    'item-padding-x': $dropdown-item-padding-x-sm,
    'font-size': $dropdown-font-size-sm
  ),
  3: (
    'padding-y': $dropdown-padding-y,
    'item-padding-y': $dropdown-item-padding-y,
    'item-padding-x': $dropdown-item-padding-x,
    'font-size': $dropdown-font-size
  ),
  4: (
    'padding-y': $dropdown-padding-y-lg,
    'item-padding-y': $dropdown-item-padding-y-lg,
    'item-padding-x': $dropdown-item-padding-x-lg,
    'font-size': $dropdown-font-size-lg
  ),
  5: (
    'padding-y': $dropdown-padding-y-xl,
    'item-padding-y': $dropdown-item-padding-y-xl,
    'item-padding-x': $dropdown-item-padding-x-xl,
    'font-size': $dropdown-font-size-xl
  )
), $dropdown-menu-sizes);

// Pagination
$pagination-padding-y-xs: .1rem !default;
$pagination-padding-x-xs: .25rem !default;

$pagination-sizes: () !default;
$pagination-sizes: map-merge((
  1: (
    'padding-y': $pagination-padding-y-xs,
    'padding-x': $pagination-padding-x-xs,
    'font-size': $font-size-xs,
    'line-height': $line-height-xs,
    'border-radius': $border-radius-xs
  ),
  2: (
    'padding-y': $pagination-padding-y-sm,
    'padding-x': $pagination-padding-x-sm,
    'font-size': $font-size-sm,
    'line-height': $line-height-sm,
    'border-radius': $border-radius-sm
  ),
  3: (
    'padding-y': $pagination-padding-y,
    'padding-x': $pagination-padding-x,
    'font-size': $font-size-base,
    'line-height': $line-height-base,
    'border-radius': $border-radius
  ),
  4: (
    'padding-y': $pagination-padding-y-lg,
    'padding-x': $pagination-padding-x-lg,
    'font-size': $font-size-lg,
    'line-height': $line-height-lg,
    'border-radius': $border-radius-lg
  )
), $pagination-sizes);

// Position
$position-properties: top, right, bottom, left;

// Pre
$pre-lg: 800px !default;
$pre-md: 500px !default;
$pre-sm: 300px !default;

// Sidebar
$sidebar-padding-y:             ($spacer / 2) !default;
$sidebar-font-size:             $font-size-base !default;
$sidebar-nav-link-padding-y:    $nav-link-padding-y !default;
$sidebar-nav-link-padding-x:    $nav-link-padding-x !default;

$sidebar-brand-font-size:       $font-size-lg !default;
$sidebar-brand-padding-y:       $nav-link-padding-y !default;

$sidebar-padding-y-xs:          ($spacer * .1) !default;
$sidebar-font-size-xs:          $font-size-xs !default;
$sidebar-brand-font-size-xs:    $font-size-sm !default;
$sidebar-brand-padding-y-xs:    .1rem !default;
$sidebar-nav-link-padding-y-xs: .1rem !default;
$sidebar-nav-link-padding-x-xs: .25rem !default;

$sidebar-padding-y-sm:          ($spacer * .25) !default;
$sidebar-font-size-sm:          $font-size-sm !default;
$sidebar-brand-font-size-sm:    $font-size-base !default;
$sidebar-brand-padding-y-sm:    .25rem !default;
$sidebar-nav-link-padding-y-sm: .25rem !default;
$sidebar-nav-link-padding-x-sm: .5rem !default;

$sidebar-padding-y-lg:          ($spacer * .75) !default;
$sidebar-font-size-lg:          $font-size-lg !default;
$sidebar-brand-font-size-lg:    $font-size-xl !default;
$sidebar-brand-padding-y-lg:    .675rem !default;
$sidebar-nav-link-padding-y-lg: .675rem !default;
$sidebar-nav-link-padding-x-lg: 1.5rem !default;

$sidebar-padding-y-xl:          $spacer !default;
$sidebar-font-size-xl:          $font-size-xl !default;
$sidebar-brand-font-size-xl:    $font-size-xxl !default;
$sidebar-brand-padding-y-xl:    .75rem !default;
$sidebar-nav-link-padding-y-xl: .75rem !default;
$sidebar-nav-link-padding-x-xl: 2rem !default;

$sidebar-toggler-padding-y:          .25rem !default;
$sidebar-toggler-padding-x:          .75rem !default;
$sidebar-toggler-font-size:          $font-size-lg !default;
$sidebar-toggler-border-radius:      $btn-border-radius !default;

$sidebar-modal-fade-transform:       translate(-50px, 0) !default;
$sidebar-modal-right-fade-transform: translate(50px, 0) !default;

$sidebar-dark-color:                 rgba($white,.5) !default;
$sidebar-dark-hover-color:           rgba($white,.75) !default;
$sidebar-dark-active-color:          rgba($white,1) !default;
$sidebar-dark-disabled-color:        rgba($white,.25) !default;
$sidebar-dark-toggler-border-color:  rgba($white,.1) !default;

$sidebar-light-color:                rgba($black,.5) !default;
$sidebar-light-hover-color:          rgba($black,.7) !default;
$sidebar-light-active-color:         rgba($black,.9) !default;
$sidebar-light-disabled-color:       rgba($black,.3) !default;
$sidebar-light-toggler-border-color: rgba($black,.1) !default;

$sidebar-sizes: () !default;
$sidebar-sizes: map-merge((
  0: (
    'link-padding-y': 0,
    'link-padding-x': 0
  ),
  1: (
    'padding-y': $sidebar-padding-y-xs,
    'font-size': $sidebar-font-size-xs,
    'brand-font-size': $sidebar-brand-font-size-xs,
    'brand-padding-y': $sidebar-brand-padding-y-xs,
    'link-padding-y': $sidebar-nav-link-padding-y-xs,
    'link-padding-x': $sidebar-nav-link-padding-x-xs
  ),
  2: (
    'padding-y': $sidebar-padding-y-sm,
    'font-size': $sidebar-font-size-sm,
    'brand-font-size': $sidebar-brand-font-size-sm,
    'brand-padding-y': $sidebar-brand-padding-y-sm,
    'link-padding-y': $sidebar-nav-link-padding-y-sm,
    'link-padding-x': $sidebar-nav-link-padding-x-sm
  ),
  3: (
    'padding-y': $sidebar-padding-y,
    'font-size': $sidebar-font-size,
    'brand-font-size': $sidebar-brand-font-size,
    'brand-padding-y': $sidebar-brand-padding-y,
    'link-padding-y': $sidebar-nav-link-padding-y,
    'link-padding-x': $sidebar-nav-link-padding-x
  ),
  4: (
    'padding-y': $sidebar-padding-y-lg,
    'font-size': $sidebar-font-size-lg,
    'brand-font-size': $sidebar-brand-font-size-lg,
    'brand-padding-y': $sidebar-brand-padding-y-lg,
    'link-padding-y': $sidebar-nav-link-padding-y-lg,
    'link-padding-x': $sidebar-nav-link-padding-x-lg
  ),
  5: (
    'padding-y': $sidebar-padding-y-xl,
    'font-size': $sidebar-font-size-xl,
    'brand-font-size': $sidebar-brand-font-size-xl,
    'brand-padding-y': $sidebar-brand-padding-y-xl,
    'link-padding-y': $sidebar-nav-link-padding-y-xl,
    'link-padding-x': $sidebar-nav-link-padding-x-xl
  )
), $sidebar-sizes);

// Text
$text-state-level: 6 !default;

// Triple bar
$tribar-color:      $primary;
$tribar-height:     2px;
$tribar-margin-top: 5px;
$tribar-width:      24px;
