extends ../example.pug

block head_title
  +example_head_title('form', 'input_size')

block meta_description
  +example_meta_description('form', 'input_size')

block breadcrumb
  +example_breadcrumb('form')

block example_description
  +example_description('form', 'input_size')

block example_result
  - for(var size = 1; size <= 5; size++)
    .mb-3
      +input_variant(size, size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 5; size++)
      input.form-control(type='text', placeholder=size class='input-' + size)

block example_after
  #responsive.pt-3
    h2.h4.fw-400.mb-3 Responsive
  .card.card-body.bg-card-cap
    +example_code
      :encode-pug
        | <!-- Responsive -->
        each breakpoint in ['sm', 'md', 'lg', 'xl']
          - for(var size = 1; size <= 5; size++)
            input.form-control(type='text', placeholder=size class='input-' + breakpoint + '-' + size)
          ="\n"
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
