extends ../example.pug

block example_description
  +example_description('form', 'switch_reverse')

block example_result
  .custom-control.custom-switch.custom-switch-reverse
    input.custom-control-input(type="checkbox" id="customSwitch1")
    label.custom-control-label(for="customSwitch1") Toggle this switch element

block example_code
  :encode-pug
    | <!-- Source -->
    .custom-control.custom-switch.custom-switch-reverse
      input.custom-control-input(type="checkbox" id="customSwitch1")
      label.custom-control-label(for="customSwitch1") Toggle this switch element
