extends ../example.pug

block example_description
  +example_description('border', 'custom')

block example_result
  each text, variant in customColors
    if variant != 'white'
      +border_variant(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in customColors
      if variant != 'white'
        div(class='border-' + variant)
