extends ../example.pug

block head_title
  +example_head_title('border', 'custom')

block meta_description
  +example_meta_description('border', 'custom')

block breadcrumb
  +example_breadcrumb('border')

block example_description
  +example_description('border', 'custom')

block example_result
  each text, variant in customColors
    if variant != 'white'
      +border_variant(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in customColors
      if variant != 'white'
        div(class='border-' + variant)
