extends ../example.pug

block head_title
  +example_head_title('border', 'rounded_pill')

block meta_description
  +example_meta_description('border', 'rounded_pill')

block breadcrumb
  +example_breadcrumb('border')

block example_description
  +example_description('border', 'rounded_pill')

block example_result
  each text, position in {'top': 'Top', 'right': 'Right', 'bottom': 'Bottom', 'left': 'Left'}
    +border_radius(text, position, 'pill')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, position in {'top': 'Top', 'right': 'Right', 'bottom': 'Bottom', 'left': 'Left'}
      div(class='rounded-' + position + '-pill')
    ="\n"
