extends ../example.pug

block head_title
  +example_head_title('border', 'width')

block meta_description
  +example_meta_description('border', 'width')

block breadcrumb
  +example_breadcrumb('border')

block example_description
  +example_description('border', 'width')

block example_result
  - for(var width = 1; width <= 5; width++)
    +border_width(width)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var width = 1; width <= 5; width++)
      p(class='border-' + width)= width + 'px'
      each position in ['top', 'right', 'bottom', 'left']
        p(class='border-' + position + '-' + width)= width + 'px'
      ="\n"

block example_after
  #responsive.pt-3
    h2.h4.font-400.mb-3 Responsive
    .card.card-body.bg-card-cap
      +example_code
        :encode-pug
          | <!-- Responsive -->
          each breakpoint in ['sm', 'md', 'lg', 'xl']
            - for(var width = 0; width <= 5; width++)
              p(class='border-' + breakpoint + '-' + width)= width + 'px'
              each position in ['top', 'right', 'bottom', 'left']
                p(class='border-' + position + '-' + breakpoint + '-' + width)= width + 'px'
              ="\n"
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
