extends ../example.pug

block head_title
  +example_head_title('background', 'contain')

block meta_description
  +example_meta_description('background', 'contain')

block breadcrumb
  +example_breadcrumb('background')

block example_description
  +example_description('background', 'contain')
  p Just add #[code.fs-2 .bg-contain] class to any element which uses #[strong background-image] property.

block example_result
  .row
    .col-10.col-sm-8.col-md-6
      .bg-contain.w-100(style="background-image: url(/" + pkg.name + "/assets/img/home.jpg);background-repeat: no-repeat;height: 100px;")

block example_code
  :encode-pug
    | <!-- Source -->
    .bg-contain
