extends ../example.pug

block head_title
  +example_head_title('background', 'custom')

block meta_description
  +example_meta_description('background', 'custom')

block breadcrumb
  +example_breadcrumb('background')

block example_description
  +example_description('background', 'custom')

block example_result
  each text, variant in customColors
    if variant != 'white'
      +background_inverse(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in customColors
      if variant != 'white'
        div(class='bg-' + variant)
