extends ../example.pug

block example_description
  +example_description('background', 'hover_opacity')

block example_body
  .card-body.bg-dark.bg-striped.text-white
    each text, variant in colors
      +background_hover(text, variant + '-50', 'white')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      - for(var i = 1; i <= 9; i++)
        div(class='bg-hover-' + variant + '-' + i * 10)
      = "\n"
