extends ../example.pug

block head_title
  +example_head_title('background', 'state')

block meta_description
  +example_meta_description('background', 'state')

block breadcrumb
  +example_breadcrumb('background')

block example_description
  +example_description('background', 'state')

block example_result
  each text, variant in colors
    if variant != 'black' && variant != 'white'
      +background_state(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      if variant != 'black' && variant != 'white'
        div(class='bg-state-' + variant)
