extends ../example.pug

block example_link
  a.text-default(href="#font-weights") Weights

block example_result
  each text, weight in {'thin': 'Thin', 'extra-light': 'Extra light', 'light': 'Light', 'medium': 'Medium', 'semi-bold': 'Semi bold', 'extra-bold': 'Extra bold', 'black': 'Black'}
    +font_weight(text, weight)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, weight in {'thin': 'Thin', 'extra-light': 'Extra light', 'light': 'Light', 'medium': 'Medium', 'semi-bold': 'Semi bold', 'extra-bold': 'Extra bold', 'black': 'Black'}
      p(class='font-weight-' + weight)= text
