extends ../example.pug

block head_title
  +example_head_title('button', 'block_responsive')

block meta_description
  +example_meta_description('button', 'block_responsive')

block breadcrumb
  +example_breadcrumb('button')

block example_description
  +example_description('button', 'block_responsive')

block example_result
  button.btn.btn-secondary.btn-xl-block(type='button') Block

block example_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      button.btn.btn-secondary(type='button' class='btn-' + breakpoint + '-block') Button
