extends ../example.pug

block head_title
  +example_head_title('button', 'circle')

block meta_description
  +example_meta_description('button', 'circle')

block breadcrumb
  +example_breadcrumb('button')

block example_description
  +example_description('button', 'circle')

block example_result
  +button('C', ['btn-primary', 'btn-circle'])

block example_code
  :encode-pug
    | <!-- Source -->
    button.btn.btn-primary.btn-circle(type='button') C
