extends ../example.pug

block head_title
  +example_head_title('button', 'hover')

block meta_description
  +example_meta_description('button', 'hover')

block breadcrumb
  +example_breadcrumb('button')

block example_description
  +example_description('button', 'hover')

block example_result
  each text, variant in colors
    +button_hover(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      button.btn.btn-secondary.active(type='button' class='btn-active-' + variant)= text
