extends ../example.pug

block example_description
  +example_description('button', 'opacity')

block example_body
  .card-body.bg-dark.bg-striped
    each text, variant in colors
      +button_variant(text, variant + '-50')

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      - for(var i = 1; i <= 9; i++)
        button.btn(type='button' class='btn-' + variant + '-' + i * 10)= text
      = "\n"
