extends ../example.pug

block head_title
  +example_head_title('button', 'outline')

block meta_description
  +example_meta_description('button', 'outline')

block breadcrumb
  +example_breadcrumb('button')

block example_description
  +example_description('button', 'outline')

block example_body
  .card-body
    +button_outline('Link', 'link')
    each text, variant in customColors
      if variant != 'white'
        +button_outline(text, variant)
  .card-body.bg-dark.bg-striped
    +button_outline('White', 'white')

block example_code
  :encode-pug
    | <!-- Source -->
    button.btn.btn-outline-link(type='button') Link
    each text, variant in customColors
      button.btn(type='button' class='btn-outline-' + variant)= text
