extends ../example-responsive.pug

block example_description
  +example_description('button', 'size')

block example_result
  - for(var size = 1; size <= 5; size++)
    +button_size('Button', size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 5; size++)
      button.btn.btn-secondary(type='button' class='btn-' + size) Button

block responsive_description
  h2.h3.fw-400 Responsive button sizes

block responsive_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      - for(var size = 1; size <= 5; size++)
        button.btn.btn-secondary(type='button' class='btn-' + breakpoint + '-' + size) Button
      ="\n"
