extends ../example.pug

block head_title
  +example_head_title('button', 'state')

block meta_description
  +example_meta_description('button', 'state')

block breadcrumb
  +example_breadcrumb('button')

block example_description
  +example_description('button', 'state')

block example_body
  .card-body
    each text, variant in colors
      if variant != 'black' && variant != 'white'
        +button_state(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in colors
      if variant != 'black' && variant != 'white'
        button.btn(type='button' class='btn-state-' + variant)= text
