extends ../example.pug

block example_link
  a#border-widths.text-gray-dark(href="#border-widths") Widths

block example_result
  +button('Primary', ['btn-outline-primary', 'border-2'])

block example_code
  :encode-pug
    | <!-- Source -->
    .border-2
    .border-top-2
    .border-right-2
    .border-bottom-2
    .border-left-2
