extends ../example.pug

block head_title
  +example_head_title('tribar', 'tribar')

block meta_description
  +example_meta_description('tribar', 'tribar')

block breadcrumb
  +example_breadcrumb('tribar')

block example_description
  +example_description('tribar', 'tribar')

block example_result
  .d-inline-block
    .tribar

block example_code
  :encode-pug
    | <!-- Source -->
    .tribar
