extends ../example-responsive.pug

block head_title
  +example_head_title('pagination', 'size')

block meta_description
  +example_meta_description('pagination', 'size')

block breadcrumb
  +example_breadcrumb('pagination')

block example_description
  +example_description('pagination', 'size')

block example_result
  - for(var size = 1; size <= 5; size++)
    +pagination_size(size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 5; size++)
      ol.pagination(class='pagination-' + size)

block responsive_description
  h2.h3.fw-400 Responsive pagination sizes

block responsive_code
  :encode-pug
    | <!-- Source -->
    each breakpoint in ['sm', 'md', 'lg', 'xl']
      - for(var size = 1; size <= 5; size++)
        ol.pagination(class='pagination-' + breakpoint + '-' + size)
      ="\n"
