extends ../example.pug

block head_title
  +example_head_title('pagination', 'size')

block meta_description
  +example_meta_description('pagination', 'size')

block breadcrumb
  +example_breadcrumb('pagination')

block example_description
  +example_description('pagination', 'size')

block example_result
  - for(var size = 1; size <= 5; size++)
    +pagination_size(size)

block example_code
  :encode-pug
    | <!-- Source -->
    - for(var size = 1; size <= 5; size++)
      ol.pagination(class='pagination-' + size)

block example_after
  #responsive.pt-3
    h2.h4.font-400.mb-3 Responsive
    .card.card-body.bg-card-cap
      +example_code
        :encode-pug
          | <!-- Source -->
          each breakpoint in ['sm', 'md', 'lg', 'xl']
            - for(var size = 1; size <= 5; size++)
              ol.pagination(class='pagination-' + breakpoint + '-' + size)
            ="\n"
  .clearfix

block sidebar_right_items_after
  li.nav-item
    a.nav-link(href="#responsive") Responsive
