extends ../example.pug

block example_link
  a#badge-colors.text-gray-dark(href="#badge-colors") Colors

block example_result
  each text, variant in {'black': 'Black', 'purple': 'Purple', 'pink': 'Pink', 'yellow': 'Yellow'}
    +badge_variant(text, variant)

block example_code
  :encode-pug
    | <!-- Source -->
    each text, variant in {'black': 'Black', 'purple': 'Purple', 'pink': 'Pink', 'yellow': 'Yellow'}
      .badge(class='badge-' + variant)= text
